// COMMON :: START

.social {
	display: flex;
	align-items: center;

	&__item {
		&:not(:last-of-type) {
			padding-right: 26px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;

		.fab {
			position: relative;
			color: #fd5545;
			font-size: 32px;
		}
	}
}

.copyright {
	display: flex;

	&__text {
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		@extend %fontSourceSansPro;
		color: rgba(#333333, 0.76);
	}
}

// COMMON :: END
