@charset "UTF-8";
/* line 30, src/scss/_utilities/_extend.scss */
.c-btn p, .number__box-title {
  font-family: 'Open Sans', sans-serif;
}

/* line 33, src/scss/_utilities/_extend.scss */
.c-title, .main__title, .main__subtitle, .number__box-badge span, .number__box-count, .platform__title, .platform__box-head span, .story__title, .turn-key__box-title, .connect__subtitle {
  font-family: 'Poppins', sans-serif;
}

/* line 36, src/scss/_utilities/_extend.scss */
.copyright__text, .turn-key__box-desc {
  font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before, .icon-twitter:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 41, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before {
  content: "";
}

/* line 41, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 38, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 44, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 54, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 61, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 71, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 77, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 83, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 89, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 100, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 113, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 124, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 131, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 135, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1162px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 8, src/scss/_shared/_common.scss */
.social__item:not(:last-of-type) {
  padding-right: 26px;
}

/* line 13, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
}

/* line 20, src/scss/_shared/_common.scss */
.social__link .fab {
  position: relative;
  color: #fd5545;
  font-size: 32px;
}

/* line 28, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 31, src/scss/_shared/_common.scss */
.copyright__text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.76);
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_logotype.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 6, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 200px;
}

/* line 12, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  text-align: center;
  font-size: 42px;
  line-height: 64px;
  font-weight: 700;
  color: #333333;
}

/* line 3, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  padding-left: 23px;
  padding-right: 23px;
  border-color: #FD5545;
  background-color: #FD5545;
}

/* line 16, src/scss/_macros/_btn.scss */
.c-btn p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

/* line 23, src/scss/_macros/_btn.scss */
.c-btn p span {
  font-weight: 700;
}

/* line 28, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 33, src/scss/_macros/_btn.scss */
.c-btn--radiusBig {
  -webkit-border-radius: 21px;
          border-radius: 21px;
}

/* line 37, src/scss/_macros/_btn.scss */
.c-btn--radiusSmall {
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

/* line 3, src/scss/_components/common/_header.scss */
.header {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 10, src/scss/_components/common/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
  padding-bottom: 10px;
}

/* line 17, src/scss/_components/common/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 24, src/scss/_components/common/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 28, src/scss/_components/common/_header.scss */
.header__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 43px;
}

/* line 33, src/scss/_components/common/_header.scss */
.header__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  color: #333333;
}

/* line 3, src/scss/_components/common/_footer.scss */
.footer {
  background-color: #e1ecfd;
}

/* line 6, src/scss/_components/common/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  position: relative;
  padding-top: 197px;
  padding-bottom: 170px;
}

/* line 8, src/scss/_components/homepage/_main.scss */
.main__bg {
  z-index: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-bottom-left-radius: 350px;
          border-bottom-left-radius: 350px;
  border: 1px solid #F4F9FF;
  background: -webkit-linear-gradient(278deg, #FFFFFF 0%, #FFFFFF 0%, #D9E9FF 59%, #C2CBEE 100%);
  background: -o-linear-gradient(278deg, #FFFFFF 0%, #FFFFFF 0%, #D9E9FF 59%, #C2CBEE 100%);
  background: linear-gradient(172deg, #FFFFFF 0%, #FFFFFF 0%, #D9E9FF 59%, #C2CBEE 100%);
}

/* line 21, src/scss/_components/homepage/_main.scss */
.main__illustration {
  z-index: 0;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 30, src/scss/_components/homepage/_main.scss */
.main__illustration-left, .main__illustration-right {
  height: 100%;
}

/* line 35, src/scss/_components/homepage/_main.scss */
.main__illustration-left {
  width: 50%;
}

/* line 39, src/scss/_components/homepage/_main.scss */
.main__illustration-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 55, src/scss/_components/homepage/_main.scss */
.main__wrapper {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 61, src/scss/_components/homepage/_main.scss */
.main__wrapper-left, .main__wrapper-right {
  height: 100%;
}

/* line 66, src/scss/_components/homepage/_main.scss */
.main__wrapper-left {
  width: 453px;
}

/* line 70, src/scss/_components/homepage/_main.scss */
.main__wrapper-right {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 76, src/scss/_components/homepage/_main.scss */
.main__wrapper-right svg {
  opacity: 0;
  visibility: hidden;
  position: relative;
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: opacity 1s 0.3s ease-in-out, visibility 1s 0.3s ease-in-out;
  -o-transition: opacity 1s 0.3s ease-in-out, visibility 1s 0.3s ease-in-out;
  transition: opacity 1s 0.3s ease-in-out, visibility 1s 0.3s ease-in-out;
}

/* line 86, src/scss/_components/homepage/_main.scss */
.main__title {
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.8px;
  color: #153156;
}

/* line 96, src/scss/_components/homepage/_main.scss */
.main__line {
  width: 100%;
  height: 1px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #fd5545;
}

/* line 105, src/scss/_components/homepage/_main.scss */
.main__subtitle {
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1.2px;
  color: #333333;
}

/* line 115, src/scss/_components/homepage/_main.scss */
.main__desc {
  padding-bottom: 21px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/* line 3, src/scss/_components/homepage/_number.scss */
.number {
  padding-top: 107px;
  padding-bottom: 80px;
}

/* line 7, src/scss/_components/homepage/_number.scss */
.number__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 55px;
}

/* line 14, src/scss/_components/homepage/_number.scss */
.number__title {
  width: 100%;
  max-width: 285px;
  text-align: left;
  font-size: 36px;
  line-height: 50px;
  color: #153156;
}

/* line 23, src/scss/_components/homepage/_number.scss */
.number__desc {
  width: 100%;
  max-width: 368px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/* line 31, src/scss/_components/homepage/_number.scss */
.number__box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 176px;
  background-color: #ffffff;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

/* line 43, src/scss/_components/homepage/_number.scss */
.number__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 47, src/scss/_components/homepage/_number.scss */
.number__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc((100% - 22px) / 3);
  max-width: calc((100% - 22px) / 3);
}

/* line 53, src/scss/_components/homepage/_number.scss */
.number__box-badge {
  position: absolute;
  top: 10px;
  left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 60, src/scss/_components/homepage/_number.scss */
.number__box-badge i {
  margin-right: 5px;
  font-size: 16px;
  color: #FD5545;
}

/* line 66, src/scss/_components/homepage/_number.scss */
.number__box-badge span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.4px;
  color: #333333;
}

/* line 76, src/scss/_components/homepage/_number.scss */
.number__box-count {
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  color: #153156;
}

/* line 84, src/scss/_components/homepage/_number.scss */
.number__box-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

/* line 3, src/scss/_components/homepage/_platform.scss */
.platform {
  position: relative;
  padding-top: 60px;
  padding-bottom: 30px;
}

/* line 8, src/scss/_components/homepage/_platform.scss */
.platform__bg {
  z-index: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-top-right-radius: 350px;
          border-top-right-radius: 350px;
  -webkit-border-bottom-left-radius: 350px;
          border-bottom-left-radius: 350px;
  -webkit-transform: matrix(-1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, -1, 0, 0);
          transform: matrix(-1, 0, 0, -1, 0, 0);
  background: -webkit-linear-gradient(272deg, #fbfbfb 0%, #D9E9FF 79%, #C2CBEE 100%);
  background: -o-linear-gradient(272deg, #fbfbfb 0%, #D9E9FF 79%, #C2CBEE 100%);
  background: linear-gradient(178deg, #fbfbfb 0%, #D9E9FF 79%, #C2CBEE 100%);
}

/* line 22, src/scss/_components/homepage/_platform.scss */
.platform .c-grid {
  z-index: 2;
  position: relative;
}

/* line 27, src/scss/_components/homepage/_platform.scss */
.platform__title {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #153156;
}

/* line 35, src/scss/_components/homepage/_platform.scss */
.platform__title-1, .platform__title-3 {
  width: 100%;
  max-width: 400px;
}

/* line 41, src/scss/_components/homepage/_platform.scss */
.platform__title-2, .platform__title-4 {
  width: 100%;
  max-width: 530px;
  margin-left: auto;
  text-align: right;
}

/* line 50, src/scss/_components/homepage/_platform.scss */
.platform__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

/* line 55, src/scss/_components/homepage/_platform.scss */
.platform__wrapper--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* line 60, src/scss/_components/homepage/_platform.scss */
.platform__wrapper--reverse .platform__box.is-active:after {
  left: -28px;
  right: auto;
  border-color: transparent #fd5545	 transparent transparent;
}

/* line 69, src/scss/_components/homepage/_platform.scss */
.platform__wrapper-left {
  width: 370px;
}

/* line 73, src/scss/_components/homepage/_platform.scss */
.platform__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 81, src/scss/_components/homepage/_platform.scss */
.platform__wrapper-right svg {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: opacity 1s 0.3s ease-in-out, visibility 1s 0.3s ease-in-out;
  -o-transition: opacity 1s 0.3s ease-in-out, visibility 1s 0.3s ease-in-out;
  transition: opacity 1s 0.3s ease-in-out, visibility 1s 0.3s ease-in-out;
}

/* line 90, src/scss/_components/homepage/_platform.scss */
.platform__box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 370px;
  min-height: 160px;
  padding: 15px 30px;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #FFFFFF;
}

/* line 102, src/scss/_components/homepage/_platform.scss */
.platform__box:after {
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -28px;
  width: 0;
  height: 0;
  border-width: 14px;
  border-style: solid;
  border-color: transparent transparent transparent #fd5545;
}

/* line 117, src/scss/_components/homepage/_platform.scss */
.platform__box.is-active {
  border-color: #fd5545;
  background-color: #fd5545;
}

/* line 121, src/scss/_components/homepage/_platform.scss */
.platform__box.is-active:after {
  opacity: 1;
  visibility: visible;
}

/* line 127, src/scss/_components/homepage/_platform.scss */
.platform__box.is-active .platform__box-head i,
.platform__box.is-active .platform__box-head span {
  color: #ffffff;
}

/* line 133, src/scss/_components/homepage/_platform.scss */
.platform__box.is-active .platform__box-desc {
  color: #fff;
}

/* line 138, src/scss/_components/homepage/_platform.scss */
.platform__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 142, src/scss/_components/homepage/_platform.scss */
.platform__box-wrapper > div {
  padding-bottom: 25px;
}

/* line 147, src/scss/_components/homepage/_platform.scss */
.platform__box-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

/* line 153, src/scss/_components/homepage/_platform.scss */
.platform__box-head > div:nth-of-type(1) {
  width: 40px;
}

/* line 157, src/scss/_components/homepage/_platform.scss */
.platform__box-head > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 164, src/scss/_components/homepage/_platform.scss */
.platform__box-head i,
.platform__box-head span {
  color: #333;
}

/* line 169, src/scss/_components/homepage/_platform.scss */
.platform__box-head i {
  font-size: 24px;
}

/* line 173, src/scss/_components/homepage/_platform.scss */
.platform__box-head span {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

/* line 182, src/scss/_components/homepage/_platform.scss */
.platform__box-desc {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

/* line 3, src/scss/_components/homepage/_story.scss */
.story {
  padding-top: 71px;
  padding-bottom: 127px;
}

/* line 7, src/scss/_components/homepage/_story.scss */
.story__title {
  padding-bottom: 145px;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #153156;
  text-align: center;
}

/* line 3, src/scss/_components/homepage/_partners.scss */
.partners {
  position: relative;
  padding-top: 73px;
  padding-bottom: 100px;
}

/* line 8, src/scss/_components/homepage/_partners.scss */
.partners__bg {
  z-index: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-top-right-radius: 350px;
          border-top-right-radius: 350px;
  -webkit-border-bottom-left-radius: 350px;
          border-bottom-left-radius: 350px;
  border: 1px solid #F4F9FF;
  -webkit-transform: matrix(-1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, -1, 0, 0);
          transform: matrix(-1, 0, 0, -1, 0, 0);
  background: -webkit-linear-gradient(279deg, #FEFEFE 0%, #D9E9FF 79%, #C2CBEE 100%);
  background: -o-linear-gradient(279deg, #FEFEFE 0%, #D9E9FF 79%, #C2CBEE 100%);
  background: linear-gradient(171deg, #FEFEFE 0%, #D9E9FF 79%, #C2CBEE 100%);
}

/* line 23, src/scss/_components/homepage/_partners.scss */
.partners__wrapper {
  z-index: 2;
  position: relative;
}

/* line 28, src/scss/_components/homepage/_partners.scss */
.partners__title {
  padding-bottom: 9px;
}

/* line 32, src/scss/_components/homepage/_partners.scss */
.partners__desc {
  width: 100%;
  max-width: 641px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #1E232A;
}

/* line 44, src/scss/_components/homepage/_partners.scss */
.partners__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 48, src/scss/_components/homepage/_partners.scss */
.partners__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* line 58, src/scss/_components/homepage/_partners.scss */
.partners__box-wrapper > div {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 42px;
}

/* line 65, src/scss/_components/homepage/_partners.scss */
.partners__box img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_components/homepage/_turn-key.scss */
.turn-key {
  padding-top: 66px;
  padding-bottom: 83px;
}

/* line 7, src/scss/_components/homepage/_turn-key.scss */
.turn-key__title {
  width: 100%;
  max-width: 478px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 65px;
}

/* line 15, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 19, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

/* line 23, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc(100% / 3);
  max-width: calc(100% / 3);
}

/* line 29, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 23px;
  padding-right: 30px;
}

/* line 36, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-head > div:nth-of-type(1) {
  padding-right: 22px;
}

/* line 39, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-head > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 47, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 52, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-circle {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fd5545;
}

/* line 62, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-circle .fas {
  color: #ffffff;
  font-size: 22px;
}

/* line 68, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-line {
  width: 100%;
  height: 1px;
  background-color: #fd5545;
}

/* line 74, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-title {
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

/* line 83, src/scss/_components/homepage/_turn-key.scss */
.turn-key__box-desc {
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 0.5);
}

/* line 91, src/scss/_components/homepage/_turn-key.scss */
.turn-key__btn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 3, src/scss/_components/homepage/_connect.scss */
.connect {
  padding-top: 68px;
  padding-bottom: 67px;
  background-color: #f2f7ff;
}

/* line 8, src/scss/_components/homepage/_connect.scss */
.connect__title {
  padding-bottom: 16px;
}

/* line 12, src/scss/_components/homepage/_connect.scss */
.connect__desc {
  width: 100%;
  max-width: 570px;
  padding-bottom: 49px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

/* line 26, src/scss/_components/homepage/_connect.scss */
.connect__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 29, src/scss/_components/homepage/_connect.scss */
.connect__wrapper-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 36, src/scss/_components/homepage/_connect.scss */
.connect__subtitle {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

/* line 45, src/scss/_components/homepage/_connect.scss */
.connect__text {
  width: 100%;
  max-width: 163px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

/*# sourceMappingURL=maps/app.css.map */
