/* line 1, src/scss/style.scss */
body {
  color: #515251;
  scroll-behavior: smooth;
}

/* line 5, src/scss/style.scss */
img {
  max-width: 100%;
}

/* line 8, src/scss/style.scss */
a {
  color: #1caada;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

/* line 12, src/scss/style.scss */
a:hover {
  color: #fcbd20;
}

/* line 15, src/scss/style.scss */
a:focus {
  color: #fcbd20;
}

/* line 19, src/scss/style.scss */
p {
  line-height: 28px;
}

/* line 22, src/scss/style.scss */
li {
  line-height: 28px;
}

/* line 25, src/scss/style.scss */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  max-width: 1500px;
}

/* line 31, src/scss/style.scss */
section {
  padding: 0 0 70px 0;
}

/* line 34, src/scss/style.scss */
.headerbg {
  padding: 150px 0 40px;
}

/* line 37, src/scss/style.scss */
.maincontain {
  -webkit-box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 43, src/scss/style.scss */
figure {
  text-align: center;
  margin: 50px auto;
}

/* line 46, src/scss/style.scss */
figure img {
  max-width: 80%;
}

/* line 50, src/scss/style.scss */
h2 {
  font-weight: 400;
  color: #153156;
  font-size: 26px;
}

/* line 55, src/scss/style.scss */
.kwlogo {
  text-align: center;
  padding: 80px 0 50px;
  margin: auto;
}

/* line 59, src/scss/style.scss */
.kwlogo img {
  max-width: 300px;
  width: 90%;
}

/* line 64, src/scss/style.scss */
.hero-image {
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

/* line 70, src/scss/style.scss */
.headline {
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  letter-spacing: -1px;
  padding: 0 50px;
}

/* line 76, src/scss/style.scss */
.headline span {
  display: block;
  font-size: 30px;
}

/* line 81, src/scss/style.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 86, src/scss/style.scss */
.statboxes {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

/* line 92, src/scss/style.scss */
.statboxes li {
  width: -webkit-calc(50% - 8px);
  width: calc(50% - 8px);
  padding: 50px;
  margin: 4px;
}

/* line 96, src/scss/style.scss */
.statboxes li:first-child {
  background: #50c1d3;
}

/* line 99, src/scss/style.scss */
.statboxes li:nth-child(2) {
  background: #d25050;
}

/* line 102, src/scss/style.scss */
.statboxes li:nth-child(3) {
  background: #4f97d2;
}

/* line 105, src/scss/style.scss */
.statboxes li:nth-child(4) {
  background: #5576ba;
}

/* line 110, src/scss/style.scss */
.states {
  font-size: 50px;
  font-weight: 200;
  margin: 20px 0;
}

/* line 115, src/scss/style.scss */
.statesdesc {
  font-size: 22px;
  font-weight: 300;
}

/* line 119, src/scss/style.scss */
.feel-statstics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 123, src/scss/style.scss */
.feel-statstics p {
  color: #fff;
  padding: 30px;
  font-size: 20px;
  border-width: 0 !important;
  border-top-width: 5px !important;
}

/* line 130, src/scss/style.scss */
.feel-statstics li {
  margin-right: 1px;
}

/* line 132, src/scss/style.scss */
.feel-statstics li .feel-number {
  font-size: 40px;
  font-weight: 300;
  margin: 30px 0;
}

/* line 137, src/scss/style.scss */
.feel-statstics li:first-child {
  color: #50c1d3;
  width: 27%;
}

/* line 140, src/scss/style.scss */
.feel-statstics li:first-child p {
  background-color: #50c1d3;
  border: 5px solid #027c89;
}

/* line 145, src/scss/style.scss */
.feel-statstics li:nth-child(2) {
  color: #50c1d3;
  width: 22%;
}

/* line 148, src/scss/style.scss */
.feel-statstics li:nth-child(2) p {
  background-color: #51aad1;
  border: 5px solid #005775;
}

/* line 153, src/scss/style.scss */
.feel-statstics li:nth-child(3) {
  color: #529bcd;
  width: 26%;
}

/* line 156, src/scss/style.scss */
.feel-statstics li:nth-child(3) p {
  background-color: #529bcd;
  border: 5px solid #00527f;
}

/* line 161, src/scss/style.scss */
.feel-statstics li:nth-child(4) {
  color: #5779bc;
  width: 20%;
}

/* line 164, src/scss/style.scss */
.feel-statstics li:nth-child(4) p {
  background-color: #5779bc;
  border: 5px solid #253c7e;
}

/* line 171, src/scss/style.scss */
.meter-dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 175, src/scss/style.scss */
.meter-dashboard > figure {
  width: 40%;
}

/* line 178, src/scss/style.scss */
.meter-dashboard > p {
  width: 60%;
}

/* line 182, src/scss/style.scss */
.wheel-block {
  width: 60%;
}

/* line 185, src/scss/style.scss */
.last-page-meter {
  width: 300px;
  margin: 10px 0;
}

/* line 189, src/scss/style.scss */
.points {
  list-style: square;
  padding: 30px;
}

/* line 193, src/scss/style.scss */
.yesno {
  text-align: left;
  margin: 10px 0;
}

/* line 197, src/scss/style.scss */
.subque {
  font-weight: 600;
}

/* line 200, src/scss/style.scss */
.last-que {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 203, src/scss/style.scss */
.last-que figure {
  margin: 0;
  min-width: 120px;
}

/* line 207, src/scss/style.scss */
.last-que img {
  width: 40%;
}

/* line 211, src/scss/style.scss */
.subanswer {
  margin-left: 20px;
}

/* line 215, src/scss/style.scss */
.footer img {
  max-width: 310px;
}

/* line 218, src/scss/style.scss */
.footer figcaption {
  font-weight: 800;
  font-size: 14px;
  color: #153156;
}

/* line 224, src/scss/style.scss */
.footerbottom {
  text-align: center;
}

/* line 226, src/scss/style.scss */
.footerbottom a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300;
  margin: 20px;
  display: block;
}

/* line 234, src/scss/style.scss */
.footerbottom:before {
  background: #204c81;
  background: -webkit-gradient(left top, right top, color-stop(0%, #204c81), color-stop(67%, #143156), color-stop(100%, #143156));
  background: -webkit-linear-gradient(left, #204c81 0%, #143156 67%, #143156 100%);
  background: -o-linear-gradient(left, #204c81 0%, #143156 67%, #143156 100%);
  background: -webkit-gradient(linear, left top, right top, from(#204c81), color-stop(67%, #143156), to(#143156));
  background: linear-gradient(to right, #204c81 0%, #143156 67%, #143156 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#204c81', endColorstr='#143156', GradientType=1 );
  position: absolute;
  height: 405px;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: -1;
  content: "";
  top: auto;
}

/* line 253, src/scss/style.scss */
.footerlinks {
  padding-top: 100px;
}

/* line 256, src/scss/style.scss */
.kw-symbol {
  width: 60px;
}

/* line 259, src/scss/style.scss */
footer {
  padding: 25px 0;
  text-align: center;
  color: #ffffff;
  background-color: #262626;
  font-weight: 500;
}

/* line 265, src/scss/style.scss */
footer p {
  font-size: 14px;
  margin: 0;
}

/* line 269, src/scss/style.scss */
footer ul {
  margin-bottom: 0;
}

/* line 273, src/scss/style.scss */
footer ul li a:hover {
  text-decoration: none;
}

/* line 276, src/scss/style.scss */
footer ul li a:focus {
  text-decoration: none;
}

/* line 279, src/scss/style.scss */
footer ul li a:active {
  text-decoration: none;
}

/* line 283, src/scss/style.scss */
footer ul li a.active {
  text-decoration: none;
}

/* line 289, src/scss/style.scss */
.footercontent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

/* line 294, src/scss/style.scss */
.footercontent a {
  color: #0085b2;
  font-weight: 600;
}

/* line 299, src/scss/style.scss */
.bg-primary {
  background: #1caada;
  background-image: -webkit-linear-gradient(0deg, #4ccfe2 0%, #56a1e0 100%);
  background-image: -ms-linear-gradient(0deg, #4ccfe2 0%, #56a1e0 100%);
}

/* line 305, src/scss/style.scss */
.text-primary {
  color: #1caada;
}

/* line 309, src/scss/style.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 314, src/scss/style.scss */
.btn-outline {
  color: white;
  border: 1px solid #1caada;
  background-color: #1caada;
}

/* line 318, src/scss/style.scss */
.btn-outline:hover {
  color: white;
  border-color: #1caada;
  background-color: #1caada;
}

/* line 323, src/scss/style.scss */
.btn-outline:focus {
  color: white;
  border-color: #1caada;
  background-color: #1caada;
}

/* line 328, src/scss/style.scss */
.btn-outline:active {
  color: white;
  border-color: #1caada;
  background-color: #1caada;
}

/* line 334, src/scss/style.scss */
.btn-outline.active {
  color: white;
  border-color: #1caada;
  background-color: #1caada;
}

/* line 339, src/scss/style.scss */
.btn {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  letter-spacing: 0px;
}

/* line 342, src/scss/style.scss */
.btn i {
  font-size: 14px;
  margin-left: 5px;
}

/* line 347, src/scss/style.scss */
.btn-xl {
  font-size: 16px;
  padding: 15px 30px;
  font-weight: 600;
  border: solid 2px #1caada;
  background-color: #1caada;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}

/* line 354, src/scss/style.scss */
.btn-xl:hover {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  outline: none;
}

/* line 359, src/scss/style.scss */
.btn-xl:focus {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  outline: none;
}

/* line 365, src/scss/style.scss */
.contact {
  background: url(../../img/footerbg.svg);
  -webkit-background-size: cover;
          background-size: cover;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: center top;
}

/* line 371, src/scss/style.scss */
.contact h2 {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  margin: 20px auto 30px;
}

/* line 377, src/scss/style.scss */
.contact a {
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  padding: 15px 40px;
  color: #2e6695;
  font-weight: 600;
  border: none;
}

/* line 387, src/scss/style.scss */
.scrollto {
  width: 38px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 50px;
  margin: auto;
}

/* line 394, src/scss/style.scss */
.scrollto img {
  max-width: 100%;
}

/* line 398, src/scss/style.scss */
.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 402, src/scss/style.scss */
.socials li a {
  color: #ffffff;
  padding: 0 1px;
  margin: 0 5px;
  font-weight: normal;
  font-size: 20px;
}

/* line 408, src/scss/style.scss */
.socials li a:hover {
  color: #0085b2;
}

/* line 414, src/scss/style.scss */
.addresses {
  width: 19%;
}

/* line 416, src/scss/style.scss */
.addresses span {
  font-weight: 600;
  display: block;
  margin: 0px 0 10px 0;
  font-size: 16px;
  text-transform: uppercase;
}

/* line 424, src/scss/style.scss */
.fixed-top {
  z-index: 100000;
}

/* line 428, src/scss/style.scss */
.navbar-brand img {
  max-width: 247px;
  height: auto;
}

/* line 433, src/scss/style.scss */
#mainNav.navbar-shrink {
  top: 0;
}

/* line 437, src/scss/style.scss */
#mainNav.navbar-shrink .navbar-nav > li a.nav-link-highlight {
  border: 1px solid #222222;
}

/* line 441, src/scss/style.scss */
#mainNav.navbar-shrink .navbar-nav > li > a.nav-link-highlight:hover {
  color: #ffffff;
  border: 1px solid #1caada;
  background: #1caada;
}

/* line 447, src/scss/style.scss */
#mainNav.navbar-shrink .navbar-nav > li > a.nav-link-highlight:focus:hover {
  color: #ffffff;
  border: 1px solid #1caada;
  background: #1caada;
}

/* line 457, src/scss/style.scss */
.navbar {
  padding: 0.7em;
}

/* line 460, src/scss/style.scss */
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  font-weight: 200;
  letter-spacing: 1px;
}

/* line 467, src/scss/style.scss */
#mainNav .navbar-brand {
  font-weight: 600;
  letter-spacing: normal;
  font-size: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 473, src/scss/style.scss */
#mainNav .navbar-brand span {
  margin-top: 2px;
}

/* line 476, src/scss/style.scss */
#mainNav .navbar-brand:hover {
  color: #222222;
}

/* line 479, src/scss/style.scss */
#mainNav .navbar-brand:focus {
  color: #222222;
}

/* line 483, src/scss/style.scss */
#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

/* line 490, src/scss/style.scss */
#mainNav .navbar-nav > li > a {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 20px;
  margin: 0 0 0 10px;
  letter-spacing: 0px;
  color: #222222;
}

/* line 497, src/scss/style.scss */
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

/* line 499, src/scss/style.scss */
#mainNav .navbar-nav > li > a:focus:hover {
  color: #1caada;
}

/* line 503, src/scss/style.scss */
#mainNav .navbar-nav > li > a:hover {
  color: #1caada;
}

/* line 507, src/scss/style.scss */
#mainNav .navbar-nav > li > a.active {
  background-color: transparent;
}

/* line 509, src/scss/style.scss */
#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

/* line 513, src/scss/style.scss */
#mainNav .navbar-nav > li a.nav-link-highlight {
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 1px solid #ffffff;
}

/* line 516, src/scss/style.scss */
#mainNav .navbar-nav > li a.nav-link-highlight:hover {
  color: #1caada;
  background: #ffffff;
}

/* line 524, src/scss/style.scss */
.showform {
  display: none;
  background: #fff;
  background: -webkit-linear-gradient(top, white 70%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, white), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, white 70%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, white 70%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, white 70%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

/* line 531, src/scss/style.scss */
.showform form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

/* line 536, src/scss/style.scss */
.showform input[type="text"] {
  padding: 10px;
  border: 1px solid #c0c0c0;
  width: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 10px;
}

/* line 543, src/scss/style.scss */
.showform input[type="email"] {
  padding: 10px;
  border: 1px solid #c0c0c0;
  width: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 10px;
}

/* line 550, src/scss/style.scss */
.showform button {
  margin: 20px 0 0 !important;
  white-space: normal;
}

/* line 556, src/scss/style.scss */
.showmyform .showform {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  /* line 567, src/scss/style.scss */
  .statboxes li {
    width: 100%;
    margin: 2px 0;
  }
  /* line 572, src/scss/style.scss */
  .maincontain {
    padding: 20px;
  }
  /* line 575, src/scss/style.scss */
  .feel-statstics {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  /* line 577, src/scss/style.scss */
  .feel-statstics li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* line 580, src/scss/style.scss */
  .feel-statstics li .feel-number {
    width: 20%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    min-width: 100px;
  }
  /* line 585, src/scss/style.scss */
  .feel-statstics li:first-child {
    width: 100%;
  }
  /* line 587, src/scss/style.scss */
  .feel-statstics li:first-child p {
    border-width: 0 !important;
    border-left-width: 5px !important;
    margin: 0 0 1px 0;
  }
  /* line 593, src/scss/style.scss */
  .feel-statstics li:nth-child(2) {
    width: 100%;
  }
  /* line 595, src/scss/style.scss */
  .feel-statstics li:nth-child(2) p {
    border-width: 0 !important;
    border-left-width: 5px !important;
    margin: 0 0 1px 0;
  }
  /* line 601, src/scss/style.scss */
  .feel-statstics li:nth-child(3) {
    width: 100%;
  }
  /* line 603, src/scss/style.scss */
  .feel-statstics li:nth-child(3) p {
    border-width: 0 !important;
    border-left-width: 5px !important;
    margin: 0 0 1px 0;
  }
  /* line 609, src/scss/style.scss */
  .feel-statstics li:nth-child(4) {
    width: 100%;
  }
  /* line 611, src/scss/style.scss */
  .feel-statstics li:nth-child(4) p {
    border-width: 0 !important;
    border-left-width: 5px !important;
    margin: 0 0 1px 0;
  }
  /* line 619, src/scss/style.scss */
  .meter-dashboard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 620, src/scss/style.scss */
  .meter-dashboard > figure {
    width: 100%;
    margin: 20px auto;
  }
  /* line 624, src/scss/style.scss */
  .meter-dashboard > p {
    width: 100%;
  }
  /* line 629, src/scss/style.scss */
  figure {
    margin: 20px auto;
  }
  /* line 632, src/scss/style.scss */
  .addresses {
    width: auto;
    margin-top: 30px;
    max-width: 80%;
  }
  /* line 637, src/scss/style.scss */
  .footercontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 992px) {
  /* line 642, src/scss/style.scss */
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  /* line 647, src/scss/style.scss */
  #mainNav .navbar-nav > li > a {
    color: white;
  }
  /* line 649, src/scss/style.scss */
  #mainNav .navbar-nav > li > a:focus {
    color: white;
  }
  /* line 651, src/scss/style.scss */
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  /* line 655, src/scss/style.scss */
  #mainNav .navbar-nav > li > a:hover {
    color: white;
  }
  /* line 662, src/scss/style.scss */
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  /* line 665, src/scss/style.scss */
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  /* line 670, src/scss/style.scss */
  #mainNav.navbar-shrink .navbar-nav > li > a {
    color: #222222;
  }
  /* line 672, src/scss/style.scss */
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  /* line 674, src/scss/style.scss */
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #1caada;
  }
  /* line 678, src/scss/style.scss */
  #mainNav.navbar-shrink .navbar-nav > li > a:hover {
    color: #1caada;
  }
}

@media screen and (max-width: 1440px) {
  /* line 687, src/scss/style.scss */
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  /* line 692, src/scss/style.scss */
  .container {
    max-width: 96%;
    max-width: 96%;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  /* line 701, src/scss/style.scss */
  .addresses {
    width: 20%;
  }
  /* line 705, src/scss/style.scss */
  .headerWebinar_ticker a.tickerTitle {
    margin-top: 0;
  }
}

@media screen and (max-width: 425px) {
  /* line 711, src/scss/style.scss */
  .footercontent {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 auto;
  }
  /* line 717, src/scss/style.scss */
  .container {
    max-width: 96%;
  }
  /* line 720, src/scss/style.scss */
  .mainsection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* line 723, src/scss/style.scss */
  section {
    padding: 20px 0;
  }
  /* line 726, src/scss/style.scss */
  .contact {
    padding: 50px 0;
  }
  /* line 727, src/scss/style.scss */
  .contact button {
    font-size: 15px;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 480px) {
  /* line 735, src/scss/style.scss */
  .showform {
    background: -webkit-linear-gradient(top, white 85%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(85%, white), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, white 85%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(bottom, white 85%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to top, white 85%, rgba(255, 255, 255, 0) 100%);
  }
  /* line 736, src/scss/style.scss */
  .showform form {
    padding: 10px 50px;
  }
  /* line 739, src/scss/style.scss */
  .showform input[type="text"] {
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  /* line 744, src/scss/style.scss */
  .showform input[type="email"] {
    padding: 5px 10px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  /* line 749, src/scss/style.scss */
  .showform button {
    margin: 5px 0 20px 0 !important;
    font-size: 14px;
    padding: 10px 20px;
    width: 100%;
  }
  /* line 761, src/scss/style.scss */
  #mainNav .navbar-brand span {
    font-size: 10px;
  }
}

@media screen and (max-width: 380px) {
  /* line 769, src/scss/style.scss */
  .showform form {
    padding: 10px 20px;
  }
  /* line 772, src/scss/style.scss */
  .showform button {
    margin: 5px 0 20px 0 !important;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
  }
}

/*# sourceMappingURL=maps/style.css.map */
