---
title: KapitalWise | Demo page | Thank you

pageClassName: p-demo
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/demo/_main--thanks
		include components/demo/_connect
