---
title: KapitalWise | Financial Wellness

pageClassName: p-financial-wellness
---
extends shared/_layout

block append style
	link(rel="stylesheet" href="css/styles.css")
	link(rel="stylesheet" href="css/style.css")

block content
	div.body.body--start(class!= pageClassName)

		section.headerbg
			.container
				h1.headline
					span Engaging Consumers on
					|         Financial Wellness
		section
			.container
				.maincontain
					h2 Overview
					p
						| Most people haven’t studied finance or taken a course in personal financial management. They have a basic
						| understanding of the products they need to conduct daily life and, possibly, to save for the future. Unless
						| they’re wealthy, it’s likely they haven’t spent time with a financial advisor. And in today’s reality,
						| they’re
						| not having serious conversations with a banker in a branch – if they visit one at all.
					h2 How they are doing
					ul.statboxes
						li
							.states 44%
							.statesdesc Americans don’t have enough cash to cover a $400 emergency
						li
							.states 43%
							.statesdesc Student loan borrowers are not making payments
						li
							.states 38%
							.statesdesc U.S. households have credit card debt
						li
							.states 33%
							.statesdesc American adults have $0 saved for retirement
					p
						| So how do people get good information on the right types of accounts to open, goals to set and habits to
						| form? For many, it’s a combination of advertisements, suggestions from friends and ad hoc decisions made
						| without guidance. While not everyone has the income opportunity to become wealthy, most people would be
						| relatively better off if they had more clarity on what steps to take and when to take them.
					p
						| Here we lay out the case for financial institutions to reclaim their reputations as trusted advocates for
						| their customers’ financial well-being. If done well, this way of engaging customers yields better outcomes for
						| both the bank and for its the customers. A customer that is growing in financial stability and wealth is
						| ultimately one that is more profitable for the bank.
					h2 What is Financial Health?
					p
						| Financial health and financial wellness are terms that have been broadly used in recent years. We define it
						| as the strength of a person’s financial holdings and habits relative to their income and lifestyle. In other
						| words, how stable they are today and how their habits are contributing (or detracting from) that stability.
						| We believe that financial health should be examined like physical health: vitals (assets, debt, insurance)
						| should be measured, and habits (saving, spending) should be taken into account.
					figure
						img(src='img/what-fh.png', alt='')
					p
						| Financial health is also relative to a person’s peer group in terms of income and lifestyle. Someone making
						| $40,000 can be relatively healthy if they have enough savings, spend less than they make and have overall
						| could weather an uncertain future. On the other hand, someone earning $150,000 a year but spending beyond
						| their means and with significant debt may be relatively unhealthy.
					h2 The Role of Banks
					p
						| There was a time when banks were revered as institutions that provided not only secure storage of money but
						| also highly professional financial advice. The relationship banking model, where a banker understood each
						| customer’s situation and needs has largely been replaced with commoditized products that are sold and
						| serviced through a variety of channels. That personalized touch, and contextual financial advice is gone.
						| Paired with a reputational hit from the 2008 financial crisis, banks are less often seen as a trusted source
						| of advice and planning.
					h2 How customers feel about managing their finance?
					ul.feel-statstics
						li
							.feel-number 59%
							p
								| Managing money is something I have to do, not something I want to do
						li
							.feel-number 47%
							p
								| It reminds me of my financial burden
						li
							.feel-number 37%
							p
								| I do not like to see the money I am spending
						li
							.feel-number 31%
							p
								| It takes too much time
					p.highlighttext
						| New apps have started to fill the gap. Money management, budgeting, micro-savings, and
						| robo-advisory are just a few of the trends we’ve seen as consumers increasingly trust tech companies to help
						| them build financial security. Banks, for the most part, have lagged in rolling out engaging technology to
						| compete with the startups. Instead, their customers spend less time in their bank’s channels, and more time
						| becoming loyal to another brand.
					h2 Huge opportunity
					ul.points
						li
							| Millennials are actively seeking financial advice and need help building credit, saving and managing
							| finances
						li Business owners and SEGs are looking for financial education for employees
						li
							| Boomers and seniors are concerned about income protection and many are looking for help
					h2 Thinking Across Segments
					p
						| Understanding your financial health and how to optimize it is important for everyone, regardless of their
						| current income and wealth. While the advice should be different and personalized, banks should be providing
						| recommendations to customers in every segment.
					figure.wheel-block
						img(src='img/wheel.png', alt='')
					p
						| For customers who are living paycheck to paycheck, or perhaps just starting their careers, small actions can
						| have a huge impact. Setting a modest savings goal and uncovering opportunities to pay down high-cost debt
						| faster can lead to a long-term shift toward financial security. Customers at the other end of the spectrum can
						| focus on other goals, such as how the diversity of their assets can improve the likelihood of generational
						| wealth preservation. A solid financial wellness program should anticipate the needs of customers at every
						| level of wealth and at every step of their financial journey.
					h2 Measuring Financial Wellness
					p
						| In order to improve something, you must first be able to measure it. The cornerstone of a financial wellness
						| program is the ability to score a customer’s financial health against a range of criteria and benchmark them
						| against their peers. Knowing that you won’t have every piece of data about your customer’s finances,
						| KapitalWise takes an iterative approach to build a score. As the customer gives you more information, the
						| score’s accuracy improves, and more actions can be unlocked.
					figure
						img(src='img/flow.png', alt='')
					p
						| We believe that to be financially healthy, a consumer should be able to weather multiple possible future
						| scenarios. With the help of high-performance GPU computing, our algorithms are capable of scenario testing
						| millions of different financial and life scenarios using our custom Monte Carlo simulators to predict the
						| probability of future financial insecurity. Our algorithm includes current earnings, spending pattern,
						| debt-to-income ratio, savings coverage of average expenses, credit score, retirement fund forecast, and
						| insurance coverage.
					p
						| The individual is then benchmarked against their peers based as it relates to income level and cost of
						| living. The score itself can be numerical, such as a scale of 40-100, and is also used to identify the
						| actions that could be taken that would have the most positive impact on the score.
					h2 Using the Score
					p
						| The FinWell score can be provided to relationship managers, such as via a CRM, or be part of a consumer
						| digital experience. In a high-touch environment, relationship managers may use the score to help a customer
						| develop a plan to address any gaps and improve the score over time.
					.meter-dashboard
						figure
							img(src='img/meter.png', alt='')
						p
							| In a digital consumer experience, recommendations on how to improve the score can be displayed in a mobile
							| or online banking experience, with the option to nudge customers toward changes that will improve their
							| standing over time.
					h2 Long-Term Planning vs Seizing the Moment
					p
						| A robust financial wellness program should help customers understand the value of long-term planning for
						| their financial future. By providing a financial wellness score, a bank is taking the first step in a
						| conversation to help their customers plot a long-term plan. The score can be paired with financial literacy
						| information that is tailored to the opportunities the individual has to improve their financial well-being.
					p
						| Having a plan doesn’t guarantee success, however. In our busy lives, it’s easy to forget about a goal you’ve
						| set or when to take the next step to secure your financial future. The best way to help customers achieve
						| goals is to nudge them – at the right time – with a friendly reminder. The KapitalWise platform continuously
						| analyzes the customer’s checking account and notices anytime there’s surplus cash that could be contributed
						| to a savings or investing goal, or be used to pay down a loan. By sending a customer a notification at that
						| moment, you ensure that there’s an opportunity to make progress before a goal is forgotten and the money is
						| spent elsewhere.
					h2 Shared Success
					figure
						img(src='img/shared-success.png', alt='')
					h2 Customer’s success Financial Institution’s Success
					p
						| This type of model is not only a win for the consumer, but it is invaluable to banks as well. With a more
						| engaged, loyal client base, banks will see higher retention numbers and can spend less time and money
						| battling the churn. Most importantly, by helping customers grow their financial success, the bank has more
						| opportunities to cross-sell to a base that is also growing in affluence. This creates more profitable
						| relationships and directly drives revenue for the institution.
					p
						| Every bank and credit union should care about the financial health of their customers. The best ones will
						| make it a pillar of their strategy.
					h2 Feature Set Description:
					h3 Sample Customer Journey
					p.subque
						| Alice is introduced to her wellness score in her banking app and wants to learn more
					figure.last-page-meter
						img(src='img/meter.png', alt='')
					p.subque She enters more information to improve the score’s accuracy
					p.subanswer Do you have an emergency saving?
					figure.yesno
						img(src='img/yes-no.png', alt='')
					p.subque Alice creates an Emergency Saving Goal.
					p.subque
						| Periodically, she receives recommendations on improving the score, and congratulations when
						| making good decisions
					p.subanswer  You spent less than usual last month! Move $100 extra to savings?
					figure.yesno
						img(src='img/yes-no.png', alt='')
					p.subque
						| Some recommendations are for new products that can help her save and build wealth
					.last-que
						p.subanswer Earn a better rate and reach your goal faster with our new savings account
						figure
							img(src='img/hand-bank.svg', alt='')
					p.subque
						| The bank builds a deeper relationship with Alice, and she is happy to have such an advocate
						| for her financial health.

		section#contact.contact.text-center
			.container
				h2 Let us help you take action!
				a.mb-5.btn.btn-xl.js-scroll-trigger(href='../request.php')
					| Request Demo
					i.fas.fa-chevron-right

