---
title: KapitalWise

pageClassName: p-home
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/homepage/_main
		include components/homepage/_number
		include components/homepage/_platform
		include components/homepage/_story
		include components/homepage/_partners
		include components/homepage/_turn-key
		include components/homepage/_connect
