// FOOTER :: START

footer#footer.footer
	.c-grid

		.footer__wrapper
			.footer__wrapper-left

				.logo.logo--footer
					a.logo__btn(href="/")
						img.logo__img(src="img/logo.svg" alt="")

			.footer__wrapper-right

				.copyright
					p.copyright__text © Copyright 2020 KapitalWise. Inc.

// FOOTER :: END
