// HEADER :: START

header#header.header
	.c-grid
		.header__wrapper
			.header__wrapper-left

				.logo.logo--header
					a.logo__btn(href="/")
						img.logo__img(src="img/logo.svg" alt="")

				+hamburger()

			.header__wrapper-right(mobile-block-js)

				ul.header__nav
					li.header__nav-item
						.header__nav-link-wrapper
							a.header__nav-link(href="/") Product
							.header__nav-link-drop
								a(href="#adaptive-banking" anchor-js)
									div
										span
											i.icon-font.icon-banking
									div
										p Adaptive Banking Platform
								a(href="#small-business-engagement" anchor-js)
									div
										span
											i.icon-font.icon-category
									div
										p Small Business Engagement Platform
								a(href="#consumer-financial-wellness" anchor-js)
									div
										span
											i.icon-font.icon-ring-chart
									div
										p Consumer Financial Wellness Platform

					li.header__nav-item
						a.header__nav-link(href="#we-take-security-seriously" anchor-js) Security

				.header__btn.c-btn__wrapper
					a.c-btn.c-btn--radiusBig(href="/demo.html")
						p!= "Get in <span>Touch</span>"



// HEADER :: END
