// SECTION :: START

.connect {
	padding-top: 68px;
	padding-bottom: 67px;
	background-color: #f2f7ff;
	@include adaptive(1023) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__title {
		padding-bottom: 16px;
		@include adaptive(1023) {
			padding-bottom: 15px;
		}
	}

	&__desc {
		opacity: 1;
		width: 100%;
		max-width: 570px;
		padding-bottom: 49px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0px;
		color: #333333;
	}

	&__wrapper {
		display: flex;
		@include adaptive(1023) {
			flex-wrap: wrap;
			width: 100%;
		}

		&-col {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1023) {
				display: flex;
				flex-direction: column;
				align-items: center;
				flex: unset;
				min-width: unset;
				width: 50%;
				padding-bottom: 30px;
			}
		}
	}

	&__subtitle {
		padding-bottom: 20px;
		font-weight: 700;
		font-size: 24px;
		line-height: 32px;
		@extend %fontPoppins;
		color: #333333;
	}

	&__text {
		width: 100%;
		max-width: 163px;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
	}
}

// SECTION :: END
