// SECTION :: START

.number {
	padding-top: 107px;
	padding-bottom: 80px;
	@include adaptive(767) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 55px;
		@include adaptive(767) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-bottom: 40px;
		}
	}

	&__title {
		width: 100%;
		max-width: 285px;
		@include adaptive(767) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding-bottom: 15px;
		}
	}

	&__desc {
		width: 100%;
		max-width: 368px;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		@include adaptive(767) {
			text-align: center;
		}
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 176px;
		padding-top: 15px;
		background-color: #ffffff;
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		@include adaptive(767) {
			min-height: 155px;
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc((100% - 22px) / 3);
				@include adaptive(767) {
					max-width: 100%;

					&:not(:last-of-type) {
						padding-bottom: 15px;
					}
				}
			}
		}

		&-badge {
			position: absolute;
			top: 10px;
			left: 15px;
			display: flex;
			align-items: center;

			.icon-font {
				margin-right: 5px;
				font-size: 16px;
				color: #FD5545;
			}

			span {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 16px;
				line-height: 1;
				@extend %fontPoppins;
				letter-spacing: 0.4px;
				color: #333333;
				@include adaptive(1023) {
					font-size: 14px;
				}
			}
		}

		&-count {
			font-weight: 700;
			font-size: 56px;
			line-height: 1;
			@extend %fontPoppins;
			color: #153156;
			@include adaptive(1279) {
				font-size: 50px;
			}
			@include adaptive(1023) {
				font-size: 45px;
			}
			@include adaptive(767) {
				font-size: 40px;
			}
		}

		&-title {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-size: 14px;
			line-height: 24px;
			@extend %fontOpenSans;
			color: #333333;
		}
	}
}

// SECTION :: END
