// SECTION :: START

.partners {
	position: relative;
	padding-top: 73px;
	padding-bottom: 100px;
	@include adaptive(1279) {
		padding-top: 50px;
		padding-bottom: 75px;
	}

	&__bg {
		z-index: 0;
		opacity: 0.7;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-top-right-radius: 350px;
		border-bottom-left-radius: 350px;
		border: 1px solid #F4F9FF;
		transform: matrix(-1, 0, 0, -1, 0, 0);
		background: linear-gradient(171deg, #FEFEFE 0%, #D9E9FF 79%, #C2CBEE 100%);
		@include adaptive(1279) {
			border-top-right-radius: 250px;
			border-bottom-left-radius: 250px;
		}
		@include adaptive(1023) {
			border-top-right-radius: 200px;
			border-bottom-left-radius: 200px;
		}
		@include adaptive(767) {
			border-top-right-radius: 125px;
			border-bottom-left-radius: 125px;
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title {
		padding-bottom: 9px;
		@include adaptive(1023) {
			padding-bottom: 15px;
		}
	}

	&__desc {
		width: 100%;
		max-width: 641px;
		padding-bottom: 50px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		color: #1E232A;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(1023) {
			max-width: 80%;
		}
		@include adaptive(767) {
			max-width: 100%;
		}
	}
}

// SECTION :: END
