// SECTION :: START

.platform {
	overflow: hidden;
	position: relative;
	padding-top: 60px;
	padding-bottom: 30px;
	@include adaptive(1023) {
		padding-top: 50px;
		padding-bottom: 15px;
	}

	&__bg {
		z-index: 0;
		opacity: 0.7;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-top-right-radius: 350px;
		border-bottom-left-radius: 350px;
		transform: matrix(-1, 0, 0, -1, 0, 0);
		background: linear-gradient(darken(#fefefe, 2%) 0%, #d9e9ff 78.67%, #c2cbee 100%);
		@include adaptive(1279) {
			border-top-right-radius: 250px;
			border-bottom-left-radius: 250px;
		}
		@include adaptive(1023) {
			border-top-right-radius: 200px;
			border-bottom-left-radius: 200px;
		}
	}

	.c-grid {
		z-index: 2;
		position: relative;
	}

	&__title {
		padding-bottom: 40px;
		@include adaptive(1023) {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		&-1,
		&-3 {
			width: 100%;
			max-width: 400px;
			@include adaptive(1023) {
				max-width: 450px;
			}
		}

		&-2,
		&-4 {
			width: 100%;
			max-width: 530px;
			margin-left: auto;
			text-align: right;
			@include adaptive(1023) {
				max-width: 450px;
				text-align: center;
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		padding-bottom: 50px;
		@include adaptive(1023) {
			padding-bottom: 75px;
		}

		&--reverse {
			flex-direction: row-reverse;

			.platform {
				&__wrapper {
					&-right {
						@include adaptive(1023) {
							padding-left: 0;
							padding-right: 15px;
						}

						svg {
							margin-left: 0;
							margin-right: auto;
							transform: translateX(-30px);
							@include adaptive(1023) {
								transform: translateX(0);
								margin-left: auto;
							}
						}
					}
				}
				&__box {
					&.is-active {
						&:after {
							left: -28px;
							right: auto;
							border-color: transparent #fd5545	 transparent transparent;
						}
					}
				}
			}
		}

		&-left {
			width: 370px;
			@include adaptive(1023) {
				max-width: 300px;
			}
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1023) {
				padding-left: 15px;
			}

			svg {
				opacity: 0;
				visibility: hidden;
				display: block;
				margin-left: auto;
				transform: translateX(30px);
				@include transition(opacity 1s, visibility 1s);
				@include adaptive(1279) {
					max-width: calc(100% + 30px);
					height: auto;
				}
				@include adaptive(1023) {
					max-width: 100%;
					transform: translateX(0);
					margin-right: auto;
				}
			}
		}
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 370px;
		min-height: 160px;
		padding: 15px 30px;
		border: 1px solid #DDDDDD;
		border-radius: 3px;
		background-color: #FFFFFF;
		@include adaptive(1023) {
			padding-left: 15px;
			padding-right: 15px;
		}

		&:after {
			content: '';
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -28px;
			width: 0;
			height: 0;
			border-width: 14px;
			border-style: solid;
			border-color: transparent transparent transparent #fd5545;
		}

		&.is-active {
			border-color: #fd5545;
			background-color: #fd5545;

			&:after {
				opacity: 1;
				visibility: visible;
			}

			.platform__box-head {
				i,
				span {
					color: #ffffff;
				}
			}

			.platform__box-desc {
				color: #fff;
			}
		}

		&-wrapper {
			display: flex;
			flex-direction: column;

			> div {
				padding-bottom: 25px;
				@include adaptive(1023) {
					padding-bottom: 15px;
				}
			}
		}

		&-head {
			display: flex;
			align-items: center;
			padding-bottom: 15px;
			@include adaptive(1023) {
				padding-bottom: 10px;
			}

			> div {
				&:nth-of-type(1) {
					display: flex;
					align-items: center;
					width: 40px;
				}

				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}

			.icon-font {
				color: #fd5545;
				font-size: 24px;
				@include adaptive(1023) {
					font-size: 22px;
				}
			}

			span {
				color: #333;
				font-weight: 700;
				font-size: 24px;
				line-height: 32px;
				@extend %fontPoppins;
				color: #333;
				@include adaptive(1279) {
					font-size: 20px;
				}
				@include adaptive(1023) {
					font-size: 18px;
				}
			}
		}

		&-desc {
			font-size: 16px;
			line-height: 24px;
			color: #333;
			@include adaptive(1023) {
				font-size: 14px;
			}
		}
	}
}

// SECTION :: END
