// SECTION :: START

.story {
	padding-top: 71px;
	padding-bottom: 127px;

	&__title {
		padding-bottom: 145px;
		font-weight: 700;
		font-size: 36px;
		line-height: 50px;
		@extend %fontPoppins;
		color: #153156;
		text-align: center;
	}
}

// SECTION :: END
