// SECTION :: START

.turn-key {
	padding-top: 66px;
	padding-bottom: 83px;

	&__title {
		width: 100%;
		max-width: 478px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 65px;
	}

	&__box {
		display: flex;
		flex-direction: column;

		&-wrapper {
			display: flex;
			padding-bottom: 50px;

			> div {
				width: 100%;
				max-width: calc(100% / 3);
			}
		}

		&-head {
			display: flex;
			align-items: center;
			padding-bottom: 23px;
			padding-right: 30px;

			> div {
				&:nth-of-type(1) {
					padding-right: 22px;
				}
				&:nth-of-type(2) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}
		}

		&-body {
			display: flex;
			flex-direction: column;
		}

		&-circle {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: #fd5545;

			.fas {
				color: #ffffff;
				font-size: 22px;
			}
		}

		&-line {
			width: 100%;
			height: 1px;
			background-color: #fd5545;
		}

		&-title {
			padding-bottom: 7px;
			font-weight: 700;
			font-size: 24px;
			line-height: 32px;
			@extend %fontPoppins;
			color: #333333;
		}

		&-desc {
			font-size: 16px;
			line-height: 24px;
			@extend %fontSourceSansPro;
			color: rgba(#333333, 0.5);
		}
	}

	&__btn {
		justify-content: center;
	}
}

// SECTION :: END
