// SECTION :: START

section#connect.connect.connect--demo

	.connect__bg

	.c-grid

		p.connect__title.c-title Connect With Us
		p.connect__desc Top banks in the world use KapitalWise to engage with customers, up-sell, and close revenue, faster.

		.connect__wrapper
			.connect__wrapper-col.connect__wrapper-col-1
				p.connect__subtitle New York
				p.connect__text 43 W 23rd St. 6th Fl. New York NY 10010

			.connect__wrapper-col.connect__wrapper-col-2
				p.connect__subtitle Montreal
				p.connect__text 1470 Peel St. #745. Montreal, QC H3A 1T1

			.connect__wrapper-col.connect__wrapper-col-3
				p.connect__subtitle Bangalore
				p.connect__text Building No. 6A, Outer Ring Road, Bangalore 560103

			.connect__wrapper-col.connect__wrapper-col-4
				p.connect__subtitle Follow us on:

				ul.social
					li.social__item
						a.social__link(href="https://twitter.com/kapitalwise", target="_blank")
							i.icon-font.icon-twitter
					li.social__item
						a.social__link(href="https://www.linkedin.com/company/kapitalwise/", target="_blank")
							i.icon-font.icon-linkedin



// SECTION :: END
