// SECTION :: START

section#demo-main.demo-main

	.demo-main__bg

	.c-grid
		.demo-main__wrapper

			.demo-main__wrapper-left

				p.demo-main__title Request a Demo
				.demo-main__line

				form.demo-main__form(action='' method='' autocomplete='off')
					.demo-main__form-field.demo-main__form-field--input
						label
							input(type='text' name='' placeholder='First Name' required)
					.demo-main__form-field.demo-main__form-field--input
						label
							input(type='text' name='' placeholder='Last Number' required)
					.demo-main__form-field.demo-main__form-field--input
						label
							input(type='email' name='' placeholder='Email Address' required)
					.demo-main__form-field.demo-main__form-field--input
						label
							input(type='text' name='' placeholder='Company' required)
					.demo-main__form-field.demo-main__form-field--textarea
						label
							textarea(name='' placeholder='How Can We Help?' required)
					.demo-main__form-field.demo-main__form-field--button
						.c-btn__wrapper
							button.c-btn.c-btn--radiusBig(type='button')
								p!= "Get in <span>Touch</span>"

			.demo-main__wrapper-right

				include ../illustration/_demo-main-illustration

// SECTION :: END
