// SECTION :: START

section#demo-main.demo-main

	.demo-main__bg

	.c-grid
		.demo-main__wrapper

			.demo-main__wrapper-left

				p.demo-main__title Request a Demo
				.demo-main__line

				.demo-main__thanks
					p!= "Thank you! <br> Your submission has been received!"

			.demo-main__wrapper-right

				include ../illustration/_demo-main-illustration

// SECTION :: END
