// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
	overflow: hidden;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	height: 42px;
	padding-left: 23px;
	padding-right: 23px;
	border-color: #FD5545;
	background-color: #FD5545;
	transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);

	&:hover,
	&:active {
		transition: all 0.75s cubic-bezier(0, 0.9, 0.5, 1);

		&:after {
			opacity: 1;
			visibility: visible;
			transform: translateX(-50%) translateY(-50%) scale(1);
			transition: all 1s cubic-bezier(0, 0.9, 0.5, 1);
		}
	}

	&:after {
		content: '';
		z-index: 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		left: 50%;
		top: 50%;
		width: calc(100% + 30px);
		border-radius: 50%;
		padding: calc(40% + 30px) 0;
		background-color: darken(#FD5545, 5%);
		transform: translateX(-50%) translateY(-50%) scale(0);
		backface-visibility: hidden;
		transform-origin: center;
		transition: all 1s cubic-bezier(0, 0.9, 0.5, 1);
	}

	p {
		z-index: 2;
		position: relative;
		text-align: center;
		font-size: 16px;
		@extend %fontOpenSans;
		letter-spacing: 0px;
		color: #FFFFFF;

		span {
			font-weight: 700;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&--radiusBig {
		border-radius: 21px;
	}

	&--radiusSmall {
		border-radius: 3px;
	}
}

// BUTTON :: END
