// LOGOTYPE :: START

.logo {
	display: flex;

	&__btn {
		display: flex;
		align-items: flex-start;
		max-width: 200px;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
}

// LOGOTYPE :: END
