// SUBTITLE :: START

.c-subtitle {
	@extend %fontPoppins;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 1.8px;
	color: #153156;
	@include adaptive(1279) {
		font-size: 33px;
	}
	@include adaptive(767) {
		font-size: 30px;
	}
}

// SUBTITLE :: END
