// HEADER :: START

.header {
	z-index: 1500;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	&:before {
		content: '';
		z-index: 0;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 3px 5px 0 rgba(#000, 0.05);
		background-color: #ffffff;
		//background: linear-gradient(#fff 0%, #fff 0%, #d9e9ff 58.58%, #c2cbee 100%);
		@include transition(opacity, visibility);
	}

	&.header--fixed {
		&:before {
			opacity: 0.975;
			visibility: visible;
			@include transition(opacity, visibility);
		}

		.header {
			&__wrapper {
				padding-top: 20px;
				padding-bottom: 20px;
				@include transition(padding);
				@include adaptive(767) {
					padding-top: 15px;
					padding-bottom: 15px;
				}
			}
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 44px;
		padding-bottom: 10px;
		@include transition(padding);
		@include adaptive(767) {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		&-left {
			@include adaptive(767) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@include adaptive(767) {
				opacity: 0;
				visibility: hidden;
				transform: translateX(-100%);
				z-index: 1250;
				overflow-y: auto;
				position: fixed;
				top: 79px;
				left: 0;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				height: calc(100% - 79px);
				padding: 50px 15px;
				background-color: rgba(#ffffff, 0.975);
				transform-origin: center;
				backface-visibility: hidden;
				@include transition(opacity, visibility, transform);

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform);
				}
			}
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		@include adaptive(767) {
			flex-direction: column;
			padding-bottom: 50px;
		}

		&-item {
			display: flex;
			padding-right: 43px;
			@include adaptive(767) {
				padding-right: 0;
			}
		}

		&-link {
			position: relative;
			display: flex;
			align-items: center;
			min-height: 42px;
			font-size: 16px;
			color: #333333;
			@include transition(color);
			@include adaptive(767) {
				align-items: center;
				min-height: 45px;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 1px;
				background-color: #fd5545;
				@include transition(width);
			}

			&:after {
				left: 50%;
			}

			&:before {
				right: 50%;
			}

			&:hover {
				color: #fd5545;
				@include transition(color);

				&:after,
				&:before {
					width: 50%;
					@include transition(width);
				}
			}

			&-wrapper {
				position: relative;

				&:hover {
					.header__nav-link-drop {
						opacity: 1;
						visibility: visible;
						transform: translate(-50%, 0);
						@include transition(opacity, visibility, transform);
					}
				}
			}

			&-drop {
				overflow: hidden;
				opacity: 0;
				visibility: hidden;
				z-index: 1000;
				position: absolute;
				top: 100%;
				left: 50%;
				display: flex;
				flex-direction: column;
				transform: translate(-50%, 10px);
				width: 280px;
				border-radius: 5px;
				box-shadow: 0px 5px 20px #153156;
				background-color: #fff;
				transform-origin: center;
				backface-visibility: hidden;
				@include transition(opacity, visibility, transform);

				a {
					position: relative;
					display: flex;
					align-items: center;
					width: 100%;
					min-height: 68px;
					@include transition(background-color);

					&:hover {
						background-color: #f2f7ff;
						@include transition(background-color);

						span {
							background-color: #fd5545;
							box-shadow: 0 3px 10px 0 rgba(#153156, 0.83);
							@include transition(background-color, box-shadow);

							.icon-font {
								color: #ffffff;
								@include transition(color);
							}
						}
					}

					> div {
						&:nth-of-type(1) {
							width: 82px;
							padding-left: 20px;
						}
						&:nth-of-type(2) {
							flex: 1;
							min-width: 1px;
							max-width: 100%;
							padding-right: 20px;
						}
					}

					span {
						position: relative;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 37px;
						height: 37px;
						border: 1px solid rgba(#fd5545, 0.5);
						border-radius: 5px;
						background-color: transparent;
						@include transition(background-color, box-shadow);

						.icon-font {
							color: #fd5545;
							@include transition(color);

							&.icon-banking {
								font-size: 17px;
							}
							&.icon-category {
								font-size: 20px;
							}
							&.icon-ring-chart {
								font-size: 12px;
							}
						}
					}

					p {
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
						color: #153156;
					}
				}
			}
		}
	}

	.hamburger {
		display: none;
		@include adaptive(767) {
			display: flex;
		}
	}
}

// HEADER :: END
