svg#main-illustration-svg(width='788px', height='470px', viewBox='0 0 788 470', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
	defs
		path#main-path-1(d='M23.8,0 L578.711,0 C591.855377,0 602.511,10.655623 602.511,23.8 L602.511,410.238 L0,410.238 L0,23.8 C0,10.655623 10.655623,0 23.8,0 Z')
		filter#main-filter-2(x='-7.9%', y='-10.4%', width='115.8%', height='123.2%', filterUnits='objectBoundingBox')
			feoffset(dx='0', dy='5', in='SourceAlpha', result='shadowOffsetOuter1')
			fegaussianblur(stdDeviation='15', in='shadowOffsetOuter1', result='shadowBlurOuter1')
			fecolormatrix(values='0 0 0 0 0.0823529412   0 0 0 0 0.192156863   0 0 0 0 0.337254902  0 0 0 1 0', type='matrix', in='shadowBlurOuter1')
		rect#main-path-3(x='0', y='0', width='122', height='160', rx='12')
		filter#main-filter-4(x='-38.9%', y='-26.6%', width='177.9%', height='159.4%', filterUnits='objectBoundingBox')
			feoffset(dx='0', dy='5', in='SourceAlpha', result='shadowOffsetOuter1')
			fegaussianblur(stdDeviation='15', in='shadowOffsetOuter1', result='shadowBlurOuter1')
			fecolormatrix(values='0 0 0 0 0.0823529412   0 0 0 0 0.192156863   0 0 0 0 0.337254902  0 0 0 1 0', type='matrix', in='shadowBlurOuter1')
		lineargradient#main-linearGradient-5(x1='-14.7%', y1='5.7%', x2='105.7%', y2='114.7%')
			stop(stop-color='#FF6200', offset='0%')
			stop(stop-color='#F5F593', offset='62.5%')
			stop(stop-color='#F3F3F3', offset='100%')
		lineargradient#main-linearGradient-6(x1='107.5%', y1='115.3%', x2='35.4%', y2='-9.7%')
			stop(stop-color='#C2D2ED', offset='0%')
			stop(stop-color='#FFEBE6', offset='47.9%')
			stop(stop-color='#FAEC45', offset='100%')
		lineargradient#main-linearGradient-7(x1='50%', y1='0%', x2='50%', y2='100%')
			stop(stop-color='#FFEAE3', offset='0%')
			stop(stop-color='#FFD0C2', offset='100%')
		lineargradient#main-linearGradient-8(x1='50%', y1='0%', x2='50%', y2='100%')
			stop(stop-color='#F4FAFF', offset='0%')
			stop(stop-color='#E5F3FF', offset='100%')
		lineargradient#main-linearGradient-9(x1='100%', y1='0%', x2='0%', y2='100%')
			stop(stop-color='#FBE500', offset='0%')
			stop(stop-color='#F5C600', offset='100%')
		rect#main-path-10(x='0.75', y='0.12', width='179', height='174', rx='12')
		filter#main-filter-11(x='-26.5%', y='-24.4%', width='153.1%', height='154.6%', filterUnits='objectBoundingBox')
			feoffset(dx='0', dy='5', in='SourceAlpha', result='shadowOffsetOuter1')
			fegaussianblur(stdDeviation='15', in='shadowOffsetOuter1', result='shadowBlurOuter1')
			fecolormatrix(values='0 0 0 0 0.0823529412   0 0 0 0 0.192156863   0 0 0 0 0.337254902  0 0 0 1 0', type='matrix', in='shadowBlurOuter1')
	g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
		g#main-illustration(transform='translate(28.000000, 25.000000)')
			g#main__screen(transform='translate(64.000000, 0.000000)', fill-rule='nonzero')
				g#main__screen-bg
					use(fill='black', fill-opacity='1', filter='url(#main-filter-2)', xlink:href='#main-path-1')
					use(fill='#FFFFFF', xlink:href='#main-path-1')
				path#main__screen-topbar(d='M20,0 L582,0 C593.045695,0 602,8.954305 602,20 L602,40 L0,40 L0,20 C0,8.954305 8.954305,0 20,0 Z', fill='#F7F8FB')
				ellipse(fill='#FB4747', cx='21', cy='20.5', rx='5', ry='5.5')
				ellipse(fill='#FBC547', cx='37', cy='20.5', rx='5', ry='5.5')
				ellipse(fill='#38AE22', cx='51', cy='20.5', rx='5', ry='5.5')
			g#main__sidebar(transform='translate(63.723000, 39.739000)', fill-rule='nonzero')
				polygon#main__sidebar-bg(fill='#153156', points='0 0 151.341 0 151.341 370.261 0 370.261')
				path#main__sidebar-block-2(d='M17.133,20.94 L67.58,20.94 C70.2083231,20.94 72.339,23.0706769 72.339,25.699 L72.339,37.121 C72.339,38.3831653 71.8376068,39.5936355 70.9451212,40.4861212 C70.0526355,41.3786068 68.8421653,41.88 67.58,41.88 L17.133,41.88 C14.5046769,41.88 12.374,39.7493231 12.374,37.121 L12.374,25.699 C12.374,23.0706769 14.5046769,20.94 17.133,20.94 Z', fill='#FFFFFF')
				rect#main__sidebar-block-1(fill='#FFFFFF', x='79.278', y='21.261', width='59', height='21', rx='5')
				g#main__sidebar-line(transform='translate(25.651000, 81.857000)', fill='#FFFFFF', opacity='0.8')
					path#main__sidebar-line-1(d='M0.952,0 L111.364,0 C111.889775,0 112.316,0.426224918 112.316,0.952 L112.316,2.852 C112.316,3.37777508 111.889775,3.804 111.364,3.804 L0.952,3.804 C0.427394266,3.804 0.00165316932,3.37960313 0,2.855 L0,0.952 C0,0.426224918 0.426224918,0 0.952,0 Z')
					path#main__sidebar-line-2(d='M1.952,28.555 L112.364,28.555 C112.889775,28.555 113.316,28.9812249 113.316,29.507 L113.316,31.407 C113.316,31.9327751 112.889775,32.359 112.364,32.359 L1.952,32.359 C1.42739427,32.359 1.00165317,31.9346031 1,31.41 L1,29.507 C1,28.9812249 1.42622492,28.555 1.952,28.555 Z')
					path#main__sidebar-line-3(d='M1.952,57.11 L112.364,57.11 C112.889775,57.11 113.316,57.5362249 113.316,58.062 L113.316,59.962 C113.316,60.4877751 112.889775,60.914 112.364,60.914 L1.952,60.914 C1.42739427,60.914 1.00165317,60.4896031 1,59.965 L1,58.062 C1,57.5362249 1.42622492,57.11 1.952,57.11 Z')
					path#main__sidebar-line-4(d='M1.952,85.665 L112.364,85.665 C112.889775,85.665 113.316,86.0912249 113.316,86.617 L113.316,88.517 C113.316,89.0427751 112.889775,89.469 112.364,89.469 L1.952,89.469 C1.42739427,89.469 1.00165317,89.0446031 1,88.52 L1,86.617 C1,86.0912249 1.42622492,85.665 1.952,85.665 Z')
					path#main__sidebar-line-5(d='M1.952,114.22 L112.364,114.22 C112.889775,114.22 113.316,114.646225 113.316,115.172 L113.316,117.072 C113.316,117.597775 112.889775,118.024 112.364,118.024 L1.952,118.024 C1.42739427,118.024 1.00165317,117.599603 1,117.075 L1,115.172 C1,114.646225 1.42622492,114.22 1.952,114.22 Z')
					path#main__sidebar-line-6(d='M1.952,142.774 L112.364,142.774 C112.889775,142.774 113.316,143.200225 113.316,143.726 L113.316,145.626 C113.316,146.151775 112.889775,146.578 112.364,146.578 L1.952,146.578 C1.42739427,146.578 1.00165317,146.153603 1,145.629 L1,143.726 C1,143.200225 1.42622492,142.774 1.952,142.774 Z')
					path#main__sidebar-line-7(d='M1.952,171.329 L112.364,171.329 C112.889775,171.329 113.316,171.755225 113.316,172.281 L113.316,174.181 C113.316,174.706775 112.889775,175.133 112.364,175.133 L1.952,175.133 C1.42739427,175.133 1.00165317,174.708603 1,174.184 L1,172.281 C1,171.755225 1.42622492,171.329 1.952,171.329 Z')
				g#main__sidebar-point(transform='translate(11.278000, 80.261000)', fill='#FFFFFF')
					circle#main__sidebar-point-1(cx='4.5', cy='3.5', r='3.5')
					circle#main__sidebar-point-2(cx='4.5', cy='31.5', r='3.5')
					ellipse#main__sidebar-point-3(cx='4.5', cy='60', rx='3.5', ry='3')
					circle#main__sidebar-point-4(cx='4.5', cy='88.5', r='3.5')
					ellipse#main__sidebar-point-5(cx='4.5', cy='117', rx='3.5', ry='3')
					circle#main__sidebar-point-6(cx='4.5', cy='145.5', r='3.5')
					ellipse#main__sidebar-point-7(cx='3.5', cy='175', rx='3.5', ry='3')
			g#main-box--left(transform='translate(0.902000, 49.297000)', fill-rule='nonzero')
				g(transform='translate(0.100000, 0.700000)')
					g
						use(fill='black', fill-opacity='1', filter='url(#main-filter-4)', xlink:href='#main-path-3')
						use(fill='#FFFFFF', xlink:href='#main-path-3')
				path(d='M37.785,67.391 C41.3058153,67.391 44.16,64.5368153 44.16,61.016 C44.16,57.4951847 41.3058153,54.641 37.785,54.641 C34.2641847,54.641 31.41,57.4951847 31.41,61.016 C31.41,62.7067551 32.0816499,64.3282613 33.2771943,65.5238057 C34.4727387,66.7193501 36.0942449,67.391 37.785,67.391 L37.785,67.391 Z M60.098,70.5780001 C65.3789468,70.5780001 69.66,66.2969468 69.66,61.016 L69.66,59.422 L50.535,59.422 L50.535,61.016 C50.535,63.5521733 51.5425594,65.984457 53.3359985,67.7777086 C55.1294376,69.5709602 57.5618267,70.5782652 60.098,70.5780001 L60.098,70.5780001 Z M85.598,70.5779979 L79.223,70.5779979 C77.5404817,70.5766487 75.9261146,71.2426785 74.734,72.43 C78.8251895,74.6608093 81.6057508,78.7105311 82.218,83.33 L88.786,83.33 C90.5459028,83.329448 91.972448,81.9029028 91.973,80.143 L91.973,76.953 C91.973,73.4321847 89.1188153,70.5779979 85.598,70.5779979 Z M45.463,72.43 C44.2708854,71.2426785 42.6565183,70.5766487 40.974,70.5779979 L34.598,70.5779979 C31.0771847,70.5779979 28.223,73.4321847 28.223,76.953 L28.223,80.14 C28.223552,81.8999028 29.6500972,83.326448 31.41,83.327 L37.978,83.327 C38.5911527,78.7086371 41.3715941,74.6602045 45.462,72.43 L45.463,72.43 Z M82.411,67.391 C85.9318153,67.391 88.786,64.5368153 88.786,61.016 C88.786,57.4951847 85.9318153,54.641 82.411,54.641 C78.8901847,54.641 76.036,57.4951847 76.036,61.016 C76.036,64.5364248 78.8895753,67.3904478 82.41,67.391 L82.411,67.391 Z M67.748,73.766 L66.92,73.766 C64.7943459,74.8021843 62.4627263,75.346639 60.098,75.359 C57.7332087,75.3462248 55.4016078,74.8014327 53.276,73.765 L52.448,73.765 C49.4044675,73.765 46.4856048,74.974107 44.3335961,77.1263032 C42.1815874,79.2784995 40.973,82.1974675 40.973,85.241 L40.973,88.11 C40.973,90.7504734 43.1135266,92.891 45.754,92.891 L74.442,92.891 C77.0824734,92.891 79.223,90.7504734 79.223,88.11 L79.223,85.241 C79.223,78.9035325 74.0854675,73.766 67.748,73.766 L67.748,73.766 Z M69.661,48.266 L64.879,50.656 L60.098,48.266 L55.317,50.657 L50.536,48.266 L50.536,56.235 L69.66,56.235 L69.661,48.266 Z', fill='#FEABA3')
				rect(fill='#BECEEA', x='29.098', y='104.703', width='65', height='12', rx='5')
			g#main__content(transform='translate(223.507000, 61.631000)')
				g#main__content-footer(transform='translate(1.000000, 203.966000)')
					g#main__content-footer--left(transform='translate(0.074000, 0.967000)')
						g
							g
								g
									rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='100.53', height='117.694', rx='9')
									rect(stroke-opacity='0.289999992', stroke='#CDD0E3', x='0.5', y='0.5', width='99.53', height='116.694', rx='8.5')
								g(opacity='0.096', transform='translate(5.419000, 6.436000)')
									rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='24', height='6', rx='3')
									rect(stroke='#C2D2ED', x='0.5', y='0.5', width='23', height='5', rx='2.5')
							g(transform='translate(9.095000, 14.715000)', fill-rule='nonzero')
								path(d='M40.311,72.8190012 C38.195,72.8190012 36.0843346,72.6067762 34.011,72.184 C30.0122927,71.3662798 26.2137163,69.7692399 22.832,67.484 C17.8052704,64.0897502 13.8709848,59.3103191 11.506,53.725 C10.7064607,51.833937 10.0961495,49.8683466 9.684,47.857 C8.83726577,43.6996761 8.83726577,39.4143239 9.684,35.257 C10.5017452,31.2583004 12.0987832,27.4597288 14.384,24.078 C17.7781052,19.0509005 22.5575506,15.1162557 28.143,12.751 C30.034063,11.9514607 31.9996534,11.3411495 34.011,10.929 C38.1683239,10.0822658 42.4536761,10.0822658 46.611,10.929 C50.6097073,11.7467202 54.4082837,13.3437601 57.79,15.629 C62.8170995,19.0231052 66.7517443,23.8025506 69.117,29.388 C69.9165024,31.2790765 70.5268124,33.2446632 70.939,35.256 C71.7857342,39.4133239 71.7857342,43.6986761 70.939,47.856 C70.1212798,51.8547073 68.5242399,55.6532837 66.239,59.035 C62.8448948,64.0620995 58.0654494,67.9967443 52.48,70.362 C50.5889235,71.1615024 48.6233368,71.7718124 46.612,72.184 C44.5383389,72.6068498 42.4273345,72.8190012 40.311,72.8190012 Z M40.311,13.6009981 C38.4186868,13.6009981 36.5311484,13.7908691 34.677,14.169 C31.0998021,14.900694 27.7017802,16.3299021 24.677,18.375 C20.1825291,21.4092612 16.6644459,25.6818148 14.549,30.675 C13.8341183,32.3662797 13.2884564,34.1241885 12.92,35.923 C12.1627526,39.6408328 12.1627526,43.4731672 12.92,47.191 C13.651694,50.7681979 15.0809021,54.1662198 17.126,57.191 C20.1602612,61.6854709 24.4328148,65.2035541 29.426,67.319 C31.1172797,68.0338817 32.8751885,68.5795436 34.674,68.948 C38.3918328,69.7052474 42.2241672,69.7052474 45.942,68.948 C49.5191979,68.216306 52.9172198,66.7870979 55.942,64.742 C60.4364709,61.7077388 63.9545541,57.4351852 66.07,52.442 C66.7848879,50.7507225 67.3305499,48.9928131 67.699,47.194 C68.4562474,43.4761672 68.4562474,39.6438328 67.699,35.926 C66.967306,32.3488021 65.5380979,28.9507802 63.493,25.926 C60.4593175,21.4300495 56.1867064,17.9105295 51.193,15.794 C49.5028614,15.0807364 47.7463082,14.5364192 45.949,14.169 C44.0935429,13.7905949 42.2046502,13.6002985 40.311,13.6009981 Z', fill='#F3F5F8')
								path(d='M40.189,67.4250007 C38.4132358,67.4250007 36.6419519,67.2468322 34.902,66.892 C31.5461576,66.2045588 28.3585229,64.8630407 25.521,62.944 C21.3027096,60.0966077 18.0006861,56.0870077 16.015,51.401 C15.3440036,49.8138324 14.8318376,48.1641154 14.486,46.476 C13.7753006,42.9868222 13.7753006,39.3901778 14.486,35.901 C15.1734412,32.5451576 16.5149593,29.3575229 18.434,26.52 C21.2814941,22.3020405 25.2910926,19.0003656 29.977,17.015 C31.563846,16.3440664 33.213225,15.8319014 34.901,15.486 C38.3901778,14.7753006 41.9868222,14.7753006 45.476,15.486 C48.8304486,16.1739405 52.0166794,17.5154398 54.853,19.434 C59.0727701,22.2808136 62.3762303,26.290471 64.363,30.977 C65.0339964,32.5641676 65.5461624,34.2138846 65.892,35.902 C66.6027267,39.391175 66.6027267,42.987825 65.892,46.477 C65.2039347,49.8311002 63.8624401,53.01698 61.944,55.853 C59.0971864,60.0727701 55.087529,63.3762303 50.401,65.363 C48.8138324,66.0339964 47.1641154,66.5461624 45.476,66.892 C43.7360481,67.2468322 41.9647642,67.4250007 40.189,67.4250007 L40.189,67.4250007 Z M40.189,18.2489993 C38.636258,18.2489993 37.0874318,18.4047533 35.566,18.715 C32.6326192,19.3164053 29.8463167,20.4893706 27.366,22.167 C23.6773501,24.6562967 20.7897346,28.1618682 19.053,32.259 C18.4663121,33.6466898 18.018461,35.0890586 17.716,36.565 C17.094518,39.6160064 17.094518,42.7609936 17.716,45.812 C18.3174053,48.7453808 19.4903706,51.5316833 21.168,54.012 C23.6578541,57.7000597 27.1637617,60.5869712 31.261,62.323 C32.6486898,62.9096879 34.0910586,63.357539 35.567,63.66 C38.6180064,64.281482 41.7629936,64.281482 44.814,63.66 C47.7473808,63.0585947 50.5336833,61.8856294 53.014,60.208 C56.7020597,57.7181459 59.5889712,54.2122383 61.325,50.115 C61.9116879,48.7273102 62.359539,47.2849414 62.662,45.809 C63.283482,42.7579936 63.283482,39.6130064 62.662,36.562 C62.0605947,33.6286192 60.8876294,30.8423167 59.21,28.362 C56.7201248,24.6748297 53.2146107,21.7886509 49.118,20.053 C47.7303102,19.4663121 46.2879414,19.018461 44.812,18.716 C43.2904659,18.4067608 41.7416407,18.2516438 40.189,18.253 L40.189,18.2489993 Z', fill='#F3F5F8')
								path(d='M40.4483292,72.7295627 C39.5340218,72.7295627 38.7928292,71.9883701 38.7928292,71.0740627 C38.7928292,70.1597553 39.5340218,69.4185627 40.4483292,69.4185627 C52.5560837,69.4038385 63.2781974,61.5966224 67.0096202,50.0781841 C70.741043,38.5597458 66.633551,25.9484471 56.8343606,18.8369211 C47.0351701,11.725395 33.771825,11.7302277 23.9778196,18.8488929 C14.1838141,25.9675581 10.0855135,38.5818467 13.8253292,50.0975627 C14.0082492,50.6598988 13.8772715,51.2771054 13.4817342,51.7166867 C13.0861969,52.1562681 12.4861915,52.3514414 11.9077342,52.2286867 C11.3292769,52.1059321 10.8602491,51.6838988 10.6773292,51.1215627 C6.4781749,38.2270382 11.0602478,24.0951348 22.0267874,16.1178753 C32.993327,8.14061574 47.8495049,8.13278341 58.8244498,16.0984752 C69.7993947,24.0641669 74.396366,38.191231 70.2108103,51.0901761 C66.0252546,63.9891211 54.0093632,72.725507 40.4483292,72.7295627 L40.4483292,72.7295627 Z', fill='url(#main-linearGradient-5)', transform='translate(40.438971, 41.429563) rotate(111.000000) translate(-40.438971, -41.429563) ')
								path(d='M29.2649774,79.4381494 C28.3537076,79.4381494 27.6149774,78.6993809 27.6149774,77.7881111 C27.6149774,76.8768413 28.3537076,76.1381111 29.2649774,76.1381111 C41.3961868,76.1510801 51.4445173,66.7251528 52.2062178,54.617873 C52.9679183,42.5105933 44.1801603,31.8996386 32.1429774,30.3921111 C31.5583122,30.3190503 31.0570369,29.9396242 30.8279768,29.3967589 C30.5989167,28.8538936 30.6768717,28.2300634 31.0324768,27.7602589 C31.3880819,27.2904544 31.9673122,27.0460503 32.5519774,27.1191111 C46.3265437,28.8330953 56.3881107,40.9712369 55.5177503,54.8247163 C54.6473898,68.6781958 43.1457507,79.4616047 29.2649774,79.4381494 Z', fill='url(#main-linearGradient-6)', transform='translate(41.592582, 53.272253) rotate(83.000000) translate(-41.592582, -53.272253) ')
						g(transform='translate(7.846000, 98.814000)')
							g(transform='translate(0.736000, 6.130000)')
								rect(fill='#FD5545', fill-rule='nonzero', x='0', y='0', width='4.904', height='4.904', rx='2.452')
								g(opacity='0.228', transform='translate(6.837000, 0.493000)')
									rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='34', height='5', rx='2.5')
									rect(stroke='#C2D2ED', x='0.5', y='0.5', width='33', height='4', rx='2')
							rect(fill='#B4B7CC', fill-rule='nonzero', opacity='0.4', x='0', y='0', width='84.837', height='1')
							g(opacity='0.288', transform='translate(43.400000, 6.130000)')
								rect(fill='#FDD845', fill-rule='nonzero', x='0', y='0', width='4.904', height='4.904', rx='2.452')
								g(transform='translate(7.173000, 0.493000)')
									rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='34', height='5', rx='2.5')
									rect(stroke='#C2D2ED', x='0.5', y='0.5', width='33', height='4', rx='2')
					g#main__content-footer--middle(transform='translate(110.412000, 0.967000)')
						g
							g(fill-rule='nonzero')
								path(d='M5.885,0 L204.985,0 C208.235196,0 210.87,2.63480425 210.87,5.885 L210.87,111.809 C210.87,115.059196 208.235196,117.694 204.985,117.694 L5.885,117.694 C2.63480425,117.694 0,115.059196 0,111.809 L0,5.885 C0,2.63480425 2.63480425,0 5.885,0 Z', fill='#FFFFFF')
								path(d='M5.88467407,0.999992371 C3.19125366,0.999992371 1,3.19126892 1,5.8846817 L1,111.808907 C1,114.502319 3.19125366,116.693573 5.88467407,116.693573 L204.982971,116.693573 C207.676392,116.693573 209.867676,114.502319 209.867676,111.808907 L209.867676,5.8846817 C209.867676,3.19126892 207.676392,0.999992371 204.982971,0.999992371 L5.88467407,0.999992371 M5.88467407,-7.62939453e-06 L204.982971,-7.62939453e-06 C208.233002,-7.62939453e-06 210.867676,2.63465881 210.867676,5.8846817 L210.867676,111.808907 C210.867676,115.058929 208.233002,117.693573 204.982971,117.693573 L5.88467407,117.693573 C2.63464355,117.693573 0,115.058929 0,111.808907 L0,5.8846817 C0,2.63465881 2.63464355,-7.62939453e-06 5.88467407,-7.62939453e-06 Z', fill-opacity='0.289999992', fill='#CDD0E3')
							g(opacity='0.499', transform='translate(7.081000, 6.436000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='43', height='6', rx='3')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='42', height='5', rx='2.5')
						g(transform='translate(7.846000, 32.856000)', fill='#E1E2EB', fill-rule='nonzero')
							rect(x='0', y='0', width='195.175', height='1')
						g#main__content-line-1(transform='translate(120.303000, 44.543000)')
							g#main__content-line-1-3(transform='translate(0.777000, 8.894000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='25', height='1', rx='0.5')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='24', height='1')
							g#main__content-line-1-2(transform='translate(0.777000, 4.894000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='53', height='2', rx='1')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='52', height='1', rx='0.5')
							g#main__content-line-1-1(transform='translate(0.777000, 0.894000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='53', height='2', rx='1')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='52', height='1', rx='0.5')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='9.081', y='26.436', width='13', height='3', rx='1.5')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='84.081', y='26.436', width='13', height='3', rx='1.5')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='151.081', y='26.436', width='12', height='3', rx='1.5')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='190.081', y='26.436', width='13', height='3', rx='1.5')
						g(transform='translate(7.846000, 44.404000)')
							g(transform='translate(0.000000, 29.712000)', fill='#E1E2EB', fill-rule='nonzero')
								rect#Rectangle-9(x='0', y='0.423', width='195.175', height='1')
							g(opacity='0.095', transform='translate(26.946000, 0.138000)')
								g(opacity='0.647', transform='translate(0.288000, 0.894000)')
									rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='65', height='4', rx='2')
									rect(stroke='#C2D2ED', x='0.5', y='0.5', width='64', height='3', rx='1.5')
								g(opacity='0.647', transform='translate(0.288000, 4.894000)')
									rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='65', height='4', rx='2')
									rect(stroke='#C2D2ED', x='0.5', y='0.5', width='64', height='3', rx='1.5')
							g(transform='translate(0.000000, 0.712000)', fill='#C2D2ED', fill-rule='nonzero')
								rect(x='0', y='0', width='21.577', height='21.577', rx='10.7885')
							g(transform='translate(182.235000, 0.032000)')
								rect(fill-opacity='0.349999994', fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='13', height='5', rx='2.5')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='12', height='4', rx='2')
						g(transform='translate(7.846000, 78.691000)')
							g(transform='translate(0.000000, 0.732000)')
								rect(fill='#E1E2EB', fill-rule='nonzero', x='0', y='30.423', width='195.175', height='1')
								g#main__content-line-3(transform='translate(112.457000, 0.406000)')
									g#main__content-line-3-3(transform='translate(0.777000, 9.607000)')
										rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='25', height='3', rx='1.5')
										rect(stroke='#C2D2ED', x='0.5', y='0.5', width='24', height='2', rx='1')
									g#main__content-line-3-2(transform='translate(0.777000, 5.607000)')
										rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='53', height='3', rx='1.5')
										rect(stroke='#C2D2ED', x='0.5', y='0.5', width='52', height='2', rx='1')
									g#main__content-line-3-1(transform='translate(0.777000, 0.607000)')
										rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='53', height='3', rx='1.5')
										rect(stroke='#C2D2ED', x='0.5', y='0.5', width='52', height='2', rx='1')
							g#main__content-line-2(transform='translate(26.946000, 1.138000)', opacity='0.647')
								g#main__content-line-2-1(transform='translate(0.288000, 0.607000)')
									rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='65', height='4', rx='2')
									rect(stroke='#C2D2ED', x='0.5', y='0.5', width='64', height='3', rx='1.5')
								g#main__content-line-2-2(transform='translate(0.288000, 5.607000)')
									rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='65', height='3', rx='1.5')
									rect(stroke='#C2D2ED', x='0.5', y='0.5', width='64', height='2', rx='1')
							g(transform='translate(0.000000, 1.732000)', fill='#C2D2ED', fill-rule='nonzero')
								rect(x='0', y='0', width='21.577', height='21.577', rx='10.7885')
							g(transform='translate(182.235000, 0.745000)')
								rect(fill-opacity='0.349999994', fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='13', height='5', rx='2.5')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='12', height='4', rx='2')
					g#main__content-footer--right(transform='translate(330.538000, 0.967000)')
						g
							g(transform='translate(0.549000, 0.000000)')
								rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='100.53', height='117.694', rx='10')
								rect(stroke-opacity='0.289999992', stroke='#CDD0E3', x='0.5', y='0.5', width='99.53', height='116.694', rx='9.5')
							g(transform='translate(8.000000, 22.539000)')
								g(opacity='0.598', transform='translate(0.000000, 1.000000)', fill-rule='nonzero')
									g(transform='translate(0.395000, 0.000000)', fill='url(#main-linearGradient-7)', opacity='0.5')
										rect(x='0', y='0', width='15.692', height='15.692', rx='7.846')
									rect(fill='#B4B7CC', opacity='0.4', x='0.395', y='23.294', width='84.837', height='1')
								g(transform='translate(0.395000, 32.630000)', fill-rule='nonzero')
									g(fill='url(#main-linearGradient-8)')
										rect(x='0', y='0', width='15.692', height='15.692', rx='7.846')
									rect(fill='#B4B7CC', opacity='0.4', x='0', y='23.294', width='84.837', height='1')
								g(transform='translate(0.395000, 0.376000)')
									rect(fill='url(#main-linearGradient-9)', fill-rule='nonzero', opacity='0.183', x='0', y='63.639', width='15.692', height='15.692', rx='7.846')
									g(opacity='0.365', transform='translate(19.133000, 0.000000)')
										g(transform='translate(0.426000, 0.522000)')
											rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='51', height='4', rx='2')
											rect(stroke='#C2D2ED', x='0.5', y='0.5', width='50', height='3', rx='1.5')
										g(transform='translate(0.426000, 6.522000)')
											rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='25', height='2', rx='1')
											rect(stroke='#C2D2ED', x='0.5', y='0.5', width='24', height='1', rx='0.5')
									rect(fill='url(#main-linearGradient-9)', fill-rule='nonzero', opacity='0.183', x='0', y='63.639', width='15.692', height='15.692', rx='7.846')
						g(transform='translate(6.955000, 6.436000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='52', height='6', rx='3')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='51', height='5', rx='2.5')
						g(opacity='0.365', transform='translate(27.529000, 87.798000)')
							g(transform='translate(0.426000, 0.638000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='51', height='4', rx='2')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='50', height='3', rx='1.5')
							g(transform='translate(0.426000, 6.638000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='25', height='2', rx='1')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='24', height='1', rx='0.5')
						g(opacity='0.365', transform='translate(27.529000, 55.925000)')
							g(transform='translate(0.426000, 0.511000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='51', height='3', rx='1.5')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='50', height='2', rx='1')
							g(transform='translate(0.426000, 5.511000)')
								rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='25', height='3', rx='1.5')
								rect(stroke='#C2D2ED', x='0.5', y='0.5', width='24', height='2', rx='1')
						g(transform='translate(81.955000, 6.436000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='12', height='6', rx='3')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='11', height='5', rx='2.5')
				g#main__content-graph(transform='translate(0.493000, 65.369000)')
					g(opacity='0.499', transform='translate(414.000000, 8.000000)')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='11', height='5', rx='2.5')
						rect(stroke='#C2D2ED', x='0.5', y='0.5', width='10', height='4', rx='2')
					g(opacity='0.499', transform='translate(401.000000, 8.000000)')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='9', height='5', rx='2.5')
						rect(stroke='#C2D2ED', x='0.5', y='0.5', width='8', height='4', rx='2')
					g(opacity='0.499', transform='translate(387.000000, 8.000000)')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='9', height='5', rx='2.5')
						rect(stroke='#C2D2ED', x='0.5', y='0.5', width='8', height='4', rx='2')
					g(opacity='0.499', transform='translate(8.000000, 8.000000)')
						rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='42', height='5', rx='2.5')
						rect(stroke='#C2D2ED', x='0.5', y='0.5', width='41', height='4', rx='2')
					g(transform='translate(0.507000, 0.597000)', fill-rule='nonzero')
						g
							g
								path(d='M12.045,0 L419.572,0 C426.224,0 431.617,2.848 431.617,6.362 L431.617,120.883 C431.617,124.397 426.224,127.245 419.572,127.245 L12.045,127.245 C5.393,127.245 0,124.4 0,120.883 L0,6.362 C0,2.848 5.393,0 12.045,0 Z', fill='#FFFFFF')
								path(d='M12.0451355,0.999992371 C8.98760986,0.999992371 6.12866211,1.6206665 3.99499512,2.74771881 C2.09158325,3.75305176 0.999969482,5.07049561 0.999969482,6.36227417 L0.999969482,120.883385 C0.999969482,122.175163 2.09158325,123.492607 3.99499512,124.49794 C6.12866211,125.624992 8.98760986,126.245667 12.0451355,126.245667 L419.572388,126.245667 C422.629883,126.245667 425.488831,125.624992 427.622498,124.49794 C429.525879,123.492607 430.617554,122.17511 430.617554,120.883385 L430.617554,6.36227417 C430.617554,5.07054901 429.525879,3.75305176 427.622498,2.74771881 C425.488831,1.6206665 422.629883,0.999992371 419.572388,0.999992371 L12.0451355,0.999992371 M12.0451355,-7.62939453e-06 L419.572388,-7.62939453e-06 C426.22464,-7.62939453e-06 431.617554,2.84849548 431.617554,6.36227417 L431.617554,120.883385 C431.617554,124.397163 426.22464,127.245667 419.572388,127.245667 L12.0451355,127.245667 C5.39276123,127.245667 -3.05175781e-05,124.397163 -3.05175781e-05,120.883385 L-3.05175781e-05,6.36227417 C-3.05175781e-05,2.84849548 5.39276123,-7.62939453e-06 12.0451355,-7.62939453e-06 Z', fill-opacity='0.289999992', fill='#CDD0E3')
					line(x1='14.493', y1='26.953', x2='419.5', y2='26.953', stroke='#F4F9FF')
					line(x1='14.493', y1='48.09', x2='419.5', y2='48.09', stroke='#F4F9FF')
					line(x1='14.493', y1='69.227', x2='419.5', y2='69.227', stroke='#F4F9FF')
					line(x1='14.493', y1='90.363', x2='419.5', y2='90.363', stroke='#F4F9FF')
					line(x1='14.493', y1='111.5', x2='419.5', y2='111.5', stroke='#F4F9FF')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='17', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='47', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='77', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='107', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='137', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='167', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='197', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='227', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='257', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='287', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='317', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='347', cy='119', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='7', cy='112', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='7', cy='89', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='7', cy='69', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='7', cy='48', r='3')
					circle(fill='#C2D2ED', fill-rule='nonzero', cx='7', cy='27', r='3')
					g(transform='translate(16.507000, 47.631000)', stroke='#FEABA3')
						path(d='M0.493,61.369 L18.247,48.387 L28.788,54.587 L55.45,37.846 L65.991,48.387 L113.734,14.287 L132.955,29.787 L156.517,37.848 C156.517,37.848 169.538,49.629 171.398,48.389 C173.258,47.149 204.26,34.128 204.26,34.128 L220.381,37.848 L245.803,25.448 L265.644,9.327 L281.765,14.287 L298.506,9.327 L320.206,17.388 L361.748,37.849 C361.748,37.849 385.465,8.707 393.371,0.026')
				g#main__content-header(transform='translate(1.074000, 0.000000)')
					g(transform='translate(0.000000, -0.000000)', fill-rule='nonzero')
						path(d='M9.518,0 L70.435,0 C75.692,0 79.953,2.629 79.953,5.871 C79.953,9.113 75.692,11.742 70.435,11.742 L9.518,11.742 C4.261,11.742 0,9.113 0,5.871 C0,2.629 4.261,0 9.518,0 Z', fill='#FD5545', opacity='0.49')
						path(d='M95.183,0 L156.1,0 C161.357,0 165.618,2.629 165.618,5.871 C165.618,9.113 161.357,11.742 156.1,11.742 L95.183,11.742 C89.926,11.742 85.665,9.113 85.665,5.871 C85.665,2.629 89.926,0 95.183,0 Z', fill='#F7E861', opacity='0.49')
						path(d='M179.895,0 L240.812,0 C246.069,0 250.33,2.629 250.33,5.871 C250.33,9.113 246.069,11.742 240.812,11.742 L179.895,11.742 C174.638,11.742 170.377,9.113 170.377,5.871 C170.377,2.629 174.638,0 179.895,0 Z', fill='#E9F3FE', opacity='0.49')
						rect(fill='#D9E1F1', x='0.419', y='20.369', width='249', height='4')
						rect(fill='#D9E1F1', x='0.419', y='32.369', width='249', height='3')
						rect(fill='#D9E1F1', x='0.419', y='43.369', width='125', height='3')
					g(transform='translate(379.759000, 0.049000)')
						g(transform='translate(0.660000, 0.320000)')
							rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='50', height='50', rx='12')
							rect(stroke='#FEABA3', x='0.5', y='0.5', width='49', height='49', rx='11.5')
						path(d='M26.66,27.695 C31.9402607,27.6933441 36.2203441,23.4132607 36.222,18.133 C36.2208961,12.8523487 31.9406511,8.57165613 26.66,8.57 C21.3797393,8.57165586 17.0996559,12.8517393 17.098,18.132 C17.0991039,23.4126513 21.3793489,27.6933439 26.66,27.695 Z M35.16,29.82 L31.501,29.82 C29.983043,30.5198005 28.3315005,30.8824507 26.66,30.883 C24.9885958,30.8815663 23.3372402,30.5189571 21.819,29.82 L18.16,29.82 C13.4655796,29.82 9.66,33.6255796 9.66,38.32 L9.66,39.382 C9.66,41.1422933 11.0867068,42.5694478 12.847,42.57 L40.472,42.57 C42.2326838,42.57 43.66,41.1426838 43.66,39.382 L43.66,38.32 C43.66,33.6255796 39.8544204,29.82 35.16,29.82 Z', stroke='#FEABA3', fill='#FEABA3', fill-rule='nonzero')
			g#main__box--right(transform='translate(550.255000, 153.882000)', fill-rule='nonzero')
				g#main__box-bg
					use(fill='black', fill-opacity='1', filter='url(#main-filter-11)', xlink:href='#main-path-10')
					use(fill='#FFFFFF', xlink:href='#main-path-10')
				g#main__box-point(transform='translate(32.745000, 20.118000)', fill='#D6E0F1')
					ellipse#main__box-point-1(cx='6.5', cy='58', rx='6.5', ry='7')
					ellipse#main__box-point-2(cx='39.5', cy='42', rx='6.5', ry='6')
					circle#main__box-point-3(cx='72.5', cy='26.5', r='6.5')
					ellipse#main__box-point-4(cx='106', cy='7', rx='6', ry='7')
				g#main__box-graph(transform='translate(26.745000, 41.118000)', opacity='0.6')
					rect#main__box-graph-1(fill='#F7DF64', x='0', y='53', width='25', height='31')
					polygon#main__box-graph-2(fill='#A3F764', points='33.072 37.96 58.772 37.96 58.772 84.6 33.072 84.6')
					rect#main__box-graph-3(fill='#64AEF7', x='66', y='21', width='26', height='63')
					rect#main__box-graph-4(fill='#F79164', x='100', y='0', width='25', height='84')
				g#main__box-line(transform='translate(12.745000, 10.118000)')
					polygon#main__box-line-1(fill='#BFCFEB', opacity='0.53', points='0.432 137.78 75.799 137.78 75.799 142.735 0.432 142.735')
					polygon#main__box-line-2(fill='#BFCFEB', opacity='0.53', points='0.433 126.78 153.476 126.78 153.476 131.735 0.433 131.735')
					rect#main__box-line-3(fill='#D9E1F1', x='0', y='0', width='43', height='6', rx='3')
