svg#platform-illustration-1-svg.viewport-svg-js(data-name='tlPlatform1' width='693px', height='491px', viewBox='0 0 693 491', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
	defs
		path#platform-1-path-1(d='M25,0 L608,0 C621.807119,0 633,11.1928813 633,25 L633,431 L0,431 L0,25 C0,11.1928813 11.1928813,0 25,0 Z')
		filter#platform-1-filter-2(x='-7.5%', y='-9.9%', width='115.0%', height='122.0%', filterUnits='objectBoundingBox')
			feoffset(dx='0', dy='5', in='SourceAlpha', result='shadowOffsetOuter1')
			fegaussianblur(stdDeviation='15', in='shadowOffsetOuter1', result='shadowBlurOuter1')
			fecolormatrix(values='0 0 0 0 0.0823529412   0 0 0 0 0.192156863   0 0 0 0 0.337254902  0 0 0 1 0', type='matrix', in='shadowBlurOuter1')
	g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
		g#platform-illustration-1(transform='translate(30.000000, 25.000000)')
			g#platform-1__screen(fill-rule='nonzero')
				g#platform-1__bg
					use(fill='black', fill-opacity='1', filter='url(#platform-1-filter-2)', xlink:href='#platform-1-path-1')
					use(fill='#FFFFFF', xlink:href='#platform-1-path-1')
				g#platform-1__topbar
					path(d='M20,-3.55271368e-15 L613,-3.55271368e-15 C624.045695,-3.55271368e-15 633,8.954305 633,20 L633,42 L0,42 L0,20 C0,8.954305 8.954305,-3.55271368e-15 20,-3.55271368e-15 Z', fill='#F7F8FB')
					circle(fill='#FB4747', cx='22.5', cy='21.5', r='5.5')
					circle(fill='#FBC547', cx='38.5', cy='21.5', r='5.5')
					circle(fill='#38AE22', cx='53.5', cy='21.5', r='5.5')
			g#platform-1__sidebar(transform='translate(0.000000, 42.000000)', fill-rule='nonzero')
				polygon#platform-1__sidebar-bg(fill='#153156', points='0 0 159 0 159 389 0 389')
				g#platform-1__sidebar-content(transform='translate(15.000000, 57.000000)')
					g#platform-1__sidebar-line(transform='translate(17.000000, 2.000000)', fill='#FFFFFF', opacity='0.8')
						path(d='M0.436,0 L51.064,0 C51.305,0 51.5,0.448 51.5,1 L51.5,3 C51.5,3.552 51.3,4 51.064,4 L0.436,4 C0.2,4 0,3.552 0,3 L0,1 C0,0.448 0.2,0 0.436,0 Z')
						path(d='M0.436,30 L51.064,30 C51.305,30 51.5,30.448 51.5,31 L51.5,33 C51.5,33.552 51.3,34 51.064,34 L0.436,34 C0.2,34 0,33.552 0,33 L0,31 C0,30.448 0.2,30 0.436,30 Z')
						path(d='M0.436,60 L51.064,60 C51.305,60 51.5,60.448 51.5,61 L51.5,63 C51.5,63.552 51.3,64 51.064,64 L0.436,64 C0.2,64 0,63.552 0,63 L0,61 C0,60.448 0.2,60 0.436,60 Z')
						path(d='M0.436,90 L51.064,90 C51.305,90 51.5,90.448 51.5,91 L51.5,93 C51.5,93.552 51.3,94 51.064,94 L0.436,94 C0.2,94 0,93.552 0,93 L0,91 C0,90.448 0.2,90 0.436,90 Z')
						path(d='M0.436,120 L51.064,120 C51.305,120 51.5,120.448 51.5,121 L51.5,123 C51.5,123.552 51.3,124 51.064,124 L0.436,124 C0.2,124 0,123.552 0,123 L0,121 C0,120.448 0.2,120 0.436,120 Z')
						path(d='M0.436,150 L51.064,150 C51.305,150 51.5,150.448 51.5,151 L51.5,153 C51.5,153.552 51.3,154 51.064,154 L0.436,154 C0.2,154 0,153.552 0,153 L0,151 C0,150.448 0.2,150 0.436,150 Z')
					g#platform-1__sidebar-point(fill='#FEABA3')
						circle(cx='4.5', cy='4.5', r='4.5')
						circle(cx='4.5', cy='33.5', r='4.5')
						circle(cx='4.5', cy='64.5', r='4.5')
						ellipse(cx='4.5', cy='94', rx='4.5', ry='4')
						circle(cx='4.5', cy='123.5', r='4.5')
						path(d='M4.5,149 C6.98528137,149 9,151.014719 9,153.5 C9,155.985281 6.98528137,158 4.5,158 C2.01471863,158 0,155.985281 0,153.5 C0,151.014719 2.01471863,149 4.5,149 Z')
				g#platform-1__sidebar-header
					polygon(fill='#A2CEFA', points='0 -3.55271368e-15 159 -3.55271368e-15 159 36 0 36')
					g(transform='translate(125.000000, 12.000000)', fill='#143056')
						rect(x='0', y='0', width='20', height='4', rx='2')
						rect(x='0', y='5', width='20', height='4', rx='2')
						rect(x='0', y='10', width='20', height='4', rx='2')
					g(transform='translate(13.000000, 13.410000)', fill='#153156')
						g
							path(d='M7.142,2.739 L7.215,2.639 L9.669,0.062 C9.68491121,0.0422453498 9.69960506,0.0215403872 9.713,6.99440506e-17 L7.045,6.99440506e-17 C7.027,0.021 7.013,0.041 6.995,0.059 L4.887,2.159 C4.696,2.344 4.541,2.52 4.359,2.705 L7.632,5.871 L4.35,9.129 L4.397,9.182 L6.208,11.034 L7.177,12.034 L9.919,12.034 C9.90501185,12.012113 9.88929505,11.9913802 9.872,11.972 L7.3,9.243 L7.23,9.17 L10.277,5.794 L7.142,2.739 Z M0.511,7.658 L0.041,7.158 L0.041,11.958 C0.0394427122,11.9813073 0.0394427122,12.0046927 0.041,12.028 L4.6,12.028 C4.459,11.872 4.306,11.717 4.177,11.564 L0.511,7.658 Z M1.139,3.549 L4.444,0.065 C4.45962437,0.0446318355 4.47334847,0.0228741104 4.485,6.99440506e-17 L0,6.99440506e-17 L0,4.738 C0.0254108414,4.72752056 0.0498402407,4.71480389 0.073,4.7 L1.139,3.549 Z M19.767,1.2 L17.374,1.2 L13.774,5.119 L13.774,1.209 L12,1.209 L12,10.015 L13.779,10.015 L13.779,7.338 L15.22,5.871 L17.641,10 L19.96,10 L16.438,4.638 L19.767,1.2 Z M26.019,7.925 L26.037,5.955 C26.0745719,5.44048242 25.9973793,4.9240434 25.811,4.443 C25.6292732,4.14093006 25.3570788,3.90372204 25.033,3.765 C24.4974629,3.55841286 23.9241138,3.4680814 23.351,3.5 C22.6953339,3.45550233 22.0414997,3.60989922 21.475,3.943 C21.0299895,4.28157048 20.7181479,4.76579218 20.594,5.311 L22.126,5.587 C22.194723,5.34260786 22.3372092,5.12538624 22.534,4.965 C22.7439693,4.83642577 22.988189,4.77502196 23.234,4.789 C23.5530103,4.75588111 23.8739522,4.83013413 24.146,5 C24.3129418,5.18760574 24.3918871,5.43753857 24.363,5.687 L24.363,5.85 C23.8298819,6.03812638 23.2805582,6.17671261 22.722,6.264 C22.2594645,6.33888408 21.8080129,6.47089336 21.378,6.657 C21.0778678,6.79747894 20.8257231,7.02319194 20.653,7.306 C20.4785978,7.59654029 20.3892104,7.93018402 20.395,8.269 C20.3815845,8.77990935 20.5889215,9.27183368 20.964,9.619 C21.3919948,9.99310315 21.9494415,10.1847815 22.517,10.153 C22.8780711,10.1552249 23.235766,10.0834136 23.568,9.942 C23.9126988,9.79067379 24.2263373,9.57672142 24.493,9.311 C24.505,9.34233333 24.5256667,9.409 24.555,9.511 C24.6216667,9.73233333 24.6753333,9.899 24.716,10.011 L26.386,10.011 C26.2525163,9.73876479 26.1537438,9.4508461 26.092,9.154 C26.0308868,8.74802023 26.0064548,8.33736205 26.019,7.927 L26.019,7.925 Z M24.363,7.285 C24.3745271,7.56076009 24.3516848,7.83688274 24.295,8.107 C24.2274708,8.3323271 24.0867086,8.52869035 23.895,8.665 C23.6408902,8.85576272 23.3317455,8.95892789 23.014,8.959 C22.7643532,8.96725961 22.5219775,8.87420465 22.342,8.701 C22.1718958,8.54275401 22.0761014,8.32032222 22.078,8.088 C22.0809077,7.84840745 22.206162,7.62694886 22.41,7.501 C22.6991109,7.355635 23.0091994,7.25643366 23.329,7.207 C23.6754425,7.13827313 24.0182088,7.05216434 24.356,6.949 L24.363,7.285 Z M31.2,3.49 C30.7893661,3.48079886 30.3838326,3.58235496 30.026,3.784 C29.6890275,3.97208712 29.4036095,4.24033198 29.195,4.565 L29.195,3.634 L27.654,3.634 L27.654,12.44 L29.354,12.44 L29.354,9.226 C29.6025626,9.51697103 29.9008696,9.76144059 30.235,9.948 C30.5344379,10.0914492 30.8630075,10.1636661 31.195,10.159 C31.9262494,10.1643515 32.6212202,9.84091293 33.088,9.278 C33.6457246,8.57700255 33.9236458,7.69406804 33.868,6.8 C33.9319409,5.92106729 33.6543333,5.05134973 33.093,4.372 C32.629429,3.81481271 31.9418136,3.49299697 31.217,3.494 L31.2,3.49 Z M31.752,8.345 C31.518752,8.63830374 31.1637354,8.80825459 30.789,8.80602215 C30.3814371,8.80617257 29.9971591,8.6160678 29.75,8.292 C29.4302408,7.82571149 29.2808616,7.26350878 29.327,6.7 C29.2897259,6.19475179 29.434447,5.69283941 29.735,5.285 C29.9862647,4.97705137 30.3645961,4.80096333 30.762,4.807 C31.1532437,4.80360427 31.5234349,4.98388736 31.762,5.294 C32.0624504,5.72925732 32.2037152,6.25476268 32.162,6.782 C32.2093871,7.33102219 32.0709858,7.88004936 31.769,8.341 L31.752,8.345 Z M35.222,10.012 L36.91,10.012 L36.91,3.634 L35.224,3.634 L35.222,10.012 Z M35.222,2.77 L36.91,2.77 L36.91,1.209 L35.224,1.209 L35.222,2.77 Z M40.884,8.758 C40.7793152,8.76280228 40.6759714,8.73292399 40.59,8.673 C40.5156341,8.62228697 40.4623051,8.54620424 40.44,8.459 C40.4077072,8.15681357 40.3970134,7.85270835 40.408,7.549 L40.408,4.99 L41.562,4.99 L41.562,3.634 L40.411,3.634 L40.411,1.383 L38.717,2.369 L38.717,3.637 L37.942,3.637 L37.942,4.99 L38.717,4.99 L38.717,7.77 C38.7057294,8.16709484 38.723443,8.56448285 38.77,8.959 C38.7985537,9.19350909 38.8799286,9.41848667 39.008,9.617 C39.1454203,9.79858534 39.3316722,9.9373205 39.545,10.017 C39.80703,10.1225588 40.087544,10.1745814 40.37,10.17 C40.8278502,10.1778885 41.2824834,10.0921343 41.706,9.918 L41.562,8.6 C41.3456009,8.68681599 41.116711,8.73846814 40.884,8.753 L40.884,8.758 Z M47.9,7.925 L47.918,5.955 C47.9579676,5.44140947 47.8835126,4.92534785 47.7,4.444 C47.5182732,4.14193006 47.2460788,3.90472204 46.922,3.766 C46.3856283,3.55856121 45.8111896,3.4678783 45.237,3.5 C44.5813339,3.45550233 43.9274997,3.60989922 43.361,3.943 C42.9163116,4.28143692 42.6045224,4.76522345 42.48,5.31 L44.012,5.586 C44.0805425,5.34152572 44.223062,5.12425344 44.42,4.964 C44.6299693,4.83542577 44.874189,4.77402196 45.12,4.788 C45.4391233,4.75517825 45.7600738,4.82978519 46.032,5 C46.2092778,5.18496835 46.2972542,5.43794623 46.273,5.693 L46.273,5.86 C45.734824,6.04698261 45.1804424,6.18356937 44.617,6.268 C44.1544713,6.34291429 43.7030234,6.47492249 43.273,6.661 C42.9783977,6.80389395 42.7317131,7.02938449 42.563,7.31 C42.3887469,7.60060354 42.2993712,7.93420381 42.305,8.273 C42.2895997,8.78428151 42.4972691,9.27699454 42.874,9.623 C43.3019948,9.99710315 43.8594415,10.1887815 44.427,10.157 C44.7880711,10.1592249 45.145766,10.0874136 45.478,9.946 C45.822665,9.79461287 46.1362929,9.58066775 46.403,9.315 C46.415,9.34633333 46.4346667,9.413 46.462,9.515 C46.5286667,9.73633333 46.5823333,9.903 46.623,10.015 L48.293,10.015 C48.1593271,9.74084191 48.0608787,9.45087267 48,9.152 C47.9297508,8.74685026 47.8962812,8.33617811 47.9,7.925 L47.9,7.925 Z M46.259,7.294 C46.2704338,7.56975818 46.2475925,7.84586931 46.191,8.116 C46.1234708,8.3413271 45.9827086,8.53769035 45.791,8.674 C45.5368902,8.86476272 45.2277455,8.96792789 44.91,8.968 C44.6603532,8.97625961 44.4179775,8.88320465 44.238,8.71 C44.0678958,8.55175401 43.9721014,8.32932222 43.974,8.097 C43.9769077,7.85740745 44.102162,7.63594886 44.306,7.51 C44.5951109,7.364635 44.9051994,7.26543366 45.225,7.216 C45.5714358,7.14724353 45.9142007,7.06113512 46.252,6.958 L46.259,7.294 Z M49.582,10.021 L51.27,10.021 L51.27,1.215 L49.587,1.215 L49.582,10.021 Z M60.582,7.379 L59.045,1.215 L56.928,1.215 L55.317,7.262 L53.987,1.215 L52.167,1.215 L54.267,10.021 L56.2,10.021 L57.961,3.44 L59.722,10.021 L61.61,10.021 L63.75,1.215 L61.936,1.215 L60.582,7.379 Z M64.512,10.021 L66.2,10.021 L66.2,3.634 L64.519,3.634 L64.512,10.021 Z M64.512,2.779 L66.2,2.779 L66.2,1.209 L64.519,1.209 L64.512,2.779 Z M70.888,6.008 C70.3410915,5.92798596 69.8090102,5.76758653 69.309,5.532 C69.2095614,5.46630711 69.1475014,5.35705176 69.142,5.238 C69.1419565,5.09753455 69.2155944,4.9673397 69.336,4.895 C69.6325214,4.74828322 69.9631611,4.68436644 70.293,4.71 C70.5779529,4.69331945 70.8613067,4.76302519 71.106,4.91 C71.2993417,5.04684481 71.4367684,5.24890109 71.493,5.479 L73.087,5.185 C72.9564512,4.67125025 72.6432693,4.22262871 72.206,3.923 C71.6127709,3.60023762 70.9397456,3.45349036 70.266,3.5 C69.5435952,3.44179905 68.8239551,3.64164002 68.235,4.064 C67.8142642,4.40349105 67.5727813,4.91742558 67.58,5.458 C67.5622932,6.03620278 67.8497737,6.58116261 68.337,6.893 C69.1548074,7.29563754 70.0286165,7.57274831 70.929,7.715 C71.1325237,7.74515557 71.3264624,7.82143126 71.496,7.938 C71.5771557,8.02113403 71.6224055,8.13282188 71.622,8.249 C71.6272749,8.42682565 71.5441378,8.5957212 71.4,8.7 C71.1042215,8.88050337 70.7596936,8.96471354 70.414,8.941 C70.0859203,8.96092706 69.7605247,8.87122343 69.489,8.686 C69.2519457,8.49693495 69.0922435,8.22768202 69.04,7.929 L67.346,8.187 C67.4901951,8.77263389 67.8465159,9.28395421 68.346,9.622 C68.961511,10.0025466 69.6782816,10.1867096 70.401,10.15 C71.1762287,10.2061351 71.945865,9.98223443 72.57,9.519 C73.0314956,9.15338787 73.3004109,8.59677012 73.3,8.008 C73.3259401,7.53051333 73.1313117,7.06753367 72.772,6.752 C72.2061241,6.37527033 71.5666798,6.12303751 70.896,6.012 L70.888,6.008 Z M78.08,8.68 C77.8899281,8.82746506 77.6544613,8.90418622 77.414,8.897 C77.0439977,8.90549259 76.6884307,8.7534193 76.439,8.48 C76.1601307,8.1539406 76.0144422,7.73472913 76.031,7.306 L80.264,7.306 C80.3667735,6.28171487 80.086394,5.25567548 79.477,4.426 C78.9071257,3.79069613 78.08145,3.44580756 77.229,3.487 C76.4311667,3.46598056 75.6640089,3.7947625 75.129,4.387 C74.5388362,5.07614655 74.2388155,5.96724742 74.292,6.873 C74.2609614,7.65502625 74.48218,8.4263114 74.923,9.073 C75.5120676,9.8240931 76.4372215,10.231521 77.389,10.159 C78.0119214,10.1836062 78.6271546,10.0145132 79.15,9.675 C79.6345218,9.3282255 79.9937642,8.83391636 80.174,8.266 L78.492,7.972 C78.4320336,8.24628936 78.2871769,8.49471507 78.078,8.682 L78.08,8.68 Z M76.416,5.18 C76.6441282,4.92797237 76.9669967,4.7824586 77.3069151,4.77847296 C77.6468335,4.77448732 77.9730251,4.91239067 78.207,5.159 C78.4684745,5.47010829 78.6037189,5.86799098 78.586,6.274 L76.061,6.274 C76.0333361,5.87783738 76.1581945,5.48608972 76.41,5.179 L76.416,5.18 Z')
			g#platform-1__content(transform='translate(168.000000, 48.000000)')
				g#platform-1__additional(transform='translate(9.165000, 202.641000)', fill='#061058', fill-opacity='0.879999995', fill-rule='nonzero')
					rect(x='-2.84217094e-14', y='0', width='436.975', height='4.894', rx='2.447')
					rect(x='-2.84217094e-14', y='143.345', width='436.975', height='4.894', rx='2.447')
				g#platform-1__header(transform='translate(2.000000, 0.000000)')
					g(transform='translate(0.000000, 6.000000)', fill-rule='nonzero')
						rect(fill='#D9E1F1', x='0', y='42', width='121', height='8')
						rect(fill='#D9E1F1', x='30', y='5', width='91', height='13')
						circle(fill='#FEABA3', cx='11', cy='11', r='11')
					g(transform='translate(339.000000, 0.000000)')
						rect(fill='#D9E1F1', fill-rule='nonzero', x='33', y='10', width='65', height='8')
						circle(fill='#FEABA3', fill-rule='nonzero', cx='105', cy='14', r='4')
						g
							g
								rect(x='0', y='0', width='26', height='26', rx='12')
								rect(stroke='#C1D1EC', x='0.5', y='0.5', width='25', height='25', rx='11.5')
							path(d='M13,13.625 C15.1738878,13.6238965 16.9358965,11.8618878 16.937,9.688 C16.9364483,7.51372167 15.1742781,5.7511039 13,5.75 C10.8253313,5.75055202 9.06255202,7.51333135 9.062,9.688 C9.0631039,11.8622781 10.8257217,13.6244483 13,13.625 Z M16.5,14.5 L14.993,14.5 C14.3680891,14.7882029 13.6881674,14.9376288 13,14.938 C12.311867,14.9373129 11.6320121,14.7879017 11.007,14.5 L9.5,14.5 C7.56700338,14.5 6,16.0670034 6,18 L6,18.437 C6,19.1617595 6.58724068,19.749448 7.312,19.75 L18.687,19.75 C19.4121499,19.75 20,19.1621499 20,18.437 L20,18 C20,16.0670034 18.4329966,14.5 16.5,14.5 Z', fill='#FEABA3', fill-rule='nonzero')
				g#platform-1__graph-2(transform='translate(227.000000, 71.500000)')
					g
						g(transform='translate(0.653000, 0.804000)', fill-rule='nonzero')
							path(d='M6.251,0 L217.751,0 C221.2,0 224,3.479 224,7.77 L224,147.621 C224,151.912 221.2,155.391 217.749,155.391 L6.251,155.391 C2.8,155.391 0,151.912 0,147.621 L0,7.77 C0,3.479 2.8,0 6.251,0 Z', fill='#FFFFFF')
							path(d='M6.25115967,0.999984741 C3.35565186,0.999984741 1.00001526,4.03678894 1.00001526,7.76951599 L1.00001526,147.621201 C1.00001526,151.353928 3.35565186,154.390762 6.25115967,154.390762 L217.748856,154.390762 C220.644363,154.390762 223,151.353928 223,147.621201 L223,7.76951599 C223,4.03678894 220.644363,0.999984741 217.748856,0.999984741 L6.25115967,0.999984741 M6.25115967,-1.52587891e-05 L217.748856,-1.52587891e-05 C221.201248,-1.52587891e-05 224,3.47854614 224,7.76951599 L224,147.621201 C224,151.912201 221.201248,155.390762 217.748856,155.390762 L6.25115967,155.390762 C2.79873657,155.390762 1.52587891e-05,151.912201 1.52587891e-05,147.621201 L1.52587891e-05,7.76951599 C1.52587891e-05,3.47854614 2.79873657,-1.52587891e-05 6.25115967,-1.52587891e-05 Z', fill-opacity='0.289999992', fill='#CDD0E3')
						g(opacity='0.499', transform='translate(52.000000, 11.500000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='122', height='10', rx='5')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='121', height='9', rx='4.5')
						path(d='M15.114,29.5 L41.442,29.5 C43.714,29.5 45.556,30.91 45.556,32.649 C45.556,34.388 43.714,35.8 41.442,35.8 L15.114,35.8 C12.842,35.8 11,34.387 11,32.649 C11,30.911 12.842,29.5 15.114,29.5 Z', fill='#FD5545', fill-rule='nonzero', opacity='0.49')
						path(d='M75.114,29.5 L101.442,29.5 C103.714,29.5 105.556,30.91 105.556,32.649 C105.556,34.388 103.714,35.8 101.442,35.8 L75.114,35.8 C72.842,35.8 71,34.387 71,32.649 C71,30.911 72.842,29.5 75.114,29.5 Z', fill='#FD5545', fill-rule='nonzero', opacity='0.49')
						path(d='M135.114,29.5 L161.442,29.5 C163.714,29.5 165.556,30.91 165.556,32.649 C165.556,34.388 163.714,35.8 161.442,35.8 L135.114,35.8 C132.842,35.8 131,34.387 131,32.649 C131,30.911 132.842,29.5 135.114,29.5 Z', fill='#FD5545', fill-rule='nonzero', opacity='0.49')
						line(x1='59.5', y1='28', x2='59.5', y2='143', stroke='#E0E8F6')
						line(x1='120.5', y1='28', x2='120.5', y2='143', stroke='#E0E8F6')
					g#platform-1__graph-2-line(opacity='0.49', transform='translate(18.000000, 49.500000)', fill='#C2D2ED', fill-rule='nonzero')
						g#platform-1__graph-2-line-1
							rect(x='0', y='0', width='21', height='6', rx='3')
							rect(x='0', y='20', width='21', height='6', rx='3')
							rect(x='0', y='40', width='21', height='6', rx='3')
							rect(x='0', y='60', width='21', height='6', rx='3')
							rect(x='0', y='80', width='21', height='6', rx='3')
						g#platform-1__graph-2-line-2(transform='translate(54.000000, 0.000000)')
							rect(x='0', y='0', width='33', height='6', rx='3')
							rect(x='0', y='20', width='33', height='6', rx='3')
							rect(x='0', y='40', width='33', height='6', rx='3')
							rect(x='0', y='60', width='33', height='6', rx='3')
							rect(x='0', y='80', width='33', height='6', rx='3')
						g#platform-1__graph-2-line-3(transform='translate(114.000000, 0.000000)')
							rect(x='7.10542736e-15', y='0', width='73', height='6', rx='3')
							rect(x='7.10542736e-15', y='20', width='73', height='6', rx='3')
							rect(x='7.10542736e-15', y='40', width='73', height='6', rx='3')
							rect(x='7.10542736e-15', y='60', width='73', height='6', rx='3')
							rect(x='7.10542736e-15', y='80', width='73', height='6', rx='3')
				g#platform-1__graph-1(transform='translate(0.000000, 72.000000)')
					g
						g(transform='translate(0.922000, 0.304000)', fill-rule='nonzero')
							path(d='M6.148,0 L214.164,0 C217.564,0 220.312,3.479 220.312,7.77 L220.312,147.621 C220.312,151.912 217.559,155.391 214.164,155.391 L6.148,155.391 C2.748,155.391 0,151.912 0,147.621 L0,7.77 C0,3.479 2.753,0 6.148,0 Z', fill='#FFFFFF')
							path(d='M6.14825439,0.999984741 C4.81802368,0.999984741 3.55258179,1.67340088 2.58494568,2.8961792 C1.56288147,4.1877594 1,5.91851807 1,7.76954651 L1,147.621201 C1,149.472229 1.56288147,151.202957 2.58494568,152.494568 C3.55255127,153.717316 4.81802368,154.390732 6.14825439,154.390732 L214.164246,154.390732 C215.494446,154.390732 216.759918,153.717316 217.727524,152.494568 C218.749619,151.202957 219.3125,149.472229 219.3125,147.621201 L219.3125,7.76954651 C219.3125,5.91851807 218.749619,4.18778992 217.727524,2.8961792 C216.759918,1.67340088 215.494446,0.999984741 214.164246,0.999984741 L6.14825439,0.999984741 M6.14825439,-1.52587891e-05 L214.164246,-1.52587891e-05 C217.559799,-1.52587891e-05 220.3125,3.47854614 220.3125,7.76954651 L220.3125,147.621201 C220.3125,151.912201 217.559799,155.390732 214.164246,155.390732 L6.14825439,155.390732 C2.75267029,155.390732 0,151.912201 0,147.621201 L0,7.76954651 C0,3.47854614 2.75267029,-1.52587891e-05 6.14825439,-1.52587891e-05 Z', fill-opacity='0.289999992', fill='#CDD0E3')
						g(opacity='0.499', transform='translate(50.000000, 11.000000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='122', height='10', rx='5')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='121', height='9', rx='4.5')
						path(d='M55.114,29 L81.442,29 C83.714,29 85.556,30.41 85.556,32.149 C85.556,33.888 83.714,35.3 81.442,35.3 L55.114,35.3 C52.842,35.3 51,33.887 51,32.149 C51,30.411 52.842,29 55.114,29 Z', fill='#FD5545', fill-rule='nonzero', opacity='0.49')
						polygon(fill='#D9E1F1', fill-rule='nonzero', points='88 31 173.169 31 173.169 34 88 34')
						polygon(fill='#D9E1F1', fill-rule='nonzero', points='30 147 66.653 147 66.653 150 30 150')
						polygon(fill='#D9E1F1', fill-rule='nonzero', points='93 147 129.653 147 129.653 150 93 150')
						polygon(fill='#D9E1F1', fill-rule='nonzero', points='158 147 194.653 147 194.653 150 158 150')
						line(x1='12.5', y1='43.5', x2='209.5', y2='43.5', stroke='#E0E8F6')
						line(x1='12.5', y1='63.5', x2='209.5', y2='63.5', stroke='#E0E8F6')
						line(x1='12.5', y1='83.5', x2='209.5', y2='83.5', stroke='#E0E8F6')
						line(x1='12.5', y1='103.5', x2='209.5', y2='103.5', stroke='#E0E8F6')
						line(x1='12.5', y1='123.5', x2='209.5', y2='123.5', stroke='#E0E8F6')
						line(x1='12.5', y1='143.5', x2='209.5', y2='143.5', stroke='#E0E8F6')
						line(x1='16.5', y1='43.5', x2='16.5', y2='143.5', stroke='#E0E8F6')
						line(x1='79.5', y1='43.5', x2='79.5', y2='143.5', stroke='#E0E8F6', fill='#E0E8F6', fill-rule='nonzero')
						line(x1='143.5', y1='43.5', x2='143.5', y2='143.5', stroke='#E0E8F6')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='7', cy='44', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='7', cy='63', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='7', cy='84', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='7', cy='104', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='7', cy='124', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='7', cy='144', r='2')
						line(x1='206.5', y1='43.5', x2='206.5', y2='143.5', stroke='#E0E8F6')
					g#platform-1__graph-1-line(transform='translate(30.000000, 44.000000)', fill='#FEABA3', fill-rule='nonzero')
						rect(x='0', y='39', width='34', height='61')
						rect(x='64', y='0', width='34', height='100')
						rect(x='127', y='19', width='34', height='81')
				g#platform-1__graph-3(transform='translate(0.500000, 232.958000)')
					g
						g(transform='translate(0.422000, 0.346000)', fill-rule='nonzero')
							path(d='M6.148,0 L214.164,0 C217.564,0 220.312,3.233 220.312,7.22 L220.312,137.18 C220.312,141.168 217.559,144.4 214.164,144.4 L6.148,144.4 C2.748,144.4 0,141.167 0,137.18 L0,7.22 C0,3.233 2.753,0 6.148,0 Z', fill='#FFFFFF')
							path(d='M6.14825439,1 C3.30949402,1 1,3.79029846 1,7.22001648 L1,137.180252 C1,140.60997 3.30949402,143.400269 6.14825439,143.400269 L214.164246,143.400269 C217.003006,143.400269 219.3125,140.60997 219.3125,137.180252 L219.3125,7.22001648 C219.3125,3.79029846 217.003006,1 214.164246,1 L6.14825439,1 M6.14825439,0 L214.164246,0 C217.559799,0 220.3125,3.23252869 220.3125,7.22001648 L220.3125,137.180252 C220.3125,141.16774 217.559799,144.400269 214.164246,144.400269 L6.14825439,144.400269 C2.75267029,144.400269 0,141.16774 0,137.180252 L0,7.22001648 C0,3.23252869 2.75267029,0 6.14825439,0 Z', fill-opacity='0.289999992', fill='#CDD0E3')
						g(opacity='0.499', transform='translate(49.500000, 11.042000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='122', height='10', rx='5')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='121', height='9', rx='4.5')
						g(opacity='0.499', transform='translate(3.500000, 51.042000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='51', height='7', rx='3.5')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='50', height='6', rx='3')
						g(opacity='0.499', transform='translate(3.500000, 87.042000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='51', height='7', rx='3.5')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='50', height='6', rx='3')
						g(opacity='0.499', transform='translate(3.500000, 121.042000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='51', height='7', rx='3.5')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='50', height='6', rx='3')
						path(d='M54.614,27.042 L80.942,27.042 C83.214,27.042 85.056,28.452 85.056,30.191 C85.056,31.93 83.214,33.342 80.942,33.342 L54.614,33.342 C52.342,33.342 50.5,31.929 50.5,30.191 C50.5,28.453 52.342,27.042 54.614,27.042 Z', fill='#A2CEFA', fill-rule='nonzero', opacity='0.49')
						polygon(fill='#D9E1F1', fill-rule='nonzero', points='87.5 29.042 172.669 29.042 172.669 32.042 87.5 32.042')
						line(x1='57', y1='40.5', x2='172.75', y2='40.5', stroke='#E0E8F6')
						line(x1='57', y1='71.317', x2='205', y2='71.317', stroke='#E0E8F6')
						line(x1='57', y1='106.542', x2='206', y2='106.542', stroke='#E0E8F6')
						line(x1='61', y1='40.5', x2='61', y2='141.542', stroke='#E0E8F6')
						line(x1='96.367', y1='40.5', x2='96.367', y2='141.542', stroke='#E0E8F6', fill='#E0E8F6', fill-rule='nonzero')
						line(x1='133.97', y1='40.5', x2='133.97', y2='141.542', stroke='#E0E8F6')
						line(x1='166', y1='40.5', x2='205', y2='40.5', stroke='#E0E8F6')
						line(x1='170', y1='40.5', x2='170', y2='141.542', stroke='#E0E8F6')
						line(x1='205.367', y1='40.5', x2='205.367', y2='141.542', stroke='#E0E8F6', fill='#E0E8F6', fill-rule='nonzero')
					g#platform-1__graph-3-line(transform='translate(61.500000, 42.042000)', fill='#A2CEFA', fill-rule='nonzero')
						rect(x='0', y='0', width='11', height='24')
						rect(x='0', y='35', width='134', height='24')
						rect(x='7.10542736e-15', y='70', width='91', height='24')
				g#platform-1__graph-4(transform='translate(227.000000, 233.000000)')
					g
						g(transform='translate(0.653000, 0.304000)', fill-rule='nonzero')
							path(d='M6.251,0 L217.751,0 C221.2,0 224,3.083 224,6.887 L224,130.849 C224,134.649 221.2,137.736 217.749,137.736 L6.251,137.736 C2.8,137.736 0,134.653 0,130.849 L0,6.887 C0,3.083 2.8,0 6.251,0 Z', fill='#FFFFFF')
							path(d='M6.25115967,0.999984741 C3.35565186,0.999984741 1.00001526,3.64080811 1.00001526,6.8868103 L1.00001526,130.849396 C1.00001526,134.095398 3.35565186,136.736191 6.25115967,136.736191 L217.748856,136.736191 C220.644363,136.736191 223,134.095398 223,130.849396 L223,6.8868103 C223,3.64080811 220.644363,0.999984741 217.748856,0.999984741 L6.25115967,0.999984741 M6.25115967,-1.52587891e-05 L217.748856,-1.52587891e-05 C221.201248,-1.52587891e-05 224,3.08334351 224,6.8868103 L224,130.849396 C224,134.652863 221.201248,137.736191 217.748856,137.736191 L6.25115967,137.736191 C2.79873657,137.736191 1.52587891e-05,134.652863 1.52587891e-05,130.849396 L1.52587891e-05,6.8868103 C1.52587891e-05,3.08334351 2.79873657,-1.52587891e-05 6.25115967,-1.52587891e-05 Z', fill-opacity='0.289999992', fill='#CDD0E3')
						g(opacity='0.499', transform='translate(52.000000, 11.000000)')
							rect(fill='#C2D2ED', fill-rule='nonzero', x='0', y='0', width='122', height='10', rx='5')
							rect(stroke='#C2D2ED', x='0.5', y='0.5', width='121', height='9', rx='4.5')
						path(d='M55.114,27 L81.442,27 C83.714,27 85.556,28.41 85.556,30.149 C85.556,31.888 83.714,33.3 81.442,33.3 L55.114,33.3 C52.842,33.3 51,31.887 51,30.149 C51,28.411 52.842,27 55.114,27 Z', fill='#A2CEFA', fill-rule='nonzero', opacity='0.49')
						polygon(fill='#D9E1F1', fill-rule='nonzero', points='88 29 173.169 29 173.169 32 88 32')
						line(x1='15.5', y1='47.5', x2='212.5', y2='47.5', stroke='#E0E8F6')
						line(x1='15.5', y1='67.5', x2='212.5', y2='67.5', stroke='#E0E8F6')
						line(x1='15.5', y1='87.5', x2='212.5', y2='87.5', stroke='#E0E8F6')
						line(x1='15.5', y1='107.5', x2='212.5', y2='107.5', stroke='#E0E8F6')
						line(x1='15.5', y1='127.5', x2='212.5', y2='127.5', stroke='#E0E8F6')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='10', cy='48', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='10', cy='67', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='10', cy='88', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='10', cy='108', r='2')
						circle(fill='#BDCDE9', fill-rule='nonzero', cx='10', cy='128', r='2')
					g#platform-1__graph-4-line(transform='translate(29.000000, 39.000000)', fill='#A2CEFA', fill-rule='nonzero')
						rect(x='0', y='0', width='16', height='89')
						rect(x='30', y='14', width='16', height='75')
						rect(x='60', y='34', width='16', height='55')
						rect(x='90', y='14', width='16', height='75')
						rect(x='120', y='25', width='16', height='64')
						rect(x='150', y='5', width='16', height='84')
