svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='843.004', height='625.5', viewBox='0 0 843.004 625.5')
	defs
		filter#Path_714(x='0', y='0', width='783', height='581', filterUnits='userSpaceOnUse')
			feoffset(dy='5', input='SourceAlpha')
			fegaussianblur(stdDeviation='25', result='blur')
			feflood(flood-color='#153156')
			fecomposite(operator='in', in2='blur')
			fecomposite(in='SourceGraphic')
	g#platform-illustration-3(transform='translate(-610 -2953)')
		g#Graphic(transform='translate(13 2816)')
			g#Screen_1(data-name='Screen 1', transform='translate(672 207)')
				g(transform='matrix(1, 0, 0, 1, -75, -70)', filter='url(#Path_714)')
					path#Path_714-2(data-name='Path 714', d='M25,0H608a25,25,0,0,1,25,25V431H0V25A25,25,0,0,1,25,0Z', transform='translate(75 70)', fill='#fff')
				path#Rectangle_2076(data-name='Rectangle 2076', d='M20,0H613a20,20,0,0,1,20,20V42a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V20A20,20,0,0,1,20,0Z', fill='#f7f8fb')
				circle#Ellipse_1(data-name='Ellipse 1', cx='5.5', cy='5.5', r='5.5', transform='translate(17 16)', fill='#fb4747')
				circle#Ellipse_2(data-name='Ellipse 2', cx='5.5', cy='5.5', r='5.5', transform='translate(33 16)', fill='#fbc547')
				circle#Ellipse_3(data-name='Ellipse 3', cx='5.5', cy='5.5', r='5.5', transform='translate(48 16)', fill='#38ae22')
			g#Left_Menu(data-name='Left Menu')
				path#Path_713(data-name='Path 713', d='M0,0H159V389H0Z', transform='translate(672 249)', fill='#153156')
				path#Path_705(data-name='Path 705', d='M5,0H58a5,5,0,0,1,5,5V17a5,5,0,0,1-5,5H5a5,5,0,0,1-5-5V5A5,5,0,0,1,5,0Z', transform='translate(685 271)', fill='#fff')
				rect#Rectangle_2079(data-name='Rectangle 2079', width='63', height='22', rx='5', transform='translate(755 271)', fill='#fff')
				path#Path_706(data-name='Path 706', d='M1,0H117a1,1,0,0,1,1,1V3a1,1,0,0,1-1,1H1A1,1,0,0,1,0,3V1A1,1,0,0,1,1,0Z', transform='translate(700 335)', fill='#fff', opacity='0.8')
				circle#Ellipse_4(data-name='Ellipse 4', cx='3.5', cy='3.5', r='3.5', transform='translate(685 333)', fill='#fff')
				path#Path_707(data-name='Path 707', d='M1,0H117a1,1,0,0,1,1,1V3a1,1,0,0,1-1,1H1A1,1,0,0,1,0,3V1A1,1,0,0,1,1,0Z', transform='translate(700 365)', fill='#fff', opacity='0.8')
				circle#Ellipse_5(data-name='Ellipse 5', cx='3.5', cy='3.5', r='3.5', transform='translate(685 363)', fill='#fff')
				path#Path_708(data-name='Path 708', d='M1,0H117a1,1,0,0,1,1,1V3a1,1,0,0,1-1,1H1A1,1,0,0,1,0,3V1A1,1,0,0,1,1,0Z', transform='translate(700 395)', fill='#fff', opacity='0.8')
				circle#Ellipse_6(data-name='Ellipse 6', cx='3.5', cy='3.5', r='3.5', transform='translate(685 393)', fill='#fff')
				path#Path_709(data-name='Path 709', d='M1,0H117a1,1,0,0,1,1,1V3a1,1,0,0,1-1,1H1A1,1,0,0,1,0,3V1A1,1,0,0,1,1,0Z', transform='translate(700 515)', fill='#fff', opacity='0.8')
				circle#Ellipse_7(data-name='Ellipse 7', cx='3.5', cy='3.5', r='3.5', transform='translate(684 514)', fill='#fff')
				path#Path_710(data-name='Path 710', d='M1,0H117a1,1,0,0,1,1,1V3a1,1,0,0,1-1,1H1A1,1,0,0,1,0,3V1A1,1,0,0,1,1,0Z', transform='translate(700 425)', fill='#fff', opacity='0.8')
				circle#Ellipse_8(data-name='Ellipse 8', cx='3.5', cy='3.5', r='3.5', transform='translate(685 423)', fill='#fff')
				path#Path_711(data-name='Path 711', d='M1,0H117a1,1,0,0,1,1,1V3a1,1,0,0,1-1,1H1A1,1,0,0,1,0,3V1A1,1,0,0,1,1,0Z', transform='translate(700 455)', fill='#fff', opacity='0.8')
				circle#Ellipse_9(data-name='Ellipse 9', cx='3.5', cy='3.5', r='3.5', transform='translate(685 453)', fill='#fff')
				path#Path_712(data-name='Path 712', d='M1,0H117a1,1,0,0,1,1,1V3a1,1,0,0,1-1,1H1A1,1,0,0,1,0,3V1A1,1,0,0,1,1,0Z', transform='translate(700 485)', fill='#fff', opacity='0.8')
				circle#Ellipse_10(data-name='Ellipse 10', cx='3.5', cy='3.5', r='3.5', transform='translate(685 483)', fill='#fff')
			g#Right(transform='translate(0 20)')
				g#Graphs(transform='translate(841 467.304)')
					g#Card_3(data-name='Card 3', transform='translate(243.178)')
						rect#Shadow(width='96.859', height='4.894', rx='2.447', transform='translate(108.967 120.301)', fill='rgba(6,16,88,0.88)')
					g#Rectangle_2164(data-name='Rectangle 2164', transform='translate(0 -216.304)', fill='#fff', stroke='#f0f1f7', stroke-width='1')
						rect(width='189', height='210', rx='5', stroke='none')
						rect(x='0.5', y='0.5', width='188', height='209', rx='4.5', fill='none')
			g#Rectangle_2165(data-name='Rectangle 2165', transform='translate(841 271)', fill='#fff', stroke='#f0f1f7', stroke-width='1')
				rect(width='201', height='212', rx='10', stroke='none')
				rect(x='0.5', y='0.5', width='200', height='211', rx='9.5', fill='none')
			g#Rectangle_2166(data-name='Rectangle 2166', transform='translate(856 285)', fill='#c2d2ed', stroke='#c2d2ed', stroke-width='1', opacity='0.499')
				rect(width='51', height='10', rx='5', stroke='none')
				rect(x='0.5', y='0.5', width='50', height='9', rx='4.5', fill='none')
			g#Rectangle_2167(data-name='Rectangle 2167', transform='translate(1052 271)', fill='#fff', stroke='#f0f1f7', stroke-width='1')
				rect(width='242', height='212', rx='10', stroke='none')
				rect(x='0.5', y='0.5', width='241', height='211', rx='9.5', fill='none')
			g#Rectangle_2169(data-name='Rectangle 2169', transform='translate(841 494)', fill='#fff', stroke='#f0f1f7', stroke-width='1')
				rect(width='453', height='126', rx='10', stroke='none')
				rect(x='0.5', y='0.5', width='452', height='125', rx='9.5', fill='none')
			g#Column_Chart0(data-name='Column Chart0', transform='translate(-1818.59 -2795)')
				g#Chart(transform='translate(2680.773 3102.74)')
					g#m1
						rect#Rectangle_2173(data-name='Rectangle 2173', width='6.917', height='30.991', transform='translate(0 128.094)', fill='#a2cefa')
						rect#Rectangle_2174(data-name='Rectangle 2174', width='6.917', height='82.642', transform='translate(13.833 76.443)', fill='#a2cefa')
						rect#Rectangle_2175(data-name='Rectangle 2175', width='6.917', height='72.311', transform='translate(27.667 86.774)', fill='#a2cefa')
						rect#Rectangle_2176(data-name='Rectangle 2176', width='6.917', height='30.991', transform='translate(41.5 128.094)', fill='#a2cefa')
						rect#Rectangle_2177(data-name='Rectangle 2177', width='6.917', height='68.179', transform='translate(55.334 90.906)', fill='#a2cefa')
						rect#Rectangle_2178(data-name='Rectangle 2178', width='6.917', height='113.632', transform='translate(69.167 45.453)', fill='#a2cefa')
						rect#Rectangle_2179(data-name='Rectangle 2179', width='6.917', height='61.981', transform='translate(83.001 97.104)', fill='#a2cefa')
						rect#Rectangle_2180(data-name='Rectangle 2180', width='6.917', height='92.972', transform='translate(96.834 66.114)', fill='#a2cefa')
						rect#Rectangle_2181(data-name='Rectangle 2181', width='6.917', height='123.963', transform='translate(110.668 35.122)', fill='#a2cefa')
						rect#Rectangle_2182(data-name='Rectangle 2182', width='6.917', height='113.632', transform='translate(124.501 45.453)', fill='#a2cefa')
						rect#Rectangle_2183(data-name='Rectangle 2183', width='6.917', height='90.906', transform='translate(138.335 68.179)', fill='#a2cefa')
						rect#Rectangle_2184(data-name='Rectangle 2184', width='6.917', height='159.085', transform='translate(152.169)', fill='#a2cefa')
		g#Rectangle_2168(data-name='Rectangle 2168', transform='translate(1065 3088)', fill='#fff', stroke='#f0f1f7', stroke-width='1')
			rect(width='241', height='212', rx='10', stroke='none')
			rect(x='0.5', y='0.5', width='240', height='211', rx='9.5', fill='none')
		circle#Ellipse_75(data-name='Ellipse 75', cx='6', cy='6', r='6', transform='translate(1108 3191)', fill='#e0e8f6')
		g#Ring_Chart4(data-name='Ring Chart4')
			path#Path_760(data-name='Path 760', d='M0-106A103.041,103.041,0,0,1,72.861-75.82L58.426-61.385A82.627,82.627,0,0,0,0-85.586Z', transform='translate(1188.194 3222)', fill='#c8faa2')
			path#Path_761(data-name='Path 761', d='M74.539-74.953a103.041,103.041,0,0,1,30.18,72.861H84.3A82.627,82.627,0,0,0,60.1-60.519Z', transform='translate(1190.198 3224.611)', fill='#a2cefa')
			path#Path_766(data-name='Path 766', d='M-106-2.093A103.041,103.041,0,0,1-75.82-74.953l14.435,14.435a82.627,82.627,0,0,0-24.2,58.426Z', transform='translate(1179.5 3224.611)', fill='#feaba3')
			path#Path_767(data-name='Path 767', d='M-74.953-75.82A103.041,103.041,0,0,1-2.093-106v20.414a82.627,82.627,0,0,0-58.426,24.2Z', transform='translate(1182.316 3222)', fill='#fdf2a9')
			path#Path_812(data-name='Path 812', d='M-16.281-19.906v-2.7H-1.453v2.188a31.247,31.247,0,0,0-4.336,6.188A37.684,37.684,0,0,0-9.109-6.3,29.5,29.5,0,0,0-10.187,0h-2.891a28.07,28.07,0,0,1,1.063-6.531A34.3,34.3,0,0,1-9.1-13.914a31.648,31.648,0,0,1,4.039-5.992Zm32.2,2.609-2.8.219a5.3,5.3,0,0,0-1.062-2.406,3.722,3.722,0,0,0-2.812-1.2,3.865,3.865,0,0,0-2.359.75A6.409,6.409,0,0,0,4.8-17.109a14.779,14.779,0,0,0-.8,5.3,6.517,6.517,0,0,1,2.484-2.3,6.681,6.681,0,0,1,3.078-.75,6.377,6.377,0,0,1,4.789,2.07,7.431,7.431,0,0,1,1.977,5.352A8.806,8.806,0,0,1,15.4-3.43,6.774,6.774,0,0,1,12.844-.594,6.976,6.976,0,0,1,9.156.391,7.206,7.206,0,0,1,3.422-2.2Q1.2-4.781,1.2-10.719q0-6.641,2.453-9.656A7.053,7.053,0,0,1,9.422-23a6.468,6.468,0,0,1,4.43,1.516A6.435,6.435,0,0,1,15.922-17.3ZM4.438-7.422a6.524,6.524,0,0,0,.617,2.781A4.6,4.6,0,0,0,6.781-2.617a4.317,4.317,0,0,0,2.328.7,3.968,3.968,0,0,0,3.063-1.437,5.658,5.658,0,0,0,1.281-3.906,5.3,5.3,0,0,0-1.266-3.742A4.159,4.159,0,0,0,9-12.375a4.339,4.339,0,0,0-3.234,1.367A4.928,4.928,0,0,0,4.438-7.422Z', transform='translate(1183.834 3251.327)', fill='#153156')
			path#Path_768(data-name='Path 768', d='M0,43', transform='translate(1183.5 3167.5)', fill='none', stroke='#707070', stroke-width='5')
		circle#Ellipse_76(data-name='Ellipse 76', cx='6', cy='6', r='6', transform='translate(1149 3150)', fill='#e0e8f6')
		circle#Ellipse_77(data-name='Ellipse 77', cx='6', cy='6', r='6', transform='translate(1207 3150)', fill='#e0e8f6')
		circle#Ellipse_78(data-name='Ellipse 78', cx='6', cy='6', r='6', transform='translate(1249 3191)', fill='#e0e8f6')
		path#Path_769(data-name='Path 769', d='M1.225,1.872,4,73.658a2,2,0,1,1-4,0L1.225,1.872Z', transform='translate(1213.993 3151.589) rotate(25)', fill='#434343')
		g#Group_4376(data-name='Group 4376', transform='translate(-209 1496)')
			g#Group_4374(data-name='Group 4374', transform='translate(1078 1837)')
				line#Line_36(data-name='Line 36', x2='418.417', transform='translate(7.5 1.5)', fill='none', stroke='#e0e8f6', stroke-width='1')
				line#Line_37(data-name='Line 37', x2='418.417', transform='translate(7.5 23.652)', fill='none', stroke='#e0e8f6', stroke-width='1')
				line#Line_38(data-name='Line 38', x2='418.417', transform='translate(7.5 45.654)', fill='none', stroke='#e0e8f6', stroke-width='1')
				line#Line_39(data-name='Line 39', x2='418.417', transform='translate(7.5 67.656)', fill='none', stroke='#e0e8f6', stroke-width='1')
				line#Line_40(data-name='Line 40', x2='418.417', transform='translate(7.5 89.89)', fill='none', stroke='#e0e8f6', stroke-width='1')
				circle#Ellipse_61(data-name='Ellipse 61', cx='2', cy='2', r='2', fill='#bdcde9')
				circle#Ellipse_62(data-name='Ellipse 62', cx='2', cy='2', r='2', transform='translate(0 21)', fill='#bdcde9')
				circle#Ellipse_63(data-name='Ellipse 63', cx='2', cy='2', r='2', transform='translate(0 44)', fill='#bdcde9')
				circle#Ellipse_64(data-name='Ellipse 64', cx='2', cy='2', r='2', transform='translate(0 67)', fill='#bdcde9')
				circle#Ellipse_65(data-name='Ellipse 65', cx='2', cy='2', r='2', transform='translate(0 89)', fill='#bdcde9')
			path#Path_770(data-name='Path 770', d='M1498.133,1843.847l-25.152,36.028-25.831-4.079-12.916,12.236-15.635-8.157-19.034,14.955-49.624-24.472-21.073,5.438h-15.635l-23.112,12.236-52.343-17.674-8.157,9.517-22.433,14.955-8.837,4.758-33.989-4.758-18.354,7.478-20.393,12.916-21.753-3.4-20.393,13.6', fill='none', stroke='#feaba3', stroke-width='1')
