svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='839.14', height='665', viewBox='0 0 839.14 665')
	defs
		filter#Path_714(x='0', y='0', width='783', height='581', filterUnits='userSpaceOnUse')
			feoffset(dy='5', input='SourceAlpha')
			fegaussianblur(stdDeviation='25', result='blur')
			feflood(flood-color='#153156')
			fecomposite(operator='in', in2='blur')
			fecomposite(in='SourceGraphic')
		filter#Rectangle_2087(x='239', y='348', width='278', height='317', filterUnits='userSpaceOnUse')
			feoffset(dy='5', input='SourceAlpha')
			fegaussianblur(stdDeviation='25', result='blur-2')
			feflood(flood-color='#153156')
			fecomposite(operator='in', in2='blur-2')
			fecomposite(in='SourceGraphic')
		filter#Rectangle_2087-2(x='398', y='348', width='278', height='317', filterUnits='userSpaceOnUse')
			feoffset(dy='5', input='SourceAlpha')
			fegaussianblur(stdDeviation='25', result='blur-3')
			feflood(flood-color='#153156')
			fecomposite(operator='in', in2='blur-3')
			fecomposite(in='SourceGraphic')
		filter#Rectangle_2087-3(x='558', y='348', width='278', height='317', filterUnits='userSpaceOnUse')
			feoffset(dy='5', input='SourceAlpha')
			fegaussianblur(stdDeviation='25', result='blur-4')
			feflood(flood-color='#153156')
			fecomposite(operator='in', in2='blur-4')
			fecomposite(in='SourceGraphic')
	g#platform-illustration-2(transform='translate(-597 -137)')
		g#Screen_1(data-name='Screen 1', transform='translate(672 207)')
			g(transform='matrix(1, 0, 0, 1, -75, -70)', filter='url(#Path_714)')
				path#Path_714-2(data-name='Path 714', d='M25,0H608a25,25,0,0,1,25,25V431H0V25A25,25,0,0,1,25,0Z', transform='translate(75 70)', fill='#fff')
			path#Rectangle_2076(data-name='Rectangle 2076', d='M20,0H613a20,20,0,0,1,20,20V42a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V20A20,20,0,0,1,20,0Z', fill='#f7f8fb')
			circle#Ellipse_1(data-name='Ellipse 1', cx='5.5', cy='5.5', r='5.5', transform='translate(17 16)', fill='#fb4747')
			circle#Ellipse_2(data-name='Ellipse 2', cx='5.5', cy='5.5', r='5.5', transform='translate(33 16)', fill='#fbc547')
			circle#Ellipse_3(data-name='Ellipse 3', cx='5.5', cy='5.5', r='5.5', transform='translate(48 16)', fill='#38ae22')
		g#Left_Menu(data-name='Left Menu')
			path#Path_713(data-name='Path 713', d='M0,0H159V389H0Z', transform='translate(672 249)', fill='#153156')
		g#box_1(data-name='box 1', transform='translate(305 295)')
			g#Mask(transform='translate(535.922 32.304)', fill='#fff')
				path(d='M12.655,0H440.807c6.989,0,12.655,6.6,12.655,14.731V279.884c0,8.136-5.666,14.731-12.655,14.731H12.655C5.666,294.614,0,288.019,0,279.884V14.731C0,6.6,5.666,0,12.655,0Z', stroke='none')
				path(d='M 12.65478515625 1 C 6.228302001953125 1 1 7.15960693359375 1 14.730712890625 L 1 279.8836669921875 C 1 287.4547729492188 6.228302001953125 293.6143798828125 12.65478515625 293.6143798828125 L 440.806884765625 293.6143798828125 C 447.2333679199219 293.6143798828125 452.461669921875 287.4547729492188 452.461669921875 279.8836669921875 L 452.461669921875 14.730712890625 C 452.461669921875 7.15960693359375 447.2333679199219 1 440.806884765625 1 L 12.65478515625 1 M 12.65478515625 0 L 440.806884765625 0 C 447.7958984375 0 453.461669921875 6.595123291015625 453.461669921875 14.730712890625 L 453.461669921875 279.8836669921875 C 453.461669921875 288.0191955566406 447.7958984375 294.6143798828125 440.806884765625 294.6143798828125 L 12.65478515625 294.6143798828125 C 5.66571044921875 294.6143798828125 0 288.0191955566406 0 279.8836669921875 L 0 14.730712890625 C 0 6.595123291015625 5.66571044921875 0 12.65478515625 0 Z', stroke='none', fill='rgba(205,208,227,0.29)')
			g#text(transform='translate(194 -2310)')
				line#Line_55(data-name='Line 55', x2='79', transform='translate(389.5 2417.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_56(data-name='Line 56', x2='79', transform='translate(389.5 2447.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_57(data-name='Line 57', x2='79', transform='translate(389.5 2477.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_58(data-name='Line 58', x2='79', transform='translate(389.5 2507.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_59(data-name='Line 59', x2='79', transform='translate(389.5 2537.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_60(data-name='Line 60', x2='79', transform='translate(389.5 2567.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_61(data-name='Line 61', x2='79', transform='translate(389.5 2597.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_62(data-name='Line 62', x2='79', transform='translate(389.5 2624.5)', fill='none', stroke='#dde3ee', stroke-width='2')
			g#table(transform='translate(194 -2310)')
				g#tick_boxes(data-name='tick boxes')
					g#Rectangle_2140(data-name='Rectangle 2140', transform='translate(353 2352)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2141(data-name='Rectangle 2141', transform='translate(353 2411)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2142(data-name='Rectangle 2142', transform='translate(353 2441)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2143(data-name='Rectangle 2143', transform='translate(353 2471)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2144(data-name='Rectangle 2144', transform='translate(353 2501)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2145(data-name='Rectangle 2145', transform='translate(353 2531)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2146(data-name='Rectangle 2146', transform='translate(353 2561)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2147(data-name='Rectangle 2147', transform='translate(353 2591)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
					g#Rectangle_2148(data-name='Rectangle 2148', transform='translate(353 2620)', fill='#fff', stroke='#707070', stroke-width='1')
						rect(width='12', height='12', stroke='none')
						rect(x='0.5', y='0.5', width='11', height='11', fill='none')
				g#lines
					line#Line_41(data-name='Line 41', y2='294', transform='translate(376.5 2342.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_42(data-name='Line 42', y2='294', transform='translate(478.5 2342.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_43(data-name='Line 43', y2='294', transform='translate(586.5 2342.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_44(data-name='Line 44', y2='294', transform='translate(660.5 2342.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_45(data-name='Line 45', y2='294', transform='translate(730.5 2342.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_46(data-name='Line 46', x2='452', transform='translate(343.5 2371.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_47(data-name='Line 47', x2='452', transform='translate(343.5 2401.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_48(data-name='Line 48', x2='452', transform='translate(343.5 2431.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_49(data-name='Line 49', x2='452', transform='translate(343.5 2461.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_50(data-name='Line 50', x2='452', transform='translate(343.5 2491.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_51(data-name='Line 51', x2='452', transform='translate(343.5 2521.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_52(data-name='Line 52', x2='452', transform='translate(343.5 2551.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_53(data-name='Line 53', x2='452', transform='translate(343.5 2581.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
					line#Line_54(data-name='Line 54', x2='452', transform='translate(343.5 2611.5)', fill='none', stroke='#f0f1f7', stroke-width='1')
			g#text-2(data-name='text', transform='translate(297 -2310)')
				line#Line_55-2(data-name='Line 55', x2='79', transform='translate(389.5 2417.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_56-2(data-name='Line 56', x2='79', transform='translate(389.5 2447.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_57-2(data-name='Line 57', x2='79', transform='translate(389.5 2477.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_58-2(data-name='Line 58', x2='79', transform='translate(389.5 2507.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_59-2(data-name='Line 59', x2='79', transform='translate(389.5 2537.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_60-2(data-name='Line 60', x2='79', transform='translate(389.5 2567.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_61-2(data-name='Line 61', x2='79', transform='translate(389.5 2597.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_62-2(data-name='Line 62', x2='79', transform='translate(389.5 2624.5)', fill='none', stroke='#dde3ee', stroke-width='2')
			g(transform='matrix(1, 0, 0, 1, 292, -158)', filter='url(#Rectangle_2087)')
				rect#Rectangle_2087-4(data-name='Rectangle 2087', width='128', height='167', rx='12', transform='translate(314 418)', fill='#fff')
			path#Path_808(data-name='Path 808', d='M.4-38.89l5.333,2.224,2.224,5.333a.783.783,0,0,0,.641.4.783.783,0,0,0,.641-.4l2.224-5.333,5.333-2.224a.784.784,0,0,0,.4-.641.784.784,0,0,0-.4-.64L11.458-42.4,9.235-47.728a.782.782,0,0,0-.641-.4.782.782,0,0,0-.641.4L5.729-42.4.4-40.171a.784.784,0,0,0-.4.64A.784.784,0,0,0,.4-38.89ZM11.633-19.412.375-21.055-4.663-31.281a2.465,2.465,0,0,0-4.425,0l-5.039,10.226-11.258,1.643A2.467,2.467,0,0,0-26.749-15.2L-18.6-7.252-20.529,3.983a2.465,2.465,0,0,0,3.577,2.6L-6.876,1.277,3.2,6.582a2.922,2.922,0,0,0,1.147.283A2.467,2.467,0,0,0,6.813,4.4a2.966,2.966,0,0,0-.036-.417L4.855-7.252,13.008-15.2A2.473,2.473,0,0,0,11.633-19.412Zm15.55-5.163-4.266-1.779-1.779-4.266a.626.626,0,0,0-.512-.318.626.626,0,0,0-.512.318l-1.779,4.266-4.266,1.779a.627.627,0,0,0-.317.512.627.627,0,0,0,.317.512l4.266,1.779,1.779,4.265a.626.626,0,0,0,.512.318.626.626,0,0,0,.512-.318l1.779-4.265,4.266-1.779a.627.627,0,0,0,.317-.512A.627.627,0,0,0,27.183-24.575Z', transform='translate(672 330)', fill='#feaba3')
			rect#Rectangle_2094(data-name='Rectangle 2094', width='68', height='11', rx='5', transform='translate(636 352)', fill='#beceea')
			g#text-3(data-name='text', transform='translate(406 -2310)')
				line#Line_55-3(data-name='Line 55', x2='44.369', transform='translate(389.5 2417.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_56-3(data-name='Line 56', x2='44.369', transform='translate(389.5 2447.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_57-3(data-name='Line 57', x2='44.369', transform='translate(389.5 2477.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_58-3(data-name='Line 58', x2='44.369', transform='translate(389.5 2507.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_59-3(data-name='Line 59', x2='44.369', transform='translate(389.5 2537.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_60-3(data-name='Line 60', x2='44.369', transform='translate(389.5 2567.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_61-3(data-name='Line 61', x2='44.369', transform='translate(389.5 2597.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_62-3(data-name='Line 62', x2='44.369', transform='translate(389.5 2624.5)', fill='none', stroke='#dde3ee', stroke-width='2')
			g#text-4(data-name='text', transform='translate(491 -2310)')
				line#Line_55-4(data-name='Line 55', x2='18.43', transform='translate(389.5 2417.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_56-4(data-name='Line 56', x2='18.43', transform='translate(389.5 2447.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_57-4(data-name='Line 57', x2='18.43', transform='translate(389.5 2477.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_58-4(data-name='Line 58', x2='18.43', transform='translate(389.5 2507.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_59-4(data-name='Line 59', x2='18.43', transform='translate(389.5 2537.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_60-4(data-name='Line 60', x2='18.43', transform='translate(389.5 2567.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_61-4(data-name='Line 61', x2='18.43', transform='translate(389.5 2597.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_62-4(data-name='Line 62', x2='18.43', transform='translate(389.5 2624.5)', fill='none', stroke='#dde3ee', stroke-width='2')
			g#text-5(data-name='text', transform='translate(551 -2310)')
				line#Line_55-5(data-name='Line 55', x2='35.821', transform='translate(389.5 2417.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_56-5(data-name='Line 56', x2='35.821', transform='translate(389.5 2447.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_57-5(data-name='Line 57', x2='35.821', transform='translate(389.5 2477.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_58-5(data-name='Line 58', x2='35.821', transform='translate(389.5 2507.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_59-5(data-name='Line 59', x2='35.821', transform='translate(389.5 2537.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_60-5(data-name='Line 60', x2='35.821', transform='translate(389.5 2567.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_61-5(data-name='Line 61', x2='35.821', transform='translate(389.5 2597.5)', fill='none', stroke='#dde3ee', stroke-width='2')
				line#Line_62-5(data-name='Line 62', x2='35.821', transform='translate(389.5 2624.5)', fill='none', stroke='#dde3ee', stroke-width='2')
		g#Right(transform='translate(0 20)')
			g#Graphs(transform='translate(841 493.304)')
				g#Card_2(data-name='Card 2', transform='translate(-0.078 -146)')
					g#Group_10(data-name='Group 10')
						rect#Shadow(width='436.975', height='4.894', rx='2.447', transform='translate(8.243 130.337)', fill='rgba(6,16,88,0.88)')
						g#Mask-2(data-name='Mask', transform='translate(0 -80)', fill='#fff')
							path(d='M12.655,0H440.807c6.989,0,12.655.634,12.655,1.415V26.892c0,.782-5.666,1.415-12.655,1.415H12.655C5.666,28.307,0,27.673,0,26.892V1.415C0,.634,5.666,0,12.655,0Z', stroke='none')
							path(d='M 12.65478515625 0.9999732971191406 C 9.696136474609375 0.9999732971191406 6.82855224609375 1.117151260375977 4.58026123046875 1.329856872558594 C 2.3956298828125 1.536582946777344 1.413330078125 1.770044326782227 1 1.903509140014648 L 1 26.40349769592285 C 1.413330078125 26.53696250915527 2.3956298828125 26.77042388916016 4.58026123046875 26.97714996337891 C 6.82855224609375 27.18985557556152 9.696136474609375 27.30703353881836 12.65478515625 27.30703353881836 L 440.806884765625 27.30703353881836 C 443.7655334472656 27.30703353881836 446.6331176757812 27.18985557556152 448.8814086914062 26.97714996337891 C 451.0660400390625 26.77042388916016 452.04833984375 26.53696250915527 452.461669921875 26.40349769592285 L 452.461669921875 1.903509140014648 C 452.04833984375 1.770044326782227 451.0660400390625 1.536582946777344 448.8814086914062 1.329856872558594 C 446.6331176757812 1.117151260375977 443.7655334472656 0.9999732971191406 440.806884765625 0.9999732971191406 L 12.65478515625 0.9999732971191406 M 12.65478515625 -2.6702880859375e-05 L 440.806884765625 -2.6702880859375e-05 C 447.7958984375 -2.6702880859375e-05 453.461669921875 0.6336803436279297 453.461669921875 1.415327072143555 L 453.461669921875 26.89167976379395 C 453.461669921875 27.67332649230957 447.7958984375 28.30703353881836 440.806884765625 28.30703353881836 L 12.65478515625 28.30703353881836 C 5.66571044921875 28.30703353881836 0 27.67332649230957 0 26.89167976379395 L 0 1.415327072143555 C 0 0.6336803436279297 5.66571044921875 -2.6702880859375e-05 12.65478515625 -2.6702880859375e-05 Z', stroke='none', fill='rgba(205,208,227,0.29)')
			g#Upper_left(data-name='Upper left', transform='translate(64 -2)')
				path#Path_716(data-name='Path 716', d='M10,0H74c5.523,0,10,2.762,10,6.168s-4.477,6.168-10,6.168H10c-5.523,0-10-2.762-10-6.168S4.477,0,10,0Z', transform='translate(951 277)', fill='#fd5545', opacity='0.49')
			g#Upper_left-2(data-name='Upper left', transform='translate(156 -2)')
				path#Path_716-2(data-name='Path 716', d='M10,0H74c5.523,0,10,2.762,10,6.168s-4.477,6.168-10,6.168H10c-5.523,0-10-2.762-10-6.168S4.477,0,10,0Z', transform='translate(951 277)', fill='#fd5545', opacity='0.49')
			g#Upper_left-3(data-name='Upper left', transform='translate(247 -2)')
				path#Path_716-3(data-name='Path 716', d='M10,0H74c5.523,0,10,2.762,10,6.168s-4.477,6.168-10,6.168H10c-5.523,0-10-2.762-10-6.168S4.477,0,10,0Z', transform='translate(951 277)', fill='#fd5545', opacity='0.49')
			rect#Rectangle_2135(data-name='Rectangle 2135', width='60', height='6', transform='translate(944 278)', fill='#e0e8f6')
			g#Upper_left-4(data-name='Upper left', transform='translate(-102 -2)')
				path#Path_716-4(data-name='Path 716', d='M10,0H74c5.523,0,10,2.762,10,6.168s-4.477,6.168-10,6.168H10c-5.523,0-10-2.762-10-6.168S4.477,0,10,0Z', transform='translate(951 277)', fill='#fd5545', opacity='0.49')
		g#box_1-2(data-name='box 1', transform='translate(464 295)')
			g(transform='matrix(1, 0, 0, 1, 133, -158)', filter='url(#Rectangle_2087-2)')
				rect#Rectangle_2087-5(data-name='Rectangle 2087', width='128', height='167', rx='12', transform='translate(473 418)', fill='#fff')
			path#Path_809(data-name='Path 809', d='M9.711-18.788a13.793,13.793,0,0,1,2-.118h5.479v-1.633A5.265,5.265,0,0,1,20.3-25.352a7.65,7.65,0,0,0,.516-2.632A8.047,8.047,0,0,0,15.8-35.428a6.1,6.1,0,0,0,.172-1.418,6.462,6.462,0,0,0-6.467-6.445c-.075,0-.15.022-.226.022a6.447,6.447,0,0,0-6.252-4.855A6.462,6.462,0,0,0-3.438-41.68v34.8A15.99,15.99,0,0,1,9.711-18.788ZM-13.342-48.125a6.466,6.466,0,0,0-6.252,4.855c-.075,0-.15-.022-.226-.022a6.455,6.455,0,0,0-6.467,6.445,6.247,6.247,0,0,0,.172,1.418,8.047,8.047,0,0,0-5.017,7.444,8.021,8.021,0,0,0,.838,3.513,8.031,8.031,0,0,0-4.082,6.961,8.056,8.056,0,0,0,5,7.444,7.74,7.74,0,0,0-.14,1.418A7.262,7.262,0,0,0-22.236-1.4a7.5,7.5,0,0,0,1.214-.118,7.257,7.257,0,0,0,6.875,4.952A7.269,7.269,0,0,0-6.864-3.813L-6.875-41.68A6.462,6.462,0,0,0-13.342-48.125Zm47.18,36.5L23.525-21.85a1.713,1.713,0,0,0-2.9,1.311v5.07H12.042a11.683,11.683,0,0,0-1.826.086A12.034,12.034,0,0,0,.183-5.554,12.227,12.227,0,0,0,5.371,6.66,1.291,1.291,0,0,0,7.283,5.113c-.967-2.857-.6-10.259,6.478-10.259h6.875v5.07a1.713,1.713,0,0,0,2.9,1.311L33.848-8.991A1.884,1.884,0,0,0,33.838-11.623Z', transform='translate(674 336)', fill='#feaba3')
			rect#Rectangle_2094-2(data-name='Rectangle 2094', width='68', height='11', rx='5', transform='translate(636 352)', fill='#beceea')
		g#box_1-3(data-name='box 1', transform='translate(624 295)')
			g(transform='matrix(1, 0, 0, 1, -27, -158)', filter='url(#Rectangle_2087-3)')
				rect#Rectangle_2087-6(data-name='Rectangle 2087', width='128', height='167', rx='12', transform='translate(633 418)', fill='#fff')
			path#Path_810(data-name='Path 810', d='M22.344,0H-22.344a1.724,1.724,0,0,0-1.719,1.719V5.156a1.724,1.724,0,0,0,1.719,1.719H22.344a1.724,1.724,0,0,0,1.719-1.719V1.719A1.724,1.724,0,0,0,22.344,0Zm6.875-34.375a5.158,5.158,0,0,0-5.156,5.156,5.05,5.05,0,0,0,.473,2.127L16.758-22.43a3.433,3.433,0,0,1-4.748-1.246L3.255-38.994a5.133,5.133,0,0,0,1.9-3.975A5.158,5.158,0,0,0,0-48.125a5.158,5.158,0,0,0-5.156,5.156,5.133,5.133,0,0,0,1.9,3.975L-12.01-23.676a3.435,3.435,0,0,1-4.748,1.246l-7.767-4.662a5.181,5.181,0,0,0,.473-2.127,5.158,5.158,0,0,0-5.156-5.156,5.167,5.167,0,0,0-5.167,5.156,5.158,5.158,0,0,0,5.156,5.156,5.273,5.273,0,0,0,.827-.086l7.767,20.711h41.25l7.767-20.711a5.273,5.273,0,0,0,.827.086,5.158,5.158,0,0,0,5.156-5.156A5.158,5.158,0,0,0,29.219-34.375Z', transform='translate(670 337)', fill='#feaba3')
			rect#Rectangle_2094-3(data-name='Rectangle 2094', width='68', height='11', rx='5', transform='translate(636 352)', fill='#beceea')
		rect#Rectangle_2137(data-name='Rectangle 2137', width='91', height='13', transform='translate(871 263)', fill='#d9e1f1')
		circle#Ellipse_69(data-name='Ellipse 69', cx='11', cy='11', r='11', transform='translate(841 258)', fill='#feaba3')
		g#Group_4369(data-name='Group 4369', transform='translate(2)')
			rect#Rectangle_2129(data-name='Rectangle 2129', width='65', height='8', transform='translate(1214 265)', fill='#d9e1f1')
			circle#Ellipse_66(data-name='Ellipse 66', cx='4', cy='4', r='4', transform='translate(1282 265)', fill='#feaba3')
			g#Avatar(transform='translate(-60 -17)')
				g#Rectangle_2086(data-name='Rectangle 2086', transform='translate(1241 272)', fill='none', stroke='#c1d1ec', stroke-width='1')
					rect(width='26', height='26', rx='12', stroke='none')
					rect(x='0.5', y='0.5', width='25', height='25', rx='11.5', fill='none')
				path#Path_811(data-name='Path 811', d='M0-4.375A3.939,3.939,0,0,0,3.937-8.312,3.939,3.939,0,0,0,0-12.25,3.939,3.939,0,0,0-3.938-8.312,3.939,3.939,0,0,0,0-4.375ZM3.5-3.5H1.993A4.765,4.765,0,0,1,0-3.062,4.775,4.775,0,0,1-1.993-3.5H-3.5A3.5,3.5,0,0,0-7,0V.437A1.313,1.313,0,0,0-5.688,1.75H5.687A1.313,1.313,0,0,0,7,.437V0A3.5,3.5,0,0,0,3.5-3.5Z', transform='translate(1254 290)', fill='#feaba3')
		g#Group_4371(data-name='Group 4371', transform='translate(1 -3)')
			path#Path_706(data-name='Path 706', d='M.528,0H61.722c.291,0,.528.747.528,1.669V5.007c0,.922-.236,1.669-.528,1.669H.528C.236,6.676,0,5.929,0,5.007V1.669C0,.747.236,0,.528,0Z', transform='translate(704 309)', fill='#fff', opacity='0.8')
			path#Path_751(data-name='Path 751', d='M7.5,0A7.5,7.5,0,1,1,0,7.5,7.5,7.5,0,0,1,7.5,0Z', transform='translate(684 305)', fill='#feaba3')
			path#Path_707(data-name='Path 707', d='M.436,0H51.064c.241,0,.436.448.436,1V3c0,.552-.2,1-.436,1H.436C.2,4,0,3.552,0,3V1C0,.448.2,0,.436,0Z', transform='translate(704 338)', fill='#fff', opacity='0.8')
			circle#Ellipse_5(data-name='Ellipse 5', cx='4.5', cy='4.5', r='4.5', transform='translate(687 335)', fill='#feaba3')
			path#Path_708(data-name='Path 708', d='M.436,0H51.064c.241,0,.436.448.436,1V3c0,.552-.2,1-.436,1H.436C.2,4,0,3.552,0,3V1C0,.448.2,0,.436,0Z', transform='translate(704 368)', fill='#fff', opacity='0.8')
			circle#Ellipse_6(data-name='Ellipse 6', cx='4.5', cy='4.5', r='4.5', transform='translate(687 366)', fill='#feaba3')
			path#Path_710(data-name='Path 710', d='M.436,0H51.064c.241,0,.436.448.436,1V3c0,.552-.2,1-.436,1H.436C.2,4,0,3.552,0,3V1C0,.448.2,0,.436,0Z', transform='translate(704 398)', fill='#fff', opacity='0.8')
			ellipse#Ellipse_8(data-name='Ellipse 8', cx='4.5', cy='4', rx='4.5', ry='4', transform='translate(687 396)', fill='#feaba3')
			path#Path_711(data-name='Path 711', d='M.436,0H51.064c.241,0,.436.448.436,1V3c0,.552-.2,1-.436,1H.436C.2,4,0,3.552,0,3V1C0,.448.2,0,.436,0Z', transform='translate(704 428)', fill='#fff', opacity='0.8')
			circle#Ellipse_9(data-name='Ellipse 9', cx='4.5', cy='4.5', r='4.5', transform='translate(687 425)', fill='#feaba3')
			path#Path_712(data-name='Path 712', d='M.436,0H51.064c.241,0,.436.448.436,1V3c0,.552-.2,1-.436,1H.436C.2,4,0,3.552,0,3V1C0,.448.2,0,.436,0Z', transform='translate(704 458)', fill='#fff', opacity='0.8')
			path#Path_750(data-name='Path 750', d='M4.5,0A4.5,4.5,0,1,1,0,4.5,4.5,4.5,0,0,1,4.5,0Z', transform='translate(687 455)', fill='#feaba3')
		rect#Rectangle_2138(data-name='Rectangle 2138', width='159', height='36', transform='translate(672 249)', fill='#a2cefa')
		rect#Rectangle_2139(data-name='Rectangle 2139', width='90', height='13', rx='6.5', transform='translate(688 262)', fill='#153156')
		g#Group_4373(data-name='Group 4373', transform='translate(2)')
			rect#Rectangle_2131(data-name='Rectangle 2131', width='20', height='4', rx='2', transform='translate(797 261)', fill='#143056')
			rect#Rectangle_2132(data-name='Rectangle 2132', width='20', height='4', rx='2', transform='translate(797 266)', fill='#143056')
			rect#Rectangle_2133(data-name='Rectangle 2133', width='20', height='4', rx='2', transform='translate(797 271)', fill='#143056')
		rect#Rectangle_2149(data-name='Rectangle 2149', width='52', height='10', transform='translate(886 338)', fill='#a2cefa')
		rect#Rectangle_2150(data-name='Rectangle 2150', width='73', height='10', transform='translate(989 338)', fill='#a2cefa')
		rect#Rectangle_2151(data-name='Rectangle 2151', width='34', height='10', transform='translate(1100 338)', fill='#a2cefa')
		rect#Rectangle_2152(data-name='Rectangle 2152', width='34', height='10', transform='translate(1174 338)', fill='#a2cefa')
		rect#Rectangle_2153(data-name='Rectangle 2153', width='34', height='10', transform='translate(1244 338)', fill='#a2cefa')
		rect#Rectangle_2154(data-name='Rectangle 2154', width='52', height='5', transform='translate(886 370)', fill='#dde3ee')
		rect#Rectangle_2155(data-name='Rectangle 2155', width='5', height='5', transform='translate(962 370)', fill='#dde3ee')
		rect#Rectangle_2156(data-name='Rectangle 2156', width='52', height='5', transform='translate(989 370)', fill='#dde3ee')
		rect#Rectangle_2157(data-name='Rectangle 2157', width='5', height='5', transform='translate(1065 370)', fill='#dde3ee')
		rect#Rectangle_2158(data-name='Rectangle 2158', width='34', height='5', transform='translate(1100 370)', fill='#dde3ee')
		rect#Rectangle_2159(data-name='Rectangle 2159', width='5', height='5', transform='translate(1143 370)', fill='#dde3ee')
		rect#Rectangle_2160(data-name='Rectangle 2160', width='34', height='5', transform='translate(1174 370)', fill='#dde3ee')
		rect#Rectangle_2161(data-name='Rectangle 2161', width='5', height='5', transform='translate(1217 370)', fill='#dde3ee')
		rect#Rectangle_2162(data-name='Rectangle 2162', width='25', height='5', transform='translate(1244 370)', fill='#dde3ee')
		rect#Rectangle_2163(data-name='Rectangle 2163', width='5', height='5', transform='translate(1277 370)', fill='#dde3ee')
		path#Path_827(data-name='Path 827', d='M-38.255-2.66c0-3.612-5.264-2.044-5.264-4.564,0-1.05.826-1.6,1.876-1.568a1.767,1.767,0,0,1,1.89,1.414h1.4c-.154-1.484-1.372-2.506-3.234-2.506-1.932,0-3.234,1.092-3.234,2.7,0,3.626,5.278,1.946,5.278,4.578,0,.924-.728,1.624-1.96,1.624A1.807,1.807,0,0,1-43.519-2.6h-1.358C-44.849-.994-43.463.1-41.5.1-39.389.1-38.255-1.274-38.255-2.66Zm2.156.56c0,1.54.77,2.1,2.128,2.1h1.148V-1.078h-.938c-.784,0-1.064-.266-1.064-1.022V-6.622h2v-1.05h-2V-9.6H-36.1v1.932h-.994v1.05h.994Zm6.09-2.072c0-1.778.924-2.324,2.142-2.324h.336V-7.812a2.584,2.584,0,0,0-2.478,1.386V-7.672h-1.274V0h1.274Zm11.228.322A3.745,3.745,0,0,0-22.659-7.8,3.752,3.752,0,0,0-26.537-3.85,3.725,3.725,0,0,0-22.715.126,3.8,3.8,0,0,0-18.781-3.85Zm-6.454,0a2.544,2.544,0,0,1,2.562-2.842,2.577,2.577,0,0,1,2.59,2.842A2.6,2.6,0,0,1-22.715-.994C-24.045-.994-25.235-1.9-25.235-3.85ZM-11.487,0h1.26V-4.522a2.976,2.976,0,0,0-3.136-3.29A2.834,2.834,0,0,0-15.827-6.58V-7.672H-17.1V0h1.274V-4.242c0-1.652.9-2.464,2.2-2.464s2.142.8,2.142,2.366Zm2.87-3.864A3.692,3.692,0,0,0-4.977.126,3.206,3.206,0,0,0-2.121-1.442V.168A2.277,2.277,0,0,1-4.5,2.674,2.382,2.382,0,0,1-6.951,1.12h-1.26c.252,1.638,1.694,2.66,3.71,2.66A3.439,3.439,0,0,0-.833.168v-7.84H-2.121v1.4A3.162,3.162,0,0,0-4.977-7.8,3.636,3.636,0,0,0-8.617-3.864Zm6.5.014a2.625,2.625,0,0,1-2.6,2.856,2.627,2.627,0,0,1-2.59-2.87,2.59,2.59,0,0,1,2.59-2.828A2.629,2.629,0,0,1-2.121-3.85ZM10.605-2.744c0,1.064-.756,1.694-2.016,1.694H6.335V-4.494H8.547C9.793-4.494,10.605-3.822,10.605-2.744Zm-.252-4.382c0,.994-.686,1.582-1.876,1.582H6.335V-8.708H8.449C9.7-8.708,10.353-8.092,10.353-7.126Zm1.526,4.508A2.436,2.436,0,0,0,9.947-5.026,2.283,2.283,0,0,0,11.655-7.28c0-1.358-1.036-2.478-3.094-2.478h-3.5V0H8.7C10.717,0,11.879-1.148,11.879-2.618Zm3.038-1.554c0-1.778.924-2.324,2.142-2.324H17.4V-7.812a2.584,2.584,0,0,0-2.478,1.386V-7.672H13.643V0h1.274Zm3.472.308A3.69,3.69,0,0,0,22.015.126a3.2,3.2,0,0,0,2.87-1.554V0h1.288V-7.672H24.885v1.4A3.184,3.184,0,0,0,22.029-7.8,3.636,3.636,0,0,0,18.389-3.864Zm6.5.014a2.625,2.625,0,0,1-2.6,2.856,2.627,2.627,0,0,1-2.59-2.87,2.59,2.59,0,0,1,2.59-2.828A2.629,2.629,0,0,1,24.885-3.85ZM33.943,0H35.2V-4.522a2.976,2.976,0,0,0-3.136-3.29A2.834,2.834,0,0,0,29.6-6.58V-7.672H28.329V0H29.6V-4.242c0-1.652.9-2.464,2.2-2.464s2.142.8,2.142,2.366Zm2.87-3.864a3.692,3.692,0,0,0,3.64,3.99,3.151,3.151,0,0,0,2.856-1.568V0H44.6V-10.36H43.309V-6.3a3.346,3.346,0,0,0-2.842-1.5A3.638,3.638,0,0,0,36.813-3.864Zm6.5.014a2.625,2.625,0,0,1-2.6,2.856,2.627,2.627,0,0,1-2.59-2.87,2.59,2.59,0,0,1,2.59-2.828A2.629,2.629,0,0,1,43.309-3.85ZM-24.955,21h1.274V11.242h-1.274Zm2.968-3.864a3.692,3.692,0,0,0,3.64,3.99,3.151,3.151,0,0,0,2.856-1.568V21H-14.2V10.64h-1.288V14.7a3.346,3.346,0,0,0-2.842-1.5A3.638,3.638,0,0,0-21.987,17.136Zm6.5.014a2.625,2.625,0,0,1-2.6,2.856,2.627,2.627,0,0,1-2.59-2.87,2.59,2.59,0,0,1,2.59-2.828A2.629,2.629,0,0,1-15.491,17.15Zm6.706-2.87A2.251,2.251,0,0,1-6.363,16.6h-4.844A2.376,2.376,0,0,1-8.785,14.28ZM-5.2,18.634H-6.573a2.109,2.109,0,0,1-2.156,1.414,2.412,2.412,0,0,1-2.492-2.408h6.132a6.906,6.906,0,0,0,.042-.77A3.517,3.517,0,0,0-8.729,13.2a3.651,3.651,0,0,0-3.794,3.948,3.7,3.7,0,0,0,3.794,3.976A3.45,3.45,0,0,0-5.2,18.634ZM2.247,21h1.26V16.478a2.976,2.976,0,0,0-3.136-3.29A2.834,2.834,0,0,0-2.093,14.42V13.328H-3.367V21h1.274V16.758c0-1.652.9-2.464,2.2-2.464s2.142.8,2.142,2.366Zm3.626-2.1c0,1.54.77,2.1,2.128,2.1H9.149V19.922H8.211c-.784,0-1.064-.266-1.064-1.022V14.378h2v-1.05h-2V11.4H5.873v1.932H4.879v1.05h.994ZM10.689,21h1.274V13.328H10.689Zm.658-8.918a.868.868,0,1,0-.868-.868A.849.849,0,0,0,11.347,12.082ZM14.413,18.9c0,1.54.77,2.1,2.128,2.1h1.148V19.922h-.938c-.784,0-1.064-.266-1.064-1.022V14.378h2v-1.05h-2V11.4H14.413v1.932h-.994v1.05h.994Zm7.728.644-2.408-6.216H18.319l3.094,7.588-1.512,3.7h1.316l4.62-11.284H24.521Z', transform='translate(974 681)', fill='#153156')
		path#Path_828(data-name='Path 828', d='M-33.278,0H-32V-9.758h-1.274Zm9.058,0h1.26V-4.522A2.976,2.976,0,0,0-26.1-7.812,2.834,2.834,0,0,0-28.56-6.58V-7.672h-1.274V0h1.274V-4.242c0-1.652.9-2.464,2.2-2.464s2.142.8,2.142,2.366Zm3.626-2.1c0,1.54.77,2.1,2.128,2.1h1.148V-1.078h-.938c-.784,0-1.064-.266-1.064-1.022V-6.622h2v-1.05h-2V-9.6h-1.274v1.932h-.994v1.05h.994Zm8.078-4.62A2.251,2.251,0,0,1-10.094-4.4h-4.844A2.376,2.376,0,0,1-12.516-6.72Zm3.584,4.354H-10.3A2.109,2.109,0,0,1-12.46-.952,2.412,2.412,0,0,1-14.952-3.36H-8.82a6.906,6.906,0,0,0,.042-.77A3.517,3.517,0,0,0-12.46-7.8,3.651,3.651,0,0,0-16.254-3.85,3.7,3.7,0,0,0-12.46.126,3.45,3.45,0,0,0-8.932-2.366ZM-7.1,0h1.274V-10.36H-7.1Zm3.444,0H-2.38V-10.36H-3.654ZM-.21,0H1.064V-7.672H-.21ZM.448-8.918a.849.849,0,0,0,.84-.868.849.849,0,0,0-.84-.868.855.855,0,0,0-.868.868A.855.855,0,0,0,.448-8.918Zm2.31,5.054A3.692,3.692,0,0,0,6.4.126,3.206,3.206,0,0,0,9.254-1.442V.168a2.277,2.277,0,0,1-2.38,2.506A2.382,2.382,0,0,1,4.424,1.12H3.164c.252,1.638,1.694,2.66,3.71,2.66A3.439,3.439,0,0,0,10.542.168v-7.84H9.254v1.4A3.162,3.162,0,0,0,6.4-7.8,3.636,3.636,0,0,0,2.758-3.864Zm6.5.014A2.625,2.625,0,0,1,6.65-.994a2.627,2.627,0,0,1-2.59-2.87A2.59,2.59,0,0,1,6.65-6.692,2.629,2.629,0,0,1,9.254-3.85ZM15.96-6.72A2.251,2.251,0,0,1,18.382-4.4H13.538A2.376,2.376,0,0,1,15.96-6.72Zm3.584,4.354H18.172A2.109,2.109,0,0,1,16.016-.952,2.412,2.412,0,0,1,13.524-3.36h6.132a6.906,6.906,0,0,0,.042-.77A3.517,3.517,0,0,0,16.016-7.8,3.651,3.651,0,0,0,12.222-3.85,3.7,3.7,0,0,0,16.016.126,3.45,3.45,0,0,0,19.544-2.366ZM26.992,0h1.26V-4.522a2.976,2.976,0,0,0-3.136-3.29A2.834,2.834,0,0,0,22.652-6.58V-7.672H21.378V0h1.274V-4.242c0-1.652.9-2.464,2.2-2.464s2.142.8,2.142,2.366Zm3.626-2.1c0,1.54.77,2.1,2.128,2.1h1.148V-1.078h-.938c-.784,0-1.064-.266-1.064-1.022V-6.622h2v-1.05h-2V-9.6H30.618v1.932h-.994v1.05h.994ZM-34.951,16.114a4.787,4.787,0,0,0,4.872,4.97,4.589,4.589,0,0,0,4.522-2.926h-1.526a3.079,3.079,0,0,1-3,1.82,3.539,3.539,0,0,1-3.57-3.864,3.544,3.544,0,0,1,3.57-3.878,3.07,3.07,0,0,1,3,1.834h1.526a4.593,4.593,0,0,0-4.522-2.954A4.811,4.811,0,0,0-34.951,16.114Zm12.558.714c0-1.778.924-2.324,2.142-2.324h.336V13.188a2.584,2.584,0,0,0-2.478,1.386V13.328h-1.274V21h1.274Zm11.228.322A3.745,3.745,0,0,0-15.043,13.2a3.752,3.752,0,0,0-3.878,3.948A3.725,3.725,0,0,0-15.1,21.126,3.8,3.8,0,0,0-11.165,17.15Zm-6.454,0a2.544,2.544,0,0,1,2.562-2.842,2.577,2.577,0,0,1,2.59,2.842A2.6,2.6,0,0,1-15.1,20.006C-16.429,20.006-17.619,19.1-17.619,17.15Zm13.65,1.764c-.056-2.744-4.508-1.75-4.508-3.57,0-.616.56-1.064,1.5-1.064a1.475,1.475,0,0,1,1.666,1.33h1.274c-.084-1.5-1.2-2.408-2.9-2.408s-2.814.966-2.814,2.142c0,2.856,4.536,1.862,4.536,3.57,0,.63-.56,1.134-1.568,1.134-1.078,0-1.736-.56-1.806-1.3H-9.905c.084,1.4,1.344,2.38,3.136,2.38C-5.075,21.126-3.969,20.174-3.969,18.914Zm7.308,0c-.056-2.744-4.508-1.75-4.508-3.57,0-.616.56-1.064,1.5-1.064a1.475,1.475,0,0,1,1.666,1.33H3.269c-.084-1.5-1.2-2.408-2.9-2.408s-2.814.966-2.814,2.142c0,2.856,4.536,1.862,4.536,3.57,0,.63-.56,1.134-1.568,1.134-1.078,0-1.736-.56-1.806-1.3H-2.6c.084,1.4,1.344,2.38,3.136,2.38C2.233,21.126,3.339,20.174,3.339,18.914Zm1.526-2.506h5.586V15.33H4.865ZM19.187,18.34c0-3.612-5.264-2.044-5.264-4.564,0-1.05.826-1.6,1.876-1.568a1.767,1.767,0,0,1,1.89,1.414h1.4c-.154-1.484-1.372-2.506-3.234-2.506-1.932,0-3.234,1.092-3.234,2.7,0,3.626,5.278,1.946,5.278,4.578,0,.924-.728,1.624-1.96,1.624A1.807,1.807,0,0,1,13.923,18.4H12.565c.028,1.61,1.414,2.7,3.374,2.7C18.053,21.1,19.187,19.726,19.187,18.34Zm5.138-4.06A2.251,2.251,0,0,1,26.747,16.6H21.9A2.376,2.376,0,0,1,24.325,14.28Zm3.584,4.354H26.537a2.109,2.109,0,0,1-2.156,1.414,2.412,2.412,0,0,1-2.492-2.408h6.132a6.906,6.906,0,0,0,.042-.77A3.517,3.517,0,0,0,24.381,13.2a3.651,3.651,0,0,0-3.794,3.948,3.7,3.7,0,0,0,3.794,3.976A3.45,3.45,0,0,0,27.909,18.634ZM29.743,21h1.274V10.64H29.743Zm3.444,0h1.274V10.64H33.187Z', transform='translate(1134 681)', fill='#153156')
		path#Path_829(data-name='Path 829', d='M-16.821-9.758V0h4.69V-1.036h-3.416V-9.758ZM-3.493-3.85A3.745,3.745,0,0,0-7.371-7.8,3.752,3.752,0,0,0-11.249-3.85,3.725,3.725,0,0,0-7.427.126,3.8,3.8,0,0,0-3.493-3.85Zm-6.454,0A2.544,2.544,0,0,1-7.385-6.692,2.577,2.577,0,0,1-4.795-3.85,2.6,2.6,0,0,1-7.427-.994C-8.757-.994-9.947-1.9-9.947-3.85ZM1.1-1.456-1.309-7.672H-2.723L.371-.084l-1.512,3.7H.175L4.8-7.672H3.479ZM5.593-3.864A3.69,3.69,0,0,0,9.219.126a3.2,3.2,0,0,0,2.87-1.554V0h1.288V-7.672H12.089v1.4A3.184,3.184,0,0,0,9.233-7.8,3.636,3.636,0,0,0,5.593-3.864Zm6.5.014a2.625,2.625,0,0,1-2.6,2.856,2.627,2.627,0,0,1-2.59-2.87,2.59,2.59,0,0,1,2.59-2.828A2.629,2.629,0,0,1,12.089-3.85ZM15.533,0h1.274V-10.36H15.533ZM-37.779,16.114a4.787,4.787,0,0,0,4.872,4.97,4.589,4.589,0,0,0,4.522-2.926h-1.526a3.079,3.079,0,0,1-3,1.82,3.539,3.539,0,0,1-3.57-3.864,3.544,3.544,0,0,1,3.57-3.878,3.07,3.07,0,0,1,3,1.834h1.526a4.593,4.593,0,0,0-4.522-2.954A4.811,4.811,0,0,0-37.779,16.114Zm18.088-2.786h-1.274v4.214c0,1.652-.882,2.464-2.2,2.464a2.058,2.058,0,0,1-2.142-2.352V13.328h-1.26v4.494a2.993,2.993,0,0,0,3.15,3.29,2.82,2.82,0,0,0,2.45-1.246V21h1.274Zm7.672,5.586c-.056-2.744-4.508-1.75-4.508-3.57,0-.616.56-1.064,1.5-1.064a1.475,1.475,0,0,1,1.666,1.33h1.274c-.084-1.5-1.2-2.408-2.9-2.408s-2.814.966-2.814,2.142c0,2.856,4.536,1.862,4.536,3.57,0,.63-.56,1.134-1.568,1.134-1.078,0-1.736-.56-1.806-1.3h-1.316c.084,1.4,1.344,2.38,3.136,2.38C-13.125,21.126-12.019,20.174-12.019,18.914Zm2.072-.014c0,1.54.77,2.1,2.128,2.1h1.148V19.922h-.938c-.784,0-1.064-.266-1.064-1.022V14.378h2v-1.05h-2V11.4H-9.947v1.932h-.994v1.05h.994Zm12.1-1.75A3.745,3.745,0,0,0-1.729,13.2,3.752,3.752,0,0,0-5.607,17.15a3.725,3.725,0,0,0,3.822,3.976A3.8,3.8,0,0,0,2.149,17.15Zm-6.454,0a2.544,2.544,0,0,1,2.562-2.842A2.577,2.577,0,0,1,.847,17.15a2.6,2.6,0,0,1-2.632,2.856C-3.115,20.006-4.3,19.1-4.3,17.15ZM14.9,21h1.26V16.478a2.969,2.969,0,0,0-3.108-3.29A2.84,2.84,0,0,0,10.339,14.9a2.887,2.887,0,0,0-2.814-1.708A2.773,2.773,0,0,0,5.1,14.434V13.328H3.829V21H5.1V16.772c0-1.652.882-2.478,2.17-2.478,1.26,0,2.1.8,2.1,2.366V21h1.26V16.772c0-1.652.882-2.478,2.17-2.478,1.26,0,2.1.8,2.1,2.366Zm6.608-6.72A2.251,2.251,0,0,1,23.933,16.6H19.089A2.376,2.376,0,0,1,21.511,14.28Zm3.584,4.354H23.723a2.109,2.109,0,0,1-2.156,1.414,2.412,2.412,0,0,1-2.492-2.408h6.132a6.906,6.906,0,0,0,.042-.77A3.517,3.517,0,0,0,21.567,13.2a3.651,3.651,0,0,0-3.794,3.948,3.7,3.7,0,0,0,3.794,3.976A3.45,3.45,0,0,0,25.095,18.634ZM28.2,16.828c0-1.778.924-2.324,2.142-2.324h.336V13.188A2.584,2.584,0,0,0,28.2,14.574V13.328H26.929V21H28.2Zm9.464,2.086c-.056-2.744-4.508-1.75-4.508-3.57,0-.616.56-1.064,1.5-1.064a1.475,1.475,0,0,1,1.666,1.33H37.6c-.084-1.5-1.2-2.408-2.9-2.408s-2.814.966-2.814,2.142c0,2.856,4.536,1.862,4.536,3.57,0,.63-.56,1.134-1.568,1.134-1.078,0-1.736-.56-1.806-1.3H31.731c.084,1.4,1.344,2.38,3.136,2.38C36.561,21.126,37.667,20.174,37.667,18.914Z', transform='translate(1294 681)', fill='#153156')
