svg#story2-illustration-svg(width='950px', height='558px', viewBox='0 0 950 558', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
	g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
		g(transform='translate(-1.000000, -1.000000)')
			g(transform='translate(0.780000, 0.924000)')
				g#story__block-1(transform='translate(0.220000, 0.076000)')
					g
						rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='251', height='172', rx='5')
						rect(stroke='#E1F0FF', x='0.5', y='0.5', width='250', height='171', rx='4.5')
					text(font-family='Lato-Bold, Lato', font-size='15', font-weight='bold', line-spacing='22', fill='#153156')
						tspan(x='10', y='52') Events & Triggers
					g
						path(d='M5,0 L246,0 C248.761424,0 251,2.23857625 251,5 L251,25 L0,25 L0,5 C0,2.23857625 2.23857625,0 5,0 Z', fill='#E8F4FF', fill-rule='nonzero')
						path(d='M5,0.5 L246,0.5 C248.485281,0.5 250.5,2.51471863 250.5,5 L250.5,24 C250.5,24.2761424 250.276142,24.5 250,24.5 L1,24.5 C0.723857625,24.5 0.5,24.2761424 0.5,24 L0.5,5 C0.5,2.51471863 2.51471863,0.5 5,0.5 Z', stroke='#E1F0FF')
					g#story__block-1-line(transform='translate(12.000000, 66.000000)', fill-rule='nonzero')
						rect(fill='#F8FBFF', x='0', y='7.10542736e-15', width='232', height='96', rx='5')
						rect(fill='#FD5545', opacity='0.45', x='14', y='13', width='65', height='6')
						rect(fill='#A9C4DC', opacity='0.48', x='14', y='24', width='204', height='12')
						rect(fill='#A9C4DC', opacity='0.48', x='14', y='42', width='65', height='6')
						rect(fill='#A9C4DC', opacity='0.48', x='14', y='53', width='204', height='12')
						rect(fill='#A9C4DC', opacity='0.48', x='14', y='71', width='204', height='12')
					circle(fill='#E13838', fill-rule='nonzero', opacity='0.77', cx='14', cy='13', r='4')
					circle(fill='#ECEC1E', fill-rule='nonzero', opacity='0.77', cx='27', cy='13', r='4')
					ellipse(fill='#38E143', fill-rule='nonzero', opacity='0.77', cx='39.5', cy='13', rx='4.5', ry='4')
				g#story__block-2(transform='translate(0.220000, 193.871000)')
					g(transform='translate(0.000000, 0.205000)')
						rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='251', height='172', rx='5')
						rect(stroke='#E1F0FF', x='0.5', y='0.5', width='250', height='171', rx='4.5')
					text(font-family='Lato-Bold, Lato', font-size='15', font-weight='bold', fill='#153156')
						tspan(x='10', y='52.205') Opportunities & Predictions
					g(transform='translate(0.000000, 0.205000)')
						path(d='M5,0 L246,0 C248.761424,0 251,2.23857625 251,5 L251,25 L0,25 L0,5 C0,2.23857625 2.23857625,0 5,0 Z', fill='#E8F4FF', fill-rule='nonzero')
						path(d='M5,0.5 L246,0.5 C248.485281,0.5 250.5,2.51471863 250.5,5 L250.5,24 C250.5,24.2761424 250.276142,24.5 250,24.5 L1,24.5 C0.723857625,24.5 0.5,24.2761424 0.5,24 L0.5,5 C0.5,2.51471863 2.51471863,0.5 5,0.5 Z', stroke='#E1F0FF')
					circle(fill='#E13838', fill-rule='nonzero', opacity='0.77', cx='14', cy='13.205', r='4')
					circle(fill='#ECEC1E', fill-rule='nonzero', opacity='0.77', cx='27', cy='13.205', r='4')
					ellipse(fill='#38E143', fill-rule='nonzero', opacity='0.77', cx='39.5', cy='13.205', rx='4.5', ry='4')
					g#story__block-2-graph(transform='translate(12.000000, 95.205000)', fill='#E8F4FF', fill-rule='nonzero')
						rect(x='1.77635684e-15', y='48', width='28', height='19', rx='5')
						rect(x='40', y='38', width='28', height='29', rx='5')
						rect(x='78', y='22', width='28', height='45', rx='5')
						rect(x='118', y='0', width='28', height='67', rx='5')
						rect(x='157', y='48', width='28', height='19', rx='5')
						rect(x='199', y='48', width='28', height='19', rx='5')
					g#story__block-2-line(transform='translate(12.000000, 62.205000)', fill-rule='nonzero')
						rect(fill='#FD5545', opacity='0.58', x='0', y='-4.4408921e-16', width='101', height='4')
						rect(fill='#D3E1EE', x='0', y='9', width='227', height='4')
				g#story__block-3(transform='translate(0.220000, 385.846000)')
					g(transform='translate(0.000000, 0.229000)')
						rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='251', height='172', rx='5')
						rect(stroke='#E1F0FF', x='0.5', y='0.5', width='250', height='171', rx='4.5')
					text(font-family='Lato-Bold, Lato', font-size='15', font-weight='bold', fill='#153156')
						tspan(x='10', y='50.23') 3rd Party Product Detection
					g(transform='translate(0.000000, 0.229000)')
						path(d='M5,0 L246,0 C248.761424,0 251,2.23857625 251,5 L251,25 L0,25 L0,5 C0,2.23857625 2.23857625,0 5,0 Z', fill='#E8F4FF', fill-rule='nonzero')
						path(d='M5,0.5 L246,0.5 C248.485281,0.5 250.5,2.51471863 250.5,5 L250.5,24 C250.5,24.2761424 250.276142,24.5 250,24.5 L1,24.5 C0.723857625,24.5 0.5,24.2761424 0.5,24 L0.5,5 C0.5,2.51471863 2.51471863,0.5 5,0.5 Z', stroke='#E1F0FF')
					g#story__block-3-line(transform='translate(26.000000, 86.229000)', fill-rule='nonzero')
						rect(fill='#153156', opacity='0.71', x='41', y='-4.4408921e-16', width='65', height='5')
						rect(fill='#FD5545', opacity='0.41', x='-7.10542736e-15', y='22', width='65', height='6')
						rect(fill='#D0E7FC', opacity='0.48', x='0', y='33', width='204', height='12')
						rect(fill='#D0E7FC', opacity='0.48', x='0', y='51', width='204', height='12')
					circle(fill='#E13838', fill-rule='nonzero', opacity='0.77', cx='14', cy='11.229', r='4')
					circle(fill='#ECEC1E', fill-rule='nonzero', opacity='0.77', cx='27', cy='11.229', r='4')
					ellipse(fill='#38E143', fill-rule='nonzero', opacity='0.77', cx='39.5', cy='11.229', rx='4.5', ry='4')
					path(d='M30.819,93.435 C31.0175636,93.1092671 31.1233721,92.7354797 31.125,92.354 C31.1238974,91.1808519 30.1731481,90.2301026 29,90.229 C27.8268519,90.2301026 26.8761026,91.1808519 26.875,92.354 C26.8766279,92.7354797 26.9824364,93.1092671 27.181,93.435 C26.4465125,93.9006049 26.0010135,94.7093686 26,95.579 L26,96.029 C26,96.6917417 26.5372583,97.229 27.2,97.229 L30.8,97.229 C31.4627417,97.229 32,96.6917417 32,96.029 L32,95.579 C31.9989865,94.7093686 31.5534875,93.9006049 30.819,93.435 Z M29,91.729 C29.3447222,91.7300978 29.6239022,92.0092778 29.625,92.354 C29.6239022,92.6987222 29.3447222,92.9779022 29,92.979 C28.6552778,92.9779022 28.3760978,92.6987222 28.375,92.354 C28.3760978,92.0092778 28.6552778,91.7300978 29,91.729 Z M30.5,95.729 L27.5,95.729 L27.5,95.579 C27.5011006,94.9995575 27.9705575,94.5301006 28.55,94.529 L29.45,94.529 C30.0294425,94.5301006 30.4988994,94.9995575 30.5,95.579 L30.5,95.729 Z M30.819,84.435 C31.0175636,84.1092671 31.1233721,83.7354797 31.125,83.354 C31.1238974,82.1808519 30.1731481,81.2301026 29,81.229 C27.8268519,81.2301026 26.8761026,82.1808519 26.875,83.354 C26.8766279,83.7354797 26.9824364,84.1092671 27.181,84.435 C26.4465125,84.9006049 26.0010135,85.7093686 26,86.579 L26,87.029 C26,87.3472598 26.1264282,87.6524845 26.3514719,87.8775281 C26.5765155,88.1025718 26.8817402,88.229 27.2,88.229 L30.8,88.229 C31.4627417,88.229 32,87.6917417 32,87.029 L32,86.579 C31.9989865,85.7093686 31.5534875,84.9006049 30.819,84.435 Z M29,82.729 C29.3447222,82.7300978 29.6239022,83.0092778 29.625,83.354 C29.6239022,83.6987222 29.3447222,83.9779022 29,83.979 C28.6552778,83.9779022 28.3760978,83.6987222 28.375,83.354 C28.3760978,83.0092778 28.6552778,82.7300978 29,82.729 L29,82.729 Z M30.5,86.729 L27.5,86.729 L27.5,86.579 C27.5011006,85.9995575 27.9705575,85.5301006 28.55,85.529 L29.45,85.529 C30.0294425,85.5301006 30.4988994,85.9995575 30.5,86.579 L30.5,86.729 Z M45.25,82.2289946 L33.75,82.2289946 C33.5509247,82.228467 33.3598494,82.3073135 33.2190814,82.4480814 C33.0783135,82.5888494 32.999467,82.7799247 32.9999946,82.979 L32.9999946,86.479 C32.999467,86.6780753 33.0783135,86.8691506 33.2190814,87.0099186 C33.3598494,87.1506865 33.5509247,87.229533 33.75,87.2289946 L45.25,87.2289946 C45.4490753,87.229533 45.6401506,87.1506865 45.7809186,87.0099186 C45.9216865,86.8691506 46.000533,86.6780753 45.9999946,86.479 L45.9999946,82.979 C46.000533,82.7799247 45.9216865,82.5888494 45.7809186,82.4480814 C45.6401506,82.3073135 45.4490753,82.228467 45.25,82.2289946 Z M44.5,85.729 L42,85.729 L42,83.729 L44.5,83.729 L44.5,85.729 Z M45.25,91.2289946 L33.75,91.2289946 C33.5509247,91.228467 33.3598494,91.3073135 33.2190814,91.4480814 C33.0783135,91.5888494 32.999467,91.7799247 32.9999946,91.979 L32.9999946,95.479 C32.999467,95.6780753 33.0783135,95.8691506 33.2190814,96.0099186 C33.3598494,96.1506865 33.5509247,96.229533 33.75,96.2289946 L45.25,96.2289946 C45.4490753,96.229533 45.6401506,96.1506865 45.7809186,96.0099186 C45.9216865,95.8691506 46.000533,95.6780753 45.9999946,95.479 L45.9999946,91.979 C46.000533,91.7799247 45.9216865,91.5888494 45.7809186,91.4480814 C45.6401506,91.3073135 45.4490753,91.228467 45.25,91.2289946 Z M44.5,94.729 L37,94.729 L37,92.729 L44.5,92.729 L44.5,94.729 Z', fill='#153156', fill-rule='nonzero')
				g#story__block-4(transform='translate(699.220000, 95.076000)')
					g
						rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='251', height='172', rx='5')
						rect(stroke='#E1F0FF', x='0.5', y='0.5', width='250', height='171', rx='4.5')
					text(font-family='Lato-Bold, Lato', font-size='15', font-weight='bold', fill='#153156')
						tspan(x='10', y='52') Sales & Marketing
					g
						path(d='M5,0 L246,0 C248.761424,0 251,2.23857625 251,5 L251,25 L0,25 L0,5 C0,2.23857625 2.23857625,0 5,0 Z', fill='#E8F4FF', fill-rule='nonzero')
						path(d='M5,0.5 L246,0.5 C248.485281,0.5 250.5,2.51471863 250.5,5 L250.5,24 C250.5,24.2761424 250.276142,24.5 250,24.5 L1,24.5 C0.723857625,24.5 0.5,24.2761424 0.5,24 L0.5,5 C0.5,2.51471863 2.51471863,0.5 5,0.5 Z', stroke='#E1F0FF')
					g#story__block-4-line(transform='translate(26.000000, 79.000000)', fill-rule='nonzero')
						rect(fill='#A9C4DC', opacity='0.48', x='3.55271368e-15', y='0', width='39', height='6')
						rect(fill='#A9C4DC', opacity='0.48', x='50', y='0', width='39', height='6')
						rect(fill='#A9C4DC', opacity='0.48', x='3.55271368e-15', y='31', width='39', height='6')
						rect(fill='#A9C4DC', opacity='0.48', x='50', y='31', width='39', height='6')
						rect(fill='#A9C4DC', opacity='0.48', x='3.55271368e-15', y='63', width='39', height='6')
						rect(fill='#A9C4DC', opacity='0.48', x='50', y='63', width='39', height='6')
						rect(fill='#FD5545', opacity='0.36', x='107', y='0', width='50', height='13')
						polygon(fill='#153156', opacity='0.58', points='107 18 187 18 187 31 107 31')
						rect(fill='#FD5545', opacity='0.51', x='107', y='37', width='100', height='13')
						polygon(fill='#153156', opacity='0.53', points='107 56 175 56 175 69 107 69')
						rect(fill='#FD5545', opacity='0.21', x='107', y='0', width='100', height='13')
						polygon(fill='#153156', opacity='0.35', points='107 18 207 18 207 31 107 31')
						polygon(fill='#153156', opacity='0.45', points='107 56 207 56 207 69 107 69')
					circle(fill='#E13838', fill-rule='nonzero', opacity='0.77', cx='14', cy='13', r='4')
					circle(fill='#ECEC1E', fill-rule='nonzero', opacity='0.77', cx='27', cy='13', r='4')
					ellipse(fill='#38E143', fill-rule='nonzero', opacity='0.77', cx='39.5', cy='13', rx='4.5', ry='4')
				g#story__block-5(transform='translate(699.220000, 289.847000)')
					g(transform='translate(0.000000, 0.229000)')
						rect(fill='#FFFFFF', fill-rule='nonzero', x='0', y='0', width='251', height='172', rx='5')
						rect(stroke='#E1F0FF', x='0.5', y='0.5', width='250', height='171', rx='4.5')
					text(font-family='Lato-Bold, Lato', font-size='15', font-weight='bold', fill='#153156')
						tspan(x='10', y='49.229') Financial Wellness
					g(transform='translate(0.000000, 0.229000)')
						path(d='M5,0 L246,0 C248.761424,0 251,2.23857625 251,5 L251,25 L0,25 L0,5 C0,2.23857625 2.23857625,0 5,0 Z', fill='#E8F4FF', fill-rule='nonzero')
						path(d='M5,0.5 L246,0.5 C248.485281,0.5 250.5,2.51471863 250.5,5 L250.5,24 C250.5,24.2761424 250.276142,24.5 250,24.5 L1,24.5 C0.723857625,24.5 0.5,24.2761424 0.5,24 L0.5,5 C0.5,2.51471863 2.51471863,0.5 5,0.5 Z', stroke='#E1F0FF')
					rect(fill='#F8FBFF', fill-rule='nonzero', x='12', y='66.229', width='232', height='96', rx='5')
					g#story__block-5-line(opacity='0.45', transform='translate(26.000000, 79.229000)', fill='#FD5545', fill-rule='nonzero')
						rect(x='3.55271368e-15', y='0', width='59', height='6')
						rect(x='73', y='0', width='58', height='6')
						rect(x='145', y='0', width='59', height='6')
					circle(fill='#E13838', fill-rule='nonzero', opacity='0.77', cx='14', cy='11.229', r='4')
					circle(fill='#ECEC1E', fill-rule='nonzero', opacity='0.77', cx='27', cy='11.229', r='4')
					ellipse(fill='#38E143', fill-rule='nonzero', opacity='0.77', cx='39.5', cy='11.229', rx='4.5', ry='4')
					g#story__block-5-graph(transform='translate(26.000000, 94.229000)', fill='#D3E1EE', fill-rule='nonzero')
						rect(x='4.4408921e-16', y='31', width='5', height='31')
						rect(x='10', y='14', width='5', height='48')
						rect(x='20', y='8', width='5', height='54')
						rect(x='30', y='37', width='5', height='25')
						rect(x='40', y='22', width='5', height='40')
						rect(x='50', y='17', width='5', height='45')
						rect(x='73', y='8', width='5', height='54')
						rect(x='83', y='28', width='5', height='34')
						rect(x='93', y='2', width='5', height='60')
						rect(x='103', y='15', width='5', height='47')
						rect(x='113', y='11', width='5', height='51')
						rect(x='123', y='28', width='5', height='34')
						rect(x='145', y='22', width='5', height='40')
						rect(x='155', y='1.0658141e-14', width='5', height='62')
						rect(x='165', y='34', width='5', height='28')
						rect(x='175', y='20', width='5', height='42')
						rect(x='185', y='11', width='5', height='51')
						rect(x='195', y='6', width='5', height='56')
			g#story__path(transform='translate(251.500000, 80.500000)', stroke='#FD5545', stroke-width='3')
				polyline#story__path-5(points='363.5 212 402.19 212 402.19 301.926 448.51 301.926')
				polyline#story__path-4(points='353.568 176.923 401.141 176.923 401.141 87.223 449.793 87.223')
				polyline#story__path-3(points='81.2270804 262.223 41.5 262.3255 41.5 398 0 398')
				line#story__path-2(x1='71.5', y1='206', x2='0.5', y2='206')
				polyline#story__path-1(points='85.51 149.432 39.19 149.432 39.19 0 0.5 0')
			g#story__logo(transform='translate(323.000000, 145.000000)', fill-rule='nonzero')
				circle#story__logo-circle(fill='#FFDBD9', cx='146', cy='146', r='146')
				polygon#story__logo-curve-1(fill='#153156', points='78.986 59.618 143.301 59.618 78.986 127.054')
				polygon#story__logo-curve-3(fill='#153156', points='78.986 163.366 78.986 232.285 144.786 232.285')
				polygon#story__logo-curve-2(fill='#153156', points='180.355 59.618 217.409 59.618 180.356 98.894 226.302 143.358 183.588 191.022 221.704 232.511 182.238 232.511 140.749 191.022 189.321 143.358 142.435 98.894')

