// SECTION :: START

section#connect.connect
	.c-grid

		p.connect__title.c-title Connect With Us
		p.connect__desc Arcu risus quis varius quam quisque id. Suspendisse ultrices gravida dictum fusce ut placerat. Nec ullamcorper sit amet risus.

		.connect__wrapper
			.connect__wrapper-col.connect__wrapper-col-1
				p.connect__subtitle New York
				p.connect__text 43 W 23rd St. 6th Fl. New York NY 10010

			.connect__wrapper-col.connect__wrapper-col-2
				p.connect__subtitle Montreal
				p.connect__text 1470 Peel St. #745. Montreal, QC H3A 1T1

			.connect__wrapper-col.connect__wrapper-col-3
				p.connect__subtitle Bangalore
				p.connect__text Building No. 6A, Outer Ring Road, Bangalore 560103

			.connect__wrapper-col.connect__wrapper-col-4
				p.connect__subtitle Follow us on:

				ul.social
					li.social__item
						a.social__link(href="#")
							i.fab.fa-twitter
					li.social__item
						a.social__link(href="#")
							i.fab.fa-linkedin-in



// SECTION :: END
