// SECTION :: START

section#main.main

	.main__bg

	.c-grid
		.main__wrapper
			.main__wrapper-left

				h1.main__title.c-subtitle Every customer is different
				hr.main__line
				p.main__subtitle Understanding their needs is the key to shared success
				p.main__desc Sit amet commodo nulla facilisi nullam vehicula ipsum. Adipiscing elit duis tristique sollicitudin nibh sit. Turpis nunc eget lorem dolor sed viverra ipsum. Proin sed libero enim sed faucibus turpis in eu mi.

				.main__btn.c-btn__wrapper
					a.c-btn.c-btn--radiusBig(href="#")
						p!= "Get in <span>Touch</span>"

			.main__wrapper-right

				include ../illustration/_main-illustration


// SECTION :: END
