// SECTION :: START

section#main.main

	.main__bg

	.c-grid
		.main__wrapper
			.main__wrapper-left

				h1.main__title.c-subtitle Every customer is different
				hr.main__line
				p.main__subtitle Understanding their needs is the key to shared success
				p.main__desc KapitalWise enables relationship banking at scale by analyzing data from a variety of sources with the goal of identifying life, financial and credit events and helping bank customers to achieve their financial goals.

				.main__btn.c-btn__wrapper
					a.c-btn.c-btn--radiusBig(href="/demo.html")
						p!= "Get in <span>Touch</span>"

			.main__wrapper-right

				include ../illustration/_main-illustration


// SECTION :: END
