// SECTION :: START

section#number.number
	.c-grid

		.number__header
			.number__header-left
				p.number__title.c-title Some numbers about us

			.number__header-right
				p.number__desc Venenatis urna cursus eget nunc scelerisque. Phasellus egestas tellus rutrum tellus pellentesque eu. Eu turpis egestas pretium aenean. Egestas diam in arcu cursus euismod quis viverra.

		.number__wrapper

			.number__box-wrapper
				div
					.number__box.number__box-1
						.number__box-badge
							i.far.fa-heart
							span SOMETHING
						p.number__box-count 70%
						p.number__box-title!= "Reduced Customer<br>Acquisition Cost"
				div
					.number__box.number__box-2
						.number__box-badge
							i.fas.fa-search
							span SOMETHING
						p.number__box-count 6x
						p.number__box-title!= "More<br>conversions"
				div
					.number__box.number__box-3
						.number__box-badge
							i.far.fa-star
							span SOMETHING
						p.number__box-count 15%
						p.number__box-title!= "More Engagement<br>Rate"

// SECTION :: END
