// SECTION :: START

section#partners.partners

	.partners__bg

	.c-grid

		.partners__wrapper

			p.partners__title.c-title Proud Partners
			p.partners__desc Our partners build technology and programs that make banking more accessible, enable new ways to improve consumers financial life, and accelerate innovation.

			.partners__box-wrapper
				div
					a.partners__box.partners__box-1(href="#")
						img(src="img/logo.png" srcset='img/logo.png' alt="")
				div
					a.partners__box.partners__box-2(href="#")
						img(src="img/logo-1.png" srcset='img/logo-1@2x.png 2x' alt="")
				div
					a.partners__box.partners__box-3(href="#")
						img(src="img/logo-2.png" srcset='img/logo-2@2x.png 2x' alt="")
				div
					a.partners__box.partners__box-4(href="#")
						img(src="img/logo-3.png" srcset='img/logo-3@2x.png 2x' alt="")
				div
					a.partners__box.partners__box-5(href="#")
						img(src="img/logo-4.png" srcset='img/logo-4@2x.png 2x' alt="")

// SECTION :: END
