// SECTION :: START

section#partners.partners

	.partners__bg

	.c-grid

		.partners__wrapper

			p.partners__title.c-title Proud Partners
			p.partners__desc Our partners build technology and programs that make banking more accessible, enable new ways to improve consumer's financial life and accelerate innovation.

			.partners__img-wrapper
				div
					img.partners__img(src="img/img-partner-1.svg" alt="")
				div
					img.partners__img(src="img/img-partner-5.svg" alt="")
				div
					img.partners__img(src="img/img-partner-3.svg" alt="")
				div
					img.partners__img(src="img/img-partner-4.svg" alt="")
				div
					img.partners__img(src="img/img-partner-2.png" alt="")

// SECTION :: END
