// SECTION :: START

section#story.story
	.c-grid

		p.story__title.c-subtitle Look Beyond the Numbers, Know Your Customer's Story!

		.story__wrapper

			include ../illustration/_story-illustration-1


// SECTION :: END
