// SECTION :: START

section#turn-key.turn-key
	.c-grid

		p.turn-key__title.c-title Turn-key integrations in less than 24 hrs.

		.turn-key__wrapper

			.turn-key__box-wrapper
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
									i.icon-font.icon-saas-dashboards
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title SaaS Dashboards
							p.turn-key__box-desc Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem fugiat voluptas nulla pariatur.
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
									i.icon-font.icon-deep-insights
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title Deep Insights
							p.turn-key__box-desc Autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem fugiat voluptas nulla pariatur.
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
									i.icon-font.icon-targeted-marketing
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title Targeted Marketing
							p.turn-key__box-desc Vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem fugiat voluptas nulla pariatur.

			.turn-key__btn.c-btn__wrapper
				a.c-btn.c-btn--radiusSmall(href="#")
					p
						span Request Demo

// SECTION :: END
