// SECTION :: START

section#turn-key.turn-key
	.c-grid

		p.turn-key__title.c-title Turn-key integrations in less than 24 hrs.

		.turn-key__wrapper

			.turn-key__box-wrapper
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title SaaS Dashboards
							p.turn-key__box-desc Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem fugiat voluptas nulla pariatur.
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title Deep Insights
							p.turn-key__box-desc Autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem fugiat voluptas nulla pariatur.
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title Targeted Marketing
							p.turn-key__box-desc Vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem fugiat voluptas nulla pariatur.

// SECTION :: END
