// SECTION :: START

section#turn-key.turn-key
	.c-grid

		p.turn-key__title.c-title Turn-key integrations in less than 24 hrs.

		.turn-key__wrapper

			.turn-key__box-wrapper
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
									i.icon-font.icon-saas-dashboards
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title SaaS Dashboards
							p.turn-key__box-desc Easy to use SaaS dashboard with zero core-banking integration. We help your revenue team to build pipeline, close deals, and delight customers.
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
									i.icon-font.icon-deep-insights
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title Deep Insights
							p.turn-key__box-desc Give your relationship managers deep insights and cross-sell leads in your CRM through our API integration. Turn-key email integration to connect when it counts. 
				div
					.turn-key__box
						.turn-key__box-head
							div
								.turn-key__box-circle
									i.icon-font.icon-targeted-marketing
							div
								.turn-key__box-line
						.turn-key__box-body
							p.turn-key__box-title Targeted Marketing
							p.turn-key__box-desc Drive targeted marketing campaigns and 1:1 customer journeys by leveraging KapitalWise Campaign Dashboard.

			.turn-key__btn.c-btn__wrapper
				a.c-btn.c-btn--radiusSmall(href="/demo.html")
					p
						span Request Demo

// SECTION :: END
