body {
	color: #515251;
	scroll-behavior: smooth;
}
img {
	max-width: 100%;
}
a {
	color: #1caada;
	-webkit-transition: all .35s;
	transition: all .35s;
	&:hover {
		color: #fcbd20;
	}
	&:focus {
		color: #fcbd20;
	}
}
p {
	line-height: 28px;
}
li {
	line-height: 28px;
}
.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	max-width: 1500px;
}
section {
	padding: 0 0 70px 0;
}
.headerbg {
	padding: 150px 0 40px;
}
.maincontain {
	box-shadow: 0 0 200px rgba(0,0,0,0.1);
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
}
figure {
	text-align: center;
	margin: 50px auto;
	img {
		max-width: 80%;
	}
}
h2 {
	font-weight: 400;
	color: #153156;
	font-size: 26px;
}
.kwlogo {
	text-align: center;
	padding: 80px 0 50px;
	margin: auto;
	img {
		max-width: 300px;
		width: 90%;
	}
}
.hero-image {
	max-width: 400px;
	width: 100%;
	text-align: center;
	margin: 20px auto;
}
.headline {
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	letter-spacing: -1px;
	padding: 0 50px;
	span {
		display: block;
		font-size: 30px;
	}
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.statboxes {
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	li {
		width: calc(50% - 8px);
		padding: 50px;
		margin: 4px;
		&:first-child {
			background: #50c1d3;
		}
		&:nth-child(2) {
			background: #d25050;
		}
		&:nth-child(3) {
			background: #4f97d2;
		}
		&:nth-child(4) {
			background: #5576ba;
		}
	}
}
.states {
	font-size: 50px;
	font-weight: 200;
	margin: 20px 0;
}
.statesdesc {
	font-size: 22px;
	font-weight: 300;
}
.feel-statstics {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	p {
		color: #fff;
		padding: 30px;
		font-size: 20px;
		border-width: 0 !important;
		border-top-width: 5px !important;
	}
	li {
		margin-right: 1px;
		.feel-number {
			font-size: 40px;
			font-weight: 300;
			margin: 30px 0;
		}
		&:first-child {
			color: #50c1d3;
			width: 27%;
			p {
				background-color: #50c1d3;
				border: 5px solid #027c89;
			}
		}
		&:nth-child(2) {
			color: #50c1d3;
			width: 22%;
			p {
				background-color: #51aad1;
				border: 5px solid #005775;
			}
		}
		&:nth-child(3) {
			color: #529bcd;
			width: 26%;
			p {
				background-color: #529bcd;
				border: 5px solid #00527f;
			}
		}
		&:nth-child(4) {
			color: #5779bc;
			width: 20%;
			p {
				background-color: #5779bc;
				border: 5px solid #253c7e;
			}
		}
	}
}
.meter-dashboard {
	display: flex;
	justify-content: space-between;
	align-items: center;
	>figure {
		width: 40%;
	}
	>p {
		width: 60%;
	}
}
.wheel-block {
	width: 60%;
}
.last-page-meter {
	width: 300px;
	margin: 10px 0;
}
.points {
	list-style: square;
	padding: 30px;
}
.yesno {
	text-align: left;
	margin: 10px 0;
}
.subque {
	font-weight: 600;
}
.last-que {
	display: flex;
	align-items: center;
	figure {
		margin: 0;
		min-width: 120px;
	}
	img {
		width: 40%;
	}
}
.subanswer {
	margin-left: 20px;
}
.footer {
	img {
		max-width: 310px;
	}
	figcaption {
		font-weight: 800;
		font-size: 14px;
		color: #153156;
	}
}
.footerbottom {
	text-align: center;
	a {
		color: #fff;
		text-decoration: none;
		font-size: 30px;
		font-weight: 300;
		margin: 20px;
		display: block;
	}
	&:before {
		background: rgba(32,76,129,1);
		background: -moz-linear-gradient(left, rgba(32,76,129,1) 0%, rgba(20,49,86,1) 67%, rgba(20,49,86,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,76,129,1)), color-stop(67%, rgba(20,49,86,1)), color-stop(100%, rgba(20,49,86,1)));
		background: -webkit-linear-gradient(left, rgba(32,76,129,1) 0%, rgba(20,49,86,1) 67%, rgba(20,49,86,1) 100%);
		background: -o-linear-gradient(left, rgba(32,76,129,1) 0%, rgba(20,49,86,1) 67%, rgba(20,49,86,1) 100%);
		background: -ms-linear-gradient(left, rgba(32,76,129,1) 0%, rgba(20,49,86,1) 67%, rgba(20,49,86,1) 100%);
		background: linear-gradient(to right, rgba(32,76,129,1) 0%, rgba(20,49,86,1) 67%, rgba(20,49,86,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#204c81', endColorstr='#143156', GradientType=1 );
		position: absolute;
		height: 405px;
		bottom: auto;
		left: 0;
		right: 0;
		z-index: -1;
		content: "";
		top: auto;
	}
}
.footerlinks {
	padding-top: 100px;
}
.kw-symbol {
	width: 60px;
}
footer {
	padding: 25px 0;
	text-align: center;
	color: #ffffff;
	background-color: #262626;
	font-weight: 500;
	p {
		font-size: 14px;
		margin: 0;
	}
	ul {
		margin-bottom: 0;
		li {
			a {
				&:hover {
					text-decoration: none;
				}
				&:focus {
					text-decoration: none;
				}
				&:active {
					text-decoration: none;
				}
			}
			a.active {
				text-decoration: none;
			}
		}
	}
}
.footercontent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	a {
		color: #0085b2;
		font-weight: 600;
	}
}
.bg-primary {
	background: #1caada;
	background-image: -moz-linear-gradient( 0deg, rgb(76,207,226) 0%, rgb(86,161,224) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(76,207,226) 0%, rgb(86,161,224) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(76,207,226) 0%, rgb(86,161,224) 100%);
}
.text-primary {
	color: #1caada;
}
.no-gutter {
	>[class*='col-'] {
		padding-right: 0;
		padding-left: 0;
	}
}
.btn-outline {
	color: white;
	border: 1px solid #1caada;
	background-color: #1caada;
	&:hover {
		color: white;
		border-color: #1caada;
		background-color: #1caada;
	}
	&:focus {
		color: white;
		border-color: #1caada;
		background-color: #1caada;
	}
	&:active {
		color: white;
		border-color: #1caada;
		background-color: #1caada;
	}
}
.btn-outline.active {
	color: white;
	border-color: #1caada;
	background-color: #1caada;
}
.btn {
	border-radius: 30px;
	letter-spacing: 0px;
	i {
		font-size: 14px;
		margin-left: 5px;
	}
}
.btn-xl {
	font-size: 16px;
	padding: 15px 30px;
	font-weight: 600;
	border: solid 2px #1caada;
	background-color: #1caada;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
	&:hover {
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
		opacity: 0.8;
		outline: none;
	}
	&:focus {
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
		opacity: 0.8;
		outline: none;
	}
}
.contact {
	background: url(../../img/footerbg.svg);
	background-size: cover;
	padding: 100px 0;
	background-repeat: no-repeat;
	background-position: center top;
	h2 {
		font-size: 35px;
		color: #fff;
		font-weight: 700;
		margin: 20px auto 30px;
	}
	a {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
		font-size: 18px;
		padding: 15px 40px;
		color: #2e6695;
		font-weight: 600;
		border: none;
	}
}
.scrollto {
	width: 38px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 50px;
	margin: auto;
	img {
		max-width: 100%;
	}
}
.socials {
	display: flex;
	align-items: center;
	li {
		a {
			color: #ffffff;
			padding: 0 1px;
			margin: 0 5px;
			font-weight: normal;
			font-size: 20px;
			&:hover {
				color: #0085b2;
			}
		}
	}
}
.addresses {
	width: 19%;
	span {
		font-weight: 600;
		display: block;
		margin: 0px 0 10px 0;
		font-size: 16px;
		text-transform: uppercase;
	}
}
.fixed-top {
	z-index: 100000;
}
.navbar-brand {
	img {
		max-width: 247px;
		height: auto;
	}
}
#mainNav.navbar-shrink {
	top: 0;
	.navbar-nav {
		>li {
			a.nav-link-highlight {
				border: 1px solid #222222;
			}
			>a.nav-link-highlight {
				&:hover {
					color: #ffffff;
					border: 1px solid #1caada;
					background: #1caada;
				}
				&:focus {
					&:hover {
						color: #ffffff;
						border: 1px solid #1caada;
						background: #1caada;
					}
				}
			}
		}
	}
}
.navbar {
	padding: 0.7em;
}
#mainNav {
	border-color: rgba(34, 34, 34, 0.05);
	background-color: white;
	-webkit-transition: all .35s;
	transition: all .35s;
	font-weight: 200;
	letter-spacing: 1px;
	.navbar-brand {
		font-weight: 600;
		letter-spacing: normal;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		span {
			margin-top: 2px;
		}
		&:hover {
			color: #222222;
		}
		&:focus {
			color: #222222;
		}
	}
	.navbar-toggler {
		font-size: 12px;
		padding: 8px 10px;
		color: #222222;
	}
	.navbar-nav {
		>li {
			>a {
				font-size: 15px;
				font-weight: 600;
				padding: 10px 20px;
				margin: 0 0 0 10px;
				letter-spacing: 0px;
				color: #222222;
				&:focus {
					color: #222222;
					&:hover {
						color: #1caada;
					}
				}
				&:hover {
					color: #1caada;
				}
			}
			>a.active {
				background-color: transparent;
				&:hover {
					background-color: transparent;
				}
			}
			a.nav-link-highlight {
				border-radius: 30px;
				border: 1px solid #ffffff;
				&:hover {
					color: #1caada;
					background: #ffffff;
				}
			}
		}
	}
}
.showform {
	display: none;
	background: #fff;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	form {
		max-width: 1000px;
		margin: 0 auto;
		padding: 50px;
	}
	input[type="text"] {
		padding: 10px;
		border: 1px solid #c0c0c0;
		width: 100%;
		border-radius: 4px;
		margin-bottom: 10px;
	}
	input[type="email"] {
		padding: 10px;
		border: 1px solid #c0c0c0;
		width: 100%;
		border-radius: 4px;
		margin-bottom: 10px;
	}
	button {
		margin: 20px 0 0 !important;
		white-space: normal;
	}
}
.showmyform {
	.showform {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding-top: 100px;
	}
}
@media screen and (max-width:767px) {
	.statboxes {
		li {
			width: 100%;
			margin: 2px 0;
		}
	}
	.maincontain {
		padding: 20px;
	}
	.feel-statstics {
		flex-wrap: wrap;
		li {
			display: flex;
			align-items: center;
			.feel-number {
				width: 20%;
				flex: 0 0 20%;
				min-width: 100px;
			}
			&:first-child {
				width: 100%;
				p {
					border-width: 0 !important;
					border-left-width: 5px !important;
					margin: 0 0 1px 0;
				}
			}
			&:nth-child(2) {
				width: 100%;
				p {
					border-width: 0 !important;
					border-left-width: 5px !important;
					margin: 0 0 1px 0;
				}
			}
			&:nth-child(3) {
				width: 100%;
				p {
					border-width: 0 !important;
					border-left-width: 5px !important;
					margin: 0 0 1px 0;
				}
			}
			&:nth-child(4) {
				width: 100%;
				p {
					border-width: 0 !important;
					border-left-width: 5px !important;
					margin: 0 0 1px 0;
				}
			}
		}
	}
	.meter-dashboard {
		>figure {
			width: 100%;
			margin: 20px auto;
		}
		>p {
			width: 100%;
		}
		flex-direction: column;
	}
	figure {
		margin: 20px auto;
	}
	.addresses {
		width: auto;
		margin-top: 30px;
		max-width: 80%;
	}
	.footercontent {
		flex-direction: column;
	}
}
@media (min-width: 992px) {
	#mainNav {
		border-color: transparent;
		background-color: transparent;
		.navbar-nav {
			>li {
				>a {
					color: rgba(255, 255, 255, 1);
					&:focus {
						color: rgba(255, 255, 255, 1);
						&:hover {
							color: white;
						}
					}
					&:hover {
						color: white;
					}
				}
			}
		}
	}
	#mainNav.navbar-shrink {
		border-color: rgba(34, 34, 34, 0.1);
		background-color: white;
		.navbar-brand {
			color: #222222;
		}
		.navbar-nav {
			>li {
				>a {
					color: #222222;
					&:focus {
						color: #222222;
						&:hover {
							color: #1caada;
						}
					}
					&:hover {
						color: #1caada;
					}
				}
			}
		}
	}
}
@media screen and (max-width:1440px) {
	.container {
		max-width: 90%;
	}
}
@media screen and (max-width:1024px) {
	.container {
		max-width: 96%;
		max-width: 96%;
		padding-right: 0;
		padding-left: 0;
		margin: 0 auto;
	}
}
@media screen and (max-width:768px) {
	.addresses {
		width: 20%;
	}
	.headerWebinar_ticker {
		a.tickerTitle {
			margin-top: 0;
		}
	}
}
@media screen and (max-width:425px) {
	.footercontent {
		width: 80%;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0 auto;
	}
	.container {
		max-width: 96%;
	}
	.mainsection {
		flex-direction: column;
	}
	section {
		padding: 20px 0;
	}
	.contact {
		button {
			font-size: 15px;
			padding: 10px 30px;
		}
		padding: 50px 0;
	}
}
@media screen and (max-width:480px) {
	.showform {
		form {
			padding: 10px 50px;
		}
		input[type="text"] {
			padding: 5px 10px;
			margin-bottom: 5px;
			font-size: 14px;
		}
		input[type="email"] {
			padding: 5px 10px;
			margin-bottom: 5px;
			font-size: 14px;
		}
		button {
			margin: 5px 0 20px 0 !important;
			font-size: 14px;
			padding: 10px 20px;
			width: 100%;
		}
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to top, rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%);
	}
	#mainNav {
		.navbar-brand {
			span {
				font-size: 10px;
			}
		}
	}
}
@media screen and (max-width:380px) {
	.showform {
		form {
			padding: 10px 20px;
		}
		button {
			margin: 5px 0 20px 0 !important;
			font-size: 14px;
			padding: 5px 10px;
			width: 100%;
		}
	}
}
