@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == artificial-intellience {
		$char: "\E001";
	}
	@if $filename == banking {
		$char: "\E002";
	}
	@if $filename == bullseye-solid {
		$char: "\E003";
	}
	@if $filename == category {
		$char: "\E004";
	}
	@if $filename == chart-line-solid {
		$char: "\E005";
	}
	@if $filename == customer-needs {
		$char: "\E006";
	}
	@if $filename == data-analysis {
		$char: "\E007";
	}
	@if $filename == data-security {
		$char: "\E008";
	}
	@if $filename == deep-insights {
		$char: "\E009";
	}
	@if $filename == encryptions {
		$char: "\E00A";
	}
	@if $filename == file-medical-alt-solid {
		$char: "\E00B";
	}
	@if $filename == like {
		$char: "\E00C";
	}
	@if $filename == linkedin {
		$char: "\E00D";
	}
	@if $filename == loupe {
		$char: "\E00E";
	}
	@if $filename == method {
		$char: "\E00F";
	}
	@if $filename == ring-chart {
		$char: "\E010";
	}
	@if $filename == saas-dashboards {
		$char: "\E011";
	}
	@if $filename == security {
		$char: "\E012";
	}
	@if $filename == star {
		$char: "\E013";
	}
	@if $filename == targeted-marketing {
		$char: "\E014";
	}
	@if $filename == twitter {
		$char: "\E015";
	}
	@if $filename == virtual-engagement {
		$char: "\E016";
	}
	@if $filename == zuser-circle-regular {
		$char: "\E017";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-artificial-intellience {
	@include icon(artificial-intellience);

}
.icon-banking {
	@include icon(banking);

}
.icon-bullseye-solid {
	@include icon(bullseye-solid);

}
.icon-category {
	@include icon(category);

}
.icon-chart-line-solid {
	@include icon(chart-line-solid);

}
.icon-customer-needs {
	@include icon(customer-needs);

}
.icon-data-analysis {
	@include icon(data-analysis);

}
.icon-data-security {
	@include icon(data-security);

}
.icon-deep-insights {
	@include icon(deep-insights);

}
.icon-encryptions {
	@include icon(encryptions);

}
.icon-file-medical-alt-solid {
	@include icon(file-medical-alt-solid);

}
.icon-like {
	@include icon(like);

}
.icon-linkedin {
	@include icon(linkedin);

}
.icon-loupe {
	@include icon(loupe);

}
.icon-method {
	@include icon(method);

}
.icon-ring-chart {
	@include icon(ring-chart);

}
.icon-saas-dashboards {
	@include icon(saas-dashboards);

}
.icon-security {
	@include icon(security);

}
.icon-star {
	@include icon(star);

}
.icon-targeted-marketing {
	@include icon(targeted-marketing);

}
.icon-twitter {
	@include icon(twitter);

}
.icon-virtual-engagement {
	@include icon(virtual-engagement);

}
.icon-zuser-circle-regular {
	@include icon(zuser-circle-regular);

}